<div class="step-container step-warning col">
  <img class="warning-icon" src="{{ url_for('static', filename='img/svg/icons/svg-info-icon.svg') }}" title="Warning" alt="Warning" />
  <div class="warning-text">We recommend testing the website in another browser to validate this as a <strong>web compatibility issue</strong>.</div>
  <div class="col center input-control">
    <button class="button next-warning issue-btn">Continue without testing</button>
    <a href="#" class="popup-trigger" data-popup-trigger="what-is-compat">What is a web compatibility issue?</a>
  </div>
</div>
