<div class="wc-IssueDetail-comment">
  <script type="text/template" id="comment-tmpl">
  <div class="wc-Comment-avatar">
    <img src="<%= avatarUrl %>" alt="">
  </div>
  <div class="wc-Comment-body wc-Comment-body--caret">
    <div class="wc-Comment-wrapper">
      <div class="wc-Comment-header">
        <span class="wc-Comment-owner">
          <a href="https://github.com/<%= commenter %>"><%= commenter %></a>
        </span> commented <a href="#<%= commentLinkId %>"><%= createdAt %></a>
      </div>
      <div class="wc-Comment-content"><%= body %></div>
    </div>
  </div>
  </script>
</div>
