
      {% if session.user_id and session.avatar_url %}
      <!-- Create issue comment -->
      <div class="wc-Comment wc-Comment--form" data-username="{{ session.username }}" data-avatar-url="{{ session.avatar_url }}">
        <div class="wc-Comment-avatar">
          <img class="" src="{{ session.avatar_url }}" alt="Avatar"/>
        </div>
        <div class="wc-Comment-body wc-Comment-body--caret">
        <label for="wc-Comment-text" class="wc-sronly">Comment Text</label>
          <textarea id="Comment-text" class="wc-Comment-wrapper wc-Comment-text" placeholder="Leave a comment"></textarea>
          <div class="wc-Form-group js-ImageUploadView">
          <script type="text/template" id="upload-input-tmpl">
          <form><div class="wc-Form-upload">
            <span class="wc-Form-upload-icon" aria-hidden="true">
              <span class="wc-Icon wc-Icon--cloud-upload"></span>
            </span>
            <label class="wc-Form-label wc-Form-label--upload" for="image">Attach a screenshot image</label>
            <input accept=".jpe,.jpg,.jpeg,.gif,.png,.bmp" class="ButtonUpload js-buttonUpload" id="image" name="image" type="file">
          </div></form>
          </script>
          </div>
          <div class="wc-Loader js-loader"></div>
          <div class="wc-Comment-button">
            <button class="Button Button--action js-issue-state-button">
              <script type="text/template" id="state-button-tmpl">
              <%= state %>
              </script>
            </button>
            <button value="comment" class="Button Button--default js-issue-comment-button" type="submit">Comment</button>
          </div>
        </div>
      </div>
      {% else %}
      <p class="wc-IssueDetail-login">Please <a href="{{ url_for('login') }}">login</a> to edit issues.</p>
      {% endif %}
      <p class="wc-margin-bottom">
        <span class="wc-keyhint">G</span>
        takes you to the
        <a href="https://github.com/{{ config['ISSUES_REPO_URI'] }}/{{ number }}">GitHub view</a> of this page.
      </p>
