<div class="wc-IssueDetail-report">
  <script type="text/template" id="issue-info-tmpl">
  <div class="wc-Comment">
    <div class="wc-Comment-avatar">
      <img src="<%= reporterAvatar %>" alt="">
    </div>
    <div class="wc-Comment-body wc-Comment-body--caret">
      <div class="wc-Comment-wrapper">
        <div class="wc-Comment-header">
          <span class="wc-Comment-owner">
            <a href="https://github.com/<%= reporter %>"><%= reporter %></a>
          </span> reported on <a href="https://webcompat.com/issues/<%= number %>"><%= createdAt %></a>
        </div>
        <div class="wc-Comment-content">
          <!-- QR Code -->
          <div class="wc-Qr-wrapper">
            <span class="wc-QrImage-wrapper">
              <button class="wc-QrImage-launcher"
                      aria-pressed="false"
                      role="button"
              >
                <span class="wc-Qr-icon wc-Icon wc-Icon--qrcode" aria-hidden="true"></span>
                <span class="wc-Qr-iconPressed wc-Icon wc-Icon--times" aria-hidden="true"></span>
                <span class="wc-sronly">Show QR code</span>
              </button>
            </span>
          </div>
          <div class="wc-IssueDetail-details">
            <%= body %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </script>
</div>

<script type="text/template" id="qr-image-tmpl">
  <div class="wc-QrImage-header">
    <button class="wc-QrImage-btn r-ResetButton">Close</button>
  </div>
  <div class="wc-QrImage-main"><img src="<%= qrDataUrl %>" alt="QR code"></div>
</script>
