<div class="Label-wrapper">
  <script type="text/template" id="issue-labels-tmpl">
    <span class="Label Label--title">Labels</span>
    {% if session.user_id and session.avatar_url %}
    <span class="LabelEditor-wrapper">
      <button class="LabelEditor-launcher wc-Icon wc-Icon--gear" aria-hidden="true">
        <span class="wc-sronly">Edit Labels</span></button>
      </span>
    {% endif %}
    <span class="Label-list">
    <% _.each(labels, function(label) { %>
      <span class="Label Label--badge" style="background-color:#<%=label.color%>">
        <%= label.name.replace(/(browser|status)-/, '') %>
      </span>
    <% }); %>
    </span>
  </script>
</div>



<script type="text/template" id="label-editor-tmpl">
  <div class="LabelEditor-table">
    <div class="LabelEditor-row LabelEditor-row--header">
      <div class="LabelEditor-header">
        <input class="form-control LabelEditor-search" placeholder="filter label">
        <button class="LabelEditor-btn">Save &amp; Close</button>
      </div>
    </div>
    <div class="LabelEditor-row">
      <div class="LabelEditor-list">
        <% _.each(labels, function(label) { %>
        <label class="LabelEditor-item">
          <span class="LabelEditor-color" style="background-color:#<%=label.color%>">
            <input class="LabelEditor-checkbox" type="checkbox" name="<%= label.name.replace(/(browser|status)-/, '') %>" data-color="<%=label.color%>">
          </span>
          <span class="LabelEditor-name"><%= label.name.replace(/(browser|status)-/, '') %></span>
        </label>
        <% }); %>
      </div>
    </div>
  </div>
</script>
