{
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "jQuery": true,
    "$": true,
    "_": true,
    "Backbone": true,
    "console": true,
    "define": true,
    "issueNumber": true,
    "markdownitEmoji": true,
    "markdownitSanitizer": true,
    "md": true,
    "module": true,
    "moment": true,
    "Mousetrap": true,
    "PaginationMixin": true,
    "Prism": true,
    "Promise": true,
    "repoPath": true,
    "require": true,
    "wcEvents": true,
    "WindowHelpers": true
  },
  "rules": {
    "comma-dangle": 0,
    "curly": [2, "all"],
    "eqeqeq": [2, "smart"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "new-cap": 2,
    "no-cond-assign": 0,
    "no-spaced-func": 2,
    "no-use-before-define": 2,
    "one-var": [2, "never"],
    "quotes": [2, "double"],
    "semi": [2, "always"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": 2
  }
}
