env/
node_modules/
.DS_Store
config.py
fabfile.py
*.pyc
*.db
docs/build/
screenshots/

# these are our 'dist' files
# checking them into the repo is silly
webcompat/static/js/webcompat.js
webcompat/static/js/diagnose.js
webcompat/static/js/issues.js
webcompat/static/js/issue-list.js
webcompat/**/*.min.js
webcompat/**/*.min.css
webcompat/**/*.dev.css

#selenium server
*.jar
*.pid
nohup.out
