env/
node_modules/
.DS_Store
config.py
fabfile.py
*.pyc
*.db

# these are our 'dist' files
# checking them into the repo is silly
webcompat/**/webcompat.js
webcompat/**/webcompat.min.js
webcompat/**/issues.js
webcompat/**/issues.min.js
webcompat/**/*.min.css
webcompat/**/*.dev.css

#selenium server
*.jar