env/
node_modules/
git_modules/
.DS_Store
config.py
fabfile.py
*.pyc
*.db
docs/build/
screenshots/
uploads/
.idea/
.vscode/
config/secrets.py
package-lock.json

# The data folder contains information that shouldn't live in version control.
data/*

# these are our 'dist' files
# checking them into the repo is silly
webcompat/static/js/webcompat.js
webcompat/static/js/diagnose.js
webcompat/static/js/issues.js
webcompat/static/js/issue-list.js
webcompat/static/js/user-activity.js
webcompat/static/js/templates.js
webcompat/**/*.min.js
webcompat/**/*.min.css
webcompat/**/*.dev.css

#selenium server
*.jar
*.pid
nohup.out
