# Need to use "trusty" for Java 1.8
# ref: https://blog.travis-ci.com/2015-10-14-opening-up-ubuntu-trusty-beta/
sudo: required
dist: trusty

language: python

python:
  - "2.7"

# cache pip and npm package installations
cache:
  pip: true
  directories:
    - node_modules

# limit the depth of the commits we clone
git:
  depth: 5

addons:
  firefox: "50.1.0"
  browserstack:
    username: "carolchung2"
    secure: "tohP3qGVoeTTfoLFTkrHI5xXk9RcRHqN0kH9SyinOODTWvSGTb1rqVztL+fz/KI2Buo1OxOA4w3QNyPQPGVgIISd5wk3/AY+XsxYmhtglCcE9dnFr1T+Ze6UbwGef0ozhPrN9QzlklqKBXb0hSrr6prRSngbGRafqXYsE/vA/LvZ5E3WpPIIqCa502UG9yk8knkHVNsbj2gxmQt/fexVu+H7eSPxBkh6TlnyhvD1gAPaleQT8Mqg2X4fJeNOayRPK4C5GqcDslfwhp9A/MB9Aux7tIhOxFkXW4s3ltyBSExd+vlzyk2tkphUbUFG3I0ld1uXoWbkdVDb/HBDO+rHumGiygeU1K7wOEsF41HSpT/lvSsClNU5Gtd9y7dTj6Co4eHY+IG4OKYtFp3yLOYsUcwmTAHOxlJUGFxC4FgsSZBoOopK+M4i6Ys8KsoZc2Bc5Y1YXejKKa9SqS80FvtIugsXUJPXbMVahMy9rlg/UeTyN0TynDpPrHg8cuu4UA6KHo6KSAgLMHb4ui6yF6cAKuzuOemK0qTCDVMLWrjhFwW/QqzPJCxtJNahIjgGvCJKMltCxEhOEfdbfQ/1ROGvVu3scXwz3QgZagSrhQoGQKaOmYsBpbHZogt8Qb0YI+lNpCmVgl01D/UwUCl3Z4FNooNEItGIIRX+e3/EupzBDlM="
    proxyHost: "http://localhost"
    proxyPort: "5000"

env:
  global:
    - ISSUES_REPO_URI=webcompat/webcompat-tests/issues
    - FAKE_ID=e80a666fbf1fa9ea18db
    - FAKE_SECRET=688c4546f09624f8c44773b22268064dfca19a59
    # grab latest 4.x release, which is LTS for now
    - TRAVIS_NODE_VERSION="4"

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install
  - travis_retry npm run pip
  - travis_retry npm run config
  - which firefox
  - java -version
  - firefox --version
  # lint python
  - pep8 --ignore=E402 webcompat/ tests/ config/secrets.py.example
  - npm run module
  - python run.py -t &

before_script:
  - "sleep 2"
  # lint JS in default eslint task
  - npm run lint
  - npm run build

# now run the tests!
# if this is a pull request from a fork, TRAVIS_SECURE_ENV_VARS will be false, so
# just run the non-auth tests. otherwise, run everything.
script:
  - nosetests
  - if [ "$TRAVIS_SECURE_ENV_VARS" == "false" ] ; then node_modules/.bin/intern-runner config=tests/browserstack_remote BROWSERSTACK_USERNAME="$BROWSERSTACK_USERNAME" BROWSERSTACK_ACCESS_KEY="$BROWSERSTACK_ACCESS_KEY" reporters=Console functionalSuites=tests/functional-nonauth ; fi
  - if [ "$TRAVIS_SECURE_ENV_VARS" == "true" ] ; then node_modules/.bin/intern-runner config=tests/intern reporters=Console user="$USER" pw="$PW" ; fi
