# Need to use "trusty" for Java 1.8
# ref: https://blog.travis-ci.com/2015-10-14-opening-up-ubuntu-trusty-beta/
sudo: required
dist: trusty
group: travis_latest

env:
  - MOZ_HEADLESS=1
  
addons:
  firefox: latest

# Only run travis on the master branch (and PRs), not all branches
branches:
  only:
    - master

language: python

python:
  - "2.7"

# cache pip and npm package installations
cache:
  pip: true
  directories:
    - node_modules

# limit the depth of the commits we clone
git:
  depth: 5

env:
  global:
    - ISSUES_REPO_URI=webcompat/webcompat-tests/issues

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install node
  - node --version
  - travis_retry npm install
  - travis_retry npm run pip
  - travis_retry npm run config
  - which firefox
  - java -version
  # lint python
  - pep8 --ignore=E402 webcompat/ tests/ config/secrets.py.example
  - python run.py -t &

before_script:
  - "sleep 2"
  # lint JS in default eslint task
  - npm run lint --force
  - npm run build --force
  # Check that server is actually running
  - curl localhost:5000

# now run the tests!
script:
  - nosetests
  - node_modules/.bin/intern-runner config=tests/intern reporters=Console
