/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Import var */
@import "_variable.css";
/* import font */
@import "_font.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/*----------Global Styles----------*/
html {
   font-family: var(--base-font);
   font-weight: 300;
   color: var(--wc-variant-background-dark);
}
.wc-viewport {
  min-width: var(--base-min-width);
  min-width: 20rem;
  max-width: var(--base-max-width);
  max-width: 120rem;
  margin:0 auto;
}

/*---------- Header ----------*/
.header {
  background: var(--wb-background-light);
  padding: 0.5em 0;
}
.nav {}
.nav__logo {
  height: 20px;
  vertical-align: middle;
}
.nav--big .nav__logo {
  height: 55px;
}
.nav__section{
  display: inline-block;
  width: 50%;
}
.nav__section--left {
  text-align: left;
}
.nav__section--right {
  text-align: right;
}
.nav__link {
  display: inline-block;
  color: #fff;
}
.nav__link:hover {
  color: #fff;
}
.nav__link--left {
  padding-left:6em;
}
.nav__link--right {
  padding-right:7em;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  .nav__link--left {
    padding-left:0;
  }
  .nav__link--right {
    padding-right:0;
  }
}
/* 450x px */
@media all and (max-width: 28.115em) {
  .nav.container {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* 330px */
@media all and (max-width: 20.615em) {
  .nav__link {
    font-size: .8em;
  }
}
.header .container {
  background-image: none !important;
}
.nav__avatar {
  height: 20px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: .3em;
  margin-right:7em;
}
.nav--big .nav__avatar {
  height: 55px;
}
/* 330px */
@media all and (max-width: 20.615em) {
  .nav__avatar {
    display: none;
  }
}


/*----------Global H Styles----------*/
h1 {
  font-size: 3.5em;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  font-weight: 600;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

/*----------Button----------*/
.Button {
  display: inline-block;
  background-color: transparent;
  margin-bottom: .5em;
  padding: .5em 2em;
  text-decoration: none !important;
  font-weight: 700;
  border-radius: 20px;
  color: #000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: .8;
  line-height: normal;
  user-select: none;
  -webkit-appearance: none;
}
/**
* Remove excess padding and border in Firefox 4+
*/
.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}
.Button:hover {
  color:#fff;
}
.Button--default {
  border: solid 4px var(--wb-background-dark);
}
.Button--default:hover {
  background-color: var(--wb-background-dark);
}
.Button--action {
  border: solid 4px var(--wc-variant-background-light);
}
.Button--action:hover {
  background-color: var(--wc-variant-background-light);
}
.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--Button-disabled-opacity);
}
/*----------Link Styles----------*/
a {
  color: var(--base-link-color);
}
a:hover, a:focus {
  color: var(--base-link-color);
  outline: none;
  text-decoration: underline;
}
.bold {
  font-weight: 700;
}
.divider {
  font-weight: 700;
  border-top: 5px solid var(--wb-background-dark);
  width: 30px;
  margin-left: 5em;
  color: #fff;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
/*margin: 0 auto -60px;*/
/* mike: commenting out because this collapses into content
   at smaller viewports*/
}
#push {
  height: 60px;
}
/*----------Footer ----------*/

.footer {
  background-color: #ffffff;
  border-top: 5px solid var(--wb-background-dark);
  clear: both;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  .footer {
    margin-top: 3em;
  }
}
.footer .container {
  padding: 1em 3em 1em;
}
.footer .follow {
  font-weight: 700;
}
.footer__section {
	list-style: none;
}
.footer__section--left {
  float: left;
}
.footer__section--right {
  float: right;
}
.footer__item {
  display: inline-block;
}
.footer__section--left .footer__item {
  padding: 0.75em 0.75em 0.75em 0;
}
.footer__section--right .footer__item {
  padding: 0.75em 0 0.75em 0.75em;
}
.footer__section--left a {
  margin-right: 1em;
}

/* 600px */
@media all and (max-width: 37.49em) {
  .footer__item {
    display: block;
  }
}
/* 770px */
@media all and (max-width: 48.115em) {
  .footer__item {
    font-size: 0.75em;
  }
}
/* 375px */
@media all and (max-width: 23.4275em) {
  .footer__section--left,
  .footer__section--right {
    float: none;
	margin:0;
  }
}
/* 375px */
@media all and (max-width: 23.4275em) {
  .footer__section--right  .footer__item {
    padding-left: 0;
  }
}

/*--------Flash Messages---------*/
.flash {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  opacity: 0.8;
  background-color: white;
  padding: 0.5em 1em;
  text-align: center;
  color: #000;
}

.error {
  color: #fff;
  background-color: rgba(255, 89, 89, 0.92)
}

/*--------Homepage Styles--------*/

#hero {
  background-color: var(--wb-background-dark);
  text-align: left;
  color: #fff;
  padding: 0;
}
#hero .container {
  background: url(../img/LightBulbHero.png) no-repeat right 100px top;
  background-origin: content-box;
}
/* 770px */
@media all and (max-width: 48.115em) {
  #hero .container {
    background-size: 18%;
    background-position: right 80px top -50px;
  }
}
/* 600px */
@media all and (max-width: 37.49em) {
  #hero .container {
    background: none;
  }
}
#maintitle {
  padding: 6em 5em;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  #maintitle {
    padding: 3em 1em 3em;
  }
}
#maintitle h1 {
  text-shadow: -1px -1px 0px rgba(0,0,0,.25);
}
/* 770px */
@media all and (max-width: 48.115em) {
  #maintitle h1 {
    font-size: 3em;
  }
}
#report-bug {
  display: block;
  position: relative;
  top: 1em;
  font-size: 2em;
  color: #fff;
  text-decoration: none !important;
  transition: top 100ms ease-out 0ms;
}
/*icon */
#report-bug .icon {
  width: 1.15em;
  height: 1.15em;
  line-height: 1.15em;
  margin-left:.3em;
  background-color: #fff;
  color: var( --wb-background-dark);
  border-radius: 50%;
  transition: all 0.3s linear 0s;
}
/* hover a icon */
#report-bug:hover .icon {
  background-color: var( --wb-background-dark);
  color: #fff;
  transition: all 0.3s linear 0s;
}
/* hover a - icon down */
#report-bug:hover .icon:before {
  content: "\e602";
}
/* open a - icon down*/
#report-bug.opened .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e602";
}
/* hover open a - icon up */
#report-bug.opened:hover .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e600";
}

#report-bug.opened {
  top: 2em;
  transition: top 100ms ease-out 0ms;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  #report-bug.opened {
    top: 1.25em;
  }
}
#report-bug:hover, #report-bug:focus {
  padding-left: 0;
  color: #fff;
}
#lightbulb {
  padding: 0 5em;
}
#lightbulb img {
  margin: 0 auto;
  display: block;
  height: 80%;
}
#arrow {
  height: 1.15em;
  vertical-align: middle;
}
.form-opened {
  display: block;
}
.form-closed {
  display: none;
}
/*-------Browse Issues------*/
#browse-issues-wrapper {
  background-color: #f0f0f0;
}
#browse-issues h2 {
  display: inline;
  margin-right: 0.5em;
}
.key {
  position: relative;
  bottom:0.1em;
}
/* 770px */
@media all and (max-width: 48.115em) {
  .key {
    display: block;
    margin-top: 1em;
  }
}
.key span {
  padding: 0.3em 1em;
}
/* 990px */
@media all and (max-width: 61.865em) {
  .key span {
    padding: 0 0 0 0.5em;
  }
}
.issues {
  background-color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.issue-contactready {
  border-left: 5px solid var(--wc-state-ready);
}
.issue-needs-diagnosis {
  border-left: 5px solid var(--wc-state-need);
}
.issue-closed {
  border-left: 5px solid var(--wc-stat-close);
}
.issue-number {
  font-weight: 400;
}
.issue-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:0.5em;
}
.issue-metadata {
  font-size: 12px;
}
.more-issues {
  margin-bottom: -23em;
  text-align: center;
  clear: left;
}
#my-issues h3 {
  padding-left: 15px;
  padding-right: 15px;
}
/*---Search on Github---*/
input[type=search] {
  float: left;
  padding: 2em 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fdf3dd;
}
#howitworks,
#join,
#browse-issues {
  padding: 3em 3em;
}
#browse-issues {
  padding-bottom: 2em;
}
#threesteps {
  padding: 1em 0;
}
#join p {
  padding: 1em 0;
  line-height: 150%;
}
#join img {
  width: 50px;
  margin-right: 1em;
  display: table-cell;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  #howitworks,
  #join,
  #browse-issues {
    padding: 2em 1em;
  }
}
#threeways {
  vertical-align: top;
}
.bignumber {
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 0.75em 0.5em 0.5em;
  display: table-cell;
}
/* 950px */
@media all and (max-width: 59.365em) {
  .bignumber {
    padding-right: 0.5em;
  }
}
/* 770px */
@media all and (max-width: 48.115em) {
  .bignumber {
    padding-bottom: 0;
  }
}
#join img, .bignumber {
  float: left;
}
.bignumber + p, #threeways img + p {
  padding: 0.6em;
  display: table-cell;
}
/*------Internal Pages------*/
.page {
  background-color: #fff;
}
.page h2 {
    margin-bottom: 1em;
}
.page h4 {
    margin: 0.75em 0 1em;
    font-weight: 700;
}
.page p {
  line-height: 150%;
  margin-bottom: 1em;
}
.page ol {
  line-height: 150%;
  margin: 1.25em 0;
}
/* 450x px */
@media all and (max-width: 28.115em) {
  .page ol {
    margin: 1.25em 0 1.25em 1.25em;
  }
}
.page li {
  margin-bottom: 1em;
}
.page strong {
  font-weight: 500;
}
.maincontent {
  text-align: left;
  padding: 2em 5em;
}
/*------Forms-------*/
textarea {
  overflow: auto;
}
label, .label {
  color: #000;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: inherit;
}
label {
  float: left;
}
/* 990px */
@media all and (max-width: 61.865em) {
  label {
    float: none;
  }
}
.label {
  padding-left: 0;
}
form.cf {
  background: #fff;
  padding: 3em 5em 2em 5em;
/*  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;*/
}
#new-report h2 {
  font: #fff;
  margin-left: 0;
  margin-bottom: 1em;
}
.form-control {
  border-radius: 20px;
  padding: 0.5em;
}
form .button {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#submitanon {
  float: left;
}
#submitgithub {
  float: right;
  margin: 0 auto;
}
#submitdiv {
  display: block;
  font-weight: 700;
  border-top: 5px solid var(--wb-background-dark);
  width: 30px;
  margin: 1em 0 0;
  color: #fff;
  display: block;
}
.row {
  padding: .5em;
}
.row:last-child p:not(.issue-metadata) {
  margin-bottom: 0.5em;
  color: #000;
}

/* bootstrap overrides */
.radio-inline, .checkbox-inline {
  /* Hack to get Chrome 24+ to behave.
  See https://github.com/twbs/bootstrap/issues/6599 */
  white-space: nowrap;
}
.radio, .radio-inline {
  padding-left: 15px;
  margin-right: 8px;
  margin-left: 8px;
  width:100%;
  height: 34px;
  position: relative;
}
.radio label, .radio-inline label {
  font-weight: 300;
  float: none;
}
.radio input,
.radio-inline input {
  position: absolute;
  left: 10px;
  top: 0px;
}
/* bootstrap override */
.radio-inline + .radio-inline {
  margin-left: 8px;
}
#site-owner {
  display:block;
  text-align: left;
}
/* `ruby -e 'puts "skcah top yenoh".reverse'` */
.col-dm-12 {
  display: none !important;
}
/*------Form Validation------*/
.has-error .form-control {
  border-color: #ff0000;
}
.has-error .form-control:focus{
  border-color: #ff0000;
  box-shadow:none;
}
.has-error .help-inline {
  color: #ff0000;
  float: right;
}

/* 600px */
@media all and (max-width: 37.49em) {
  .flourish {
    display: none;
  }

  .submit {
    float: left;
    margin: 0 0 1em;
  }
  .col-md-6.submit, .col-md-6 button {
    width: 100%;
  }
  .has-error .help-inline {
    float: none;
    display: block;
  }
}
.validation-wrapper {
  display: block;
  clear: both;
  position: relative;
}
.validation-wrapper::after {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
.validation-wrapper input {
  padding-right: 40px;
}
.no-error .validation-wrapper::after {
  background-image: url(../img/valid.svg);
}
.has-error .validation-wrapper::after {
  background-image: url(../img/invalid.svg);
}
.no-error .help-inline {
  display: none;
}
.no-error .form-control {
  border-color: var(--wb-background-dark);
}
.no-error .form-control:focus{
  border-color: var(--wb-background-dark);
  box-shadow:none;
}
.disabled {
  opacity: 0.5;
}
/*------Thanks Page------*/
.thanks p {
  margin-bottom: 1.5em;
}
/*------Page Errors------*/
#returnhome {
  padding: 0;
}
/*------Social Share------*/
#twittershare {
  padding: 0;
}
/*------Issues view------*/

.issue {
  display: none;
}
/* Wrapper title and date issue */
.issue__main_title {
  line-height: 1em;
  margin-bottom: .5em;
  padding: 0px 0px 0px .5em;
}
.issue__title {
  display: inline-block;
  vertical-align: middle;
}

/* btn back /index */
.issue__back {
  display: inline-block;
  vertical-align: middle;
  margin:0 .8em 0 0;
}
.issue__back:hover {
  text-decoration: none;
}
.issue__back .icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  background-color: var(--wc-variant-background-light);
  color: #fff;;
  border-radius:50%;
  transition: all 0.3s linear 0s;
}
.issue__back:hover .icon {
  background-color: var(--wc-variant-background-dark); 
  transition: all 0.3s linear 0s;
}
/* wrapper isssue */
.issue__wrapper {
	margin:0 0 0 4.2em;
}
/* 1180px */
@media all and (max-width: 73.74em){
  /* Issues view */
  .issue__wrapper {
	margin:0;
  }
}
.issue__create {
	font-size: 1.2em;
	margin:0 0 3em
}

/* State issue */
.issue__state {
	display: inline-block;
	padding: 7px 23px;
	color: #fff;
}
/*Needs Diagnosis*/
.issue__state--need {
	background-color: var(--wc-state-need);
}
/*Ready for Outreach*/
.issue__state--ready {
	background-color: var(--wc-state-ready);
}
/*Site wait*/
.issue__state--sitewait {
    background-color: var(--wc-state-sitewait);
}
/*Close*/
.issue__state--close {
	background-color: var(--wc-stat-close);
}
.issue__date {
	display: inline-block;
}

/* container details issue */
.issue__details {
    word-break: break-word;
    overflow: hidden;
}

/* temp hack to hide <!-- browser info --> */
.issue__details > p:first-child {
  display: none;
}

/* no need */
/*.issue__info + .issue__info {
	margin: 2.3em 0 0;
}*/
/*.issue__info__wrapper {
	padding: 0;
	margin: 0;
	list-style: none;
}*/
/*.issue__info__wrapper + .issue__info__wrapper {
	margin:2em 0 0;
}*/

.issue__label:after {
	display: table;
	content: "";
	clear: both;
}
/* name of label */
.issue__label__title {
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	margin-right:.6em;
}
/* value of label */
.issue__label__value {
	font-size: 1.2em;
	float: left;
}
/* btn add label */
.issue__label__btn {
	float: left;
	margin-left:1.2em;
	font-size: 1.2em;
	color: var(--wc-variant-background-light);
}

/*------Comment------*/
/*wrapper list comment */
.issue__comment {
	margin:4em 0 0;
}
/* wrapper comment issue */
.comment + .comment {
    margin-top:1em;
}
.comment:after {
    content: "";
    display: table;
    clear: both
}
/* case form */
.comment--form {
	padding-top:2em;
	margin:2em 0 0 ;
}

.comment__avatar,
.comment__body {
	float: left;
}
/* 990px */
@media all and (max-width: 61.865em) {
  .comment__avatar {
	  display: none;
  }
}
.comment__body {
	margin-left:.8em;
	position: relative;
}
/* Caret */
.comment__body--caret:after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top: 15px;
	left: -8px;
	background-color: #f0f0f0;
	border-color: var(--wc-variant-background-light);
	border-style: solid;
	border-width: 0px 0px 2px 2px;
	transform: rotate(45deg);
}
/* case form */
.comment--form .comment__body--caret:after {
   background-color: #fff;
}
.comment__avatar img {
	width: 59px;
	height: 56px;
}
.comment__header {
	border-radius: 10px 10px 0 0;
	background-color: #F0F0F0;
	padding:.8em 1em;
	margin: 0 -1em;
}
/* comment texte */
.comment__content {
    overflow: hidden;
    word-break: break-word;
    padding:.5em 0 0;
}

.comment__wrapper {
	position: relative;
	width: 650px;
	/*last 256px*/
	min-height: 128px;
	border: solid 2px var(--wc-variant-background-light);
	border-radius: 10px;
	padding: 0 1em 2em 1em;
	word-wrap: break-word;
}
/* img attach file */
.comment__attach {
	display: block;
	margin:.8em 0 0 0;
	padding: .4em;
	text-align: center;
	overflow: hidden /* prevent overflow */
}
/* 770px */
@media all and (max-width: 48.115em) {
  /* Issues view */
  .comment__wrapper,
  .comment__body {
  	width: 100%;
  }
}
/* prevent width of img */
.comment__attach img {
	width: 100%;
	max-width: 100%;
}
/* comment with header */
.comment--form  .comment__wrapper {
	padding-top: 1em;
}
/* name of owner */
.comment__owner {
	font-weight: bold;
}
/* drag and drop */
.comment__drag{
    position: relative;
}
.comment__dd {
  	position: absolute;
  	bottom: .6em;
  	width: 100%;
  	text-align: center;
  	color: var(--wc-variant-background-light);
  	font-size: .8em;
  	z-index: 2;
  	font-weight: bold;
}
.comment__dd__label {
	color: #e6bf04;
}
/* Textarea Placeholder style */
.comment__wrapper::-webkit-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__wrapper:-moz-placeholder { /* Firefox 18- */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

.comment__wrapper::-moz-placeholder {  /* Firefox 19+ */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

comment__wrapper:-ms-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__button {
	text-align: right;
	margin:1.2em 0 0;
}
/* 770px */
@media all and (max-width: 48.115em) {
 .comment__button {
	text-align: center;
  }
}
.comment__button .button {
	text-align: center;
}

/* 450x px */
@media all and (max-width: 28.115em) {
  .maincontent.container,
  .footer .container,
  form.cf {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* 330px */
@media all and (max-width: 20.615em) {
  .row {
    margin-left: -20px;
    max-width: 320px;
  }
}
