html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/*----------Global Styles----------*/
html {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}
.button {
  text-align: center;
  padding: .5em 1.75em ;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
}
.readmore {
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: underline !important;
}
.bold {
  font-weight: 700;
}
footer {
  padding: 1em 6em;
  background-color: #ffffff;
  height: 1.5em;
  clear: both;
}
.footerleft {
  float: left;
  padding-left: 6em;
}
.footerright {
  float: right;
  padding-right: 6em;
}
.footerright li {
  display: inline;
  padding: 0.75em;
}
/*--------Flash Messages---------*/
.flash {
  border: 0.15em solid #D47039;
  position: absolute;
  left: 50%;
  top: 2em;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  color: #000;
  margin-left: -25%;
  width: 50%;
  text-align: center;
}

/*--------Homepage Styles--------*/
.hero {
  background-color: #f8c41c;
  text-align: left;
  color: #fff;
  padding: 2em;
}
#maintitle {
  padding: 3em;
}
#report-bug, form button.btn:not(.btn-link) {
  background-color: transparent;
  border: .35em solid #f8c41c;
  margin-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  color: #404040;
  text-decoration: none !important;
  font-weight: 700;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
form .btn-link, form .btn-link:hover {
    color: #404040;
    font-weight: 700;
    text-decoration: underline;
    padding-left: 0;
}
.form-opened {
  display: block;
}
.form-closed {
  display: none;
}
/*---Search on Github---*/
input[type=search] {
  float: left;
  padding: 2em 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fdf3dd;
}
.about, .join {
  padding: 3em 0;
}
.about {
  line-height: 150%;
}
.join {
  color: #404040;
  line-height: 350%;
}


/*------Internal Pages------*/
.page {
  background-color: #f8c41c;
  text-align: left;
  padding: 2em;
}
#beta {
  padding: 0.5em;
  text-align: center;
}
/*------About Page------*/
#about-page h2 {
    margin-bottom: 2em;
}
#about-page h4 {
    margin: 0.75em 0 1em;
}
/*------Forms-------*/
label, .label {
  color: #404040;
  margin-bottom: 5px;
  font-weight: inherit;
  font-size: inherit;
}
.label {
  padding-left: 0;
}
form.cf {
  background: #fff;
  padding: 2em 3em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#new-report h2 {
  font: #fff;
  margin-left: 0;
  margin-bottom: 1em;
}
.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
form .button {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#submitanon {
  float: right;
  text-align: center;
}
#submitgithub {
  float: left;
  text-align: center;
}
.row {
  padding: .5em;
}
.row:last-child p {
  margin-bottom: 0.5em;
  color: #000;
}
/* bootstrap overrides */
.radio-inline, .checkbox-inline {
  /* Hack to get Chrome 24+ to behave.
  See https://github.com/twbs/bootstrap/issues/6599 */
  white-space: nowrap;
}
.radio, .radio-inline {
  padding-left: 8px;
  margin-right: 8px;
  margin-left: 8px;
  width:100%;
  height: 34px;
}
.radio label, .radio-inline label {
  font-weight: 300;
}
/* bootstrap override */
.radio-inline + .radio-inline {
  margin-left: 8px;
}
#site-owner {
  display:block;
  text-align: left;
}
/* `ruby -e 'puts "skcah top yenoh".reverse'` */
.col-dm-12 {
  display: none !important;
}
/*------Form Validation------*/
.has-error .form-control {
  border-color: #ff0000;
}
.has-error .form-control:focus{
  border-color: #ff0000;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.has-error .help-inline {
  color: #ff0000;
  float: right;
}
.has-error input {
  background: url(../img/error.svg) no-repeat right 50%;
  background-size: 15px;
  background-origin: content-box;
}
/*------Media Queries------*/
@media all and (max-width: 855px) {
  .hero h1 {
  font-size: 4.3em;
  }
  .hero h2 {
  font-size: 1.55em;
  }
  .button {
    font-size: 1.4em;
    padding: .45em 1.65em;
  }
  .join h3 {
    font-size: 3.5em;
  }
  .join h4 {
    font-size: 1.5em;
  }
  .join h5 {
    font-size: 2.5em;
  }
}

@media all and (max-width: 773px) {
  .hero h1 {
  font-size: 4em;
  }
  .hero h2 {
  font-size: 1.468745em;
  }
}

@media all and (max-width: 730px) {
  .hero h1 {
  font-size: 3.5em;
  }
  .hero h2 {
  font-size: 1.27em;
  }
  .join h3 {
    font-size: 3em;
  }
  .join h4 {
    font-size: 1.4em;
    line-height: 125%;
  }
  .join h5 {
    font-size: 2.25em;
  }
}
@media all and (max-width: 661px) {
  .footerleft, .footerright {
    float: none;
    text-align: center;
    padding: .5em 0;
  }
}