/* imports for vendor files that should be imported first */
@import "lib/reset.css";
@import "lib/reset-add.css";

/* custom src files */
@import "src/variables.css";
@import "src/typo.css";
@import "src/grid.css";
@import "src/icons.css";
@import "src/button.css";
@import "src/nav.css";
@import "src/sub-nav.css";
@import "src/bio.css";
@import "src/hero.css";
@import "src/tiles.css";
@import "src/form.css";
@import "src/issue-wizard.css";
@import "src/issue.css";
@import "src/labels.css";
@import "src/label-box.css";
@import "src/label-editor.css";
@import "src/filter.css";
@import "src/filter-bar.css";
@import "src/issues-list.css";
@import "src/pagination.css";
@import "src/dropdown.css";
@import "src/footer.css";
@import "src/notification-bar.css";
@import "src/animations.css";

/* imports for other vendor files */
@import "lib/prism-gh-theme.css";
@import "lib/github-light.css";

*::after,
*::before {
  box-sizing: border-box;
}

#body-webcompat {
  background-color: var(--color-bg-page);
  -webkit-font-smoothing: antialiased;
  padding: var(--navi-height) var(--grid-outermargin-s) var(--unit-gutter-m);
}

@media screen and (min-width: 665px) {
  #body-webcompat.is-label-editor-open {
    overflow: hidden;
  }
}

@media screen and (min-width: 665px) {
  #body-webcompat {
    padding: var(--navi-height) var(--grid-outermargin-m) calc(2 * var(--unit-gutter-m));
  }
}

@media screen and (min-width: 998px) {
  #body-webcompat {
    padding: var(--navi-height) 0 0;
  }
}

.main {
  overflow: hidden;
  width: 100%;
}

/* helper to hide meta elements */
.is-hidden {
  display: none;
}

.off-screen {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 665px) {
  .desktop-only {
    display: inline-block;
  }
}

.visually-hidden {
  visibility: hidden;
}

.right {
  float: right;
}

.img-fit {
  max-height: 75vh;
  max-width: 100%;
}

@font-face {
  font-display: optional;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu3cOWxw.woff2") format("woff2");
}

@font-face {
  font-display: optional;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2") format("woff2");
}

@font-face {
  font-display: optional;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  src: local("Open Sans"), url("https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2") format("woff2");
}

@font-face {
  font-display: optional;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  src: local("Open Sans"), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW.woff2") format("woff2");
}
