/*----------Base----------*/
@import "base/variable.css";
@import "base/font.css";

/*----------Vendor----------*/
@import "vendor/prism.css";
@import "suitcss-utils-display/index.css";
@import "suitcss-utils-align/index.css";
@import "cssrecipes-reset/index.css";
@import "cssrecipes-grid/index.css";
@import "components/grid.css";
@import "cssrecipes-utils/lib/all.css";
@import "cssrecipes-utils/lib/max.css";
@import "cssrecipes-utils/lib/min.css";
@import "cssrecipes-custom-media-queries/index.css";

/*----------Component----------*/
@import "components/navbar.css";
@import "components/footer.css";
@import "components/button.css";
@import "components/comment.css";
@import "components/label-editor.css";
@import "components/responsive.css";
@import "components/form.css";
@import "components/issue-item.css";
@import "components/dropdown.css";
@import "components/flash-message.css";
@import "components/hero.css";
@import "components/filter.css";
@import "components/pagination.css";
@import "components/labels.css";
@import "components/title.css";
@import "components/loader.css";
@import "components/box.css";
@import "components/report-form.css";
@import "components/issue-detail.css";
@import "components/qrcode.css";

/*----------Layout----------*/
@import "layout/body.css";
@import "layout/utilities.css";

/*----------page----------*/
@import "page/home.css";
@import "page/static.css";
@import "page/contributors.css";
@import "page/issue-list.css"
