/*----------Base----------*/
@import "base/variable.css";
@import "base/font.css";

/*----------Vendor----------*/
@import "vendor/prism.css";

/*----------Component----------*/
@import "components/button.css";
@import "components/comment.css";
@import "components/labels.css";
@import "components/responsive.css";
@import "../../../../node_modules/suitcss-components-grid/index.css";
@import "components/Grid.css";
@import "../../../../node_modules/suitcss-utils-size/index.css";
@import "../../../../node_modules/suitcss-utils-display/index.css";
@import "../../../../node_modules/suitcss-components-arrange/index.css";
@import "../../../../node_modules/suitcss-utils-align/index.css";
/*----------Layout----------*/
@import "layout/body.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/utilities.css";

/*----------page----------*/
@import "page/home.css";
@import "page/issues.css";
@import "page/static.css";
