<div class="wc-content">
  <div class="r-Grid">
    <div class="r-Grid-cell r-all--1of2">
      <div class="js-issue-sorting">
        <script type="text/template" id="issuelist-sorting-tmpl">
          <div class="wc-Dropdown js-dropdown-wrapper js-dropdown-pagination"></div>
          <div class="wc-Dropdown js-dropdown-wrapper js-dropdown-sort"></div>
        </script>
      </div>
    </div>
    <div class="r-Grid-cell r-all--1of2">
      <div class="wc-Pagination js-pagination-controls">
        <a class="wc-Pagination-link js-pagination-previous" href="">previous</a>
        <a class="wc-Pagination-link js-pagination-next" href="">next</a>
      </div>
    </div>
  </div>
</div>
