<div class="wc-IssueSearch js-issuelist-search">
  <script type="text/template" id="issuelist-search-tmpl">
    <div class="wc-content">
      <div class="wc-IssueSearch-content">
        <label for="wc-IssueSearch-input" class="wc-sronly">Search By Keyword</label>
        <input type="text" id="IssueList-search-input" class="wc-IssueSearch-form mousetrap" placeholder="Search by keyword">
        <button role="button" type="submit" class="r-ResetButton wc-IssueSearch-button js-search-button">
          <span class="wc-sronly">Search</span>
          <span class="wc-Icon wc-Icon--search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </script>
</div>
