{% extends "layout.html" %}
{% block title %}Alumni Contributors{% endblock %}
{% block body %}
<div>
  {% include "nav/nav.html" %}
  <main role="main">
    <section class="grid grid-show-gap">
      <div class="grid-row">
        <aside class="grid-cell x1-fix">
          {% include "contributors/sub-nav.html" %}
        </aside>
        <article class="grid-cell x1">
          <h3 class="headline-1 heading">The project</h3>
          <p>
            We believe the web is an amazing place that everyone should be free to create, explore and discover. But the web is also ever-changing. To help website developers keep up with changes, we’ve created this community space where problems with websites (bugs) can be reported, diagnosed and fixed.
          </p>
        </article>
      </div>
    </section>
    <section class="grid">
    <div class="grid-row">
      <div class="grid-cell x3">
        <h3 class="headline-1 heading">People who previously participated</h3>
      </div>

<!-- BEA Rizental -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/25176023" alt="Bea Rizental" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Bea Rizental</h4>
      <h4 class="headline-3">Brazil</h4>
      <p>
        Design student who really just wants to code.
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-github" href="http://github.com/brizental" title="brizental on github" target="_blank">github@brizental </a>
    </p>
  </div>
</article>

<!-- Brad Lassey -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/1386226" alt="Brad Lassey" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Brad Lassey</h4>
      <h4 class="headline-3">USA</h4>
      <p>Googler, Mozillian, Bostonian, Rugger, Engineer</p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="https://twitter.com/blassey" title="blassey on twitter" target="_blank">twitter@blassey </a> <br>
      <a class="bio-icon-github" href="https://github.com/bslassey" title="bslassey on github" target="_blank">github@bslassey </a>
    </p>
  </div>
</article>

<!-- Carol Chung -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/4755432" alt="Carol Chung" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Carol Chung</h4>
      <h4 class="headline-3">Los Angeles, USA</h4>
      <p>Front-End Web Developer (with API coding experience). 💕JavaScript & animation. </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-github" href="https://github.com/cch5ng" title="cch5ng on github" target="_blank">github@cch5ng </a>
    </p>
  </div>
</article>

<!-- CHRISTIAN Stuff -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars0.githubusercontent.com/u/1336590" alt="Christian Stuff" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Christian Stuff</h4>
      <h4 class="headline-3">Germany</h4>
      <p>
        Loves family, music, frontend development and nice coffee.
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="http://twitter.com/regaddi" title="regaddi on twitter" target="_blank">twitter@regaddi </a> <br>
      <a class="bio-icon-github" href="http://github.com/regaddi" title="regaddi on github" target="_blank">github@regaddi </a>
    </p>
  </div>
</article>

<!-- Daniel Davis -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/94173" alt="Daniel Davis" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Daniel Davis</h4>
      <h4 class="headline-3">Japan</h4>
      <p>Communications Manager at DuckDuckGo</p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="https://twitter.com/ourmaninjapan" title="ourmaninjapan on twitter" target="_blank">twitter@ourmaninjapan </a> <br>
      <a class="bio-icon-github" href="https://github.com/tagawa" title="tagawa on github" target="_blank">github@tagawa </a>
    </p>
  </div>
</article>

<!-- Deepthi Venkitaramanan -->
<article class="grid-row bio">
<div class="grid-cell x1-fix">
  <img src="https://avatars3.githubusercontent.com/u/7373087" alt="Deepthi Venkitaramanan" class="bio-img">
</div>
<div class="grid-nested x1">
  <div class="grid-cell bio-desc x1">
    <h4 class="headline-2 heading">Deepthi Venkitaramanan</h4>
    <h4 class="headline-3">Atlanta, USA</h4>
    <p>Love traveling, cooking</p>
  </div>
  <p class="grid-cell bio-links x1">
    <a class="bio-icon-github" href="https://github.com/deepthivenkat" title="deepthivenkat on github" target="_blank">github@deepthivenkat </a>
  </p>
</div>
</article>

<!-- ERIC MD TSAI -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars0.githubusercontent.com/u/5763237?s=460&v=4" alt="Eric MD Tsai" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Eric MD Tsai</h4>
      <h4 class="headline-3">Taiwan</h4>
      <p>
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="http://twitter.com/mdtsai" title="mdtsai on twitter" target="_blank">twitter@mdtsai </a> <br>
      <a class="bio-icon-github" href="http://github.com/mdtsai" title="mdtsai on github" target="_blank">github@mdtsai </a>
    </p>
  </div>
</article>

<!-- Hallvord R. M. Steen -->
<article class="grid-row bio">
    <div class="grid-cell x1-fix">
      <img src="https://avatars3.githubusercontent.com/u/120136" alt="Hallvord R. M. Steen" class="bio-img">
    </div>
    <div class="grid-nested x1">
      <div class="grid-cell bio-desc x1">
        <h4 class="headline-2 heading">Hallvord R. M. Steen</h4>
        <h4 class="headline-3">Norway</h4>
        <p>Formerly Web compat tester @ Mozilla and Opera. Currently mixing code at http://minus.no </p>
      </div>
      <p class="grid-cell bio-links x1">
        <a class="bio-icon-twitter" href="https://twitter.com/hallvord" title="hallvord on twitter" target="_blank">twitter@hallvord </a> <br>
        <a class="bio-icon-github" href="https://github.com/hallvors" title="hallvors on github" target="_blank">github@hallvors </a>
      </p>
    </div>
  </article>

<!-- Lawrence Mandel -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/1214336" alt="Lawrence Mandel" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Lawrence Mandel</h4>
      <h4 class="headline-3">Canada</h4>
      <p>Dad. Director of Production Engineering @Shopify. Formerly @Mozilla, @IBM, @EclipseFdn, @TheASF. Youth Baseball and Hockey Coach. Charity Fundraiser.</p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="https://twitter.com/mmmandel" title="mmmandel on twitter" target="_blank">twitter@mmmandel </a> <br>
      <a class="bio-icon-github" href="https://github.com/lmandel" title="lmandel on github" target="_blank">github@lmandel </a>
    </p>
  </div>
</article>

<!-- Lex Roman -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars3.githubusercontent.com/u/1103366" alt="Lex Roman" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Lex Roman</h4>
      <h4 class="headline-3">USA</h4>
      <p>
        Product Designer.
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="https://twitter.com/calexity" title="calexity on twitter" target="_blank">twitter@calexity </a> <br>
      <a class="bio-icon-github" href="https://github.com/calexity" title="calexity on github" target="_blank">github@calexity </a>
    </p>
  </div>
</article>

<!-- Mesha Lockett -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars0.githubusercontent.com/u/4382193" alt="Mesha Lockett" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Mesha Lockett</h4>
      <h4 class="headline-3"></h4>
      <p>

      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-github" href="https://github.com/lockettm" title="lockettm on github" target="_blank">github@lockettm </a>
    </p>
  </div>
</article>

<!-- Ola Gasidlo -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars0.githubusercontent.com/u/562354" alt="Ola Gasidlo" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Ola Gasidlo</h4>
      <h4 class="headline-3">Germany</h4>
      <p>
        Loves making the web accessible for everyone, break things and daughter-driven development.
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="http://twitter.com/misprintedtype" title="misprintedtype on twitter" target="_blank">twitter@misprintedtype </a> <br>
      <a class="bio-icon-github" href="http://github.com/zoepage" title="zoepage on github" target="_blank">github@zoepage </a>
    </p>
  </div>
</article>

<!-- Trishul -->
<article class="grid-row bio">
    <div class="grid-cell x1-fix">
      <img src="https://avatars3.githubusercontent.com/u/5318732" alt="Trishul" class="bio-img">
    </div>
    <div class="grid-nested x1">
      <div class="grid-cell bio-desc x1">
        <h4 class="headline-2 heading">Trishul</h4>
        <h4 class="headline-3">Germany</h4>
        <p>#mozillian #frontEndDev #reactDev #webExtensions #teamWeb</p>
      </div>
      <p class="grid-cell bio-links x1">
        <a class="bio-icon-twitter" href="https://twitter.com/trishulgoel" title="trishulgoel on twitter" target="_blank">twitter@trishulgoel </a> <br>
        <a class="bio-icon-github" href="https://github.com/tsl143" title="tsl143 on github" target="_blank">github@tsl143 </a>
      </p>
    </div>
</article>

<!-- Swarnava Sengupta -->
<article class="grid-row bio">
  <div class="grid-cell x1-fix">
    <img src="https://avatars0.githubusercontent.com/u/1162991" alt="Swarnava Sengupta" class="bio-img">
  </div>
  <div class="grid-nested x1">
    <div class="grid-cell bio-desc x1">
      <h4 class="headline-2 heading">Swarnava Sengupta</h4>
      <h4 class="headline-3">India</h4>
      <p>
        Mozilla QA and User Support contributor, leading the featured add-ons board for addons.mozilla.org.
      </p>
    </div>
    <p class="grid-cell bio-links x1">
      <a class="bio-icon-twitter" href="https://twitter.com/sw4rn4v4" title="sw4rn4v4 on twitter" target="_blank">twitter@swarnava </a> <br>
      <a class="bio-icon-github" href="https://github.com/swarnava" title="swarnava on github" target="_blank">github@swarnava </a>
    </p>
  </div>
</article>


<div class="grid-row">
        <div class="grid-cell x3">
          <a href="https://github.com/orgs/webcompat/people" title="You can find more contributors on Github" target="_blank">and many more...</a>
        </div>
      </div>
  </section>
      </div>
    </section>
  </main>
</div>
{% endblock %}
{%- block extrascripts -%}
<script type="module" src="{{ url_for('static', filename='dist/contributors.js')|bust_cache }}"></script>
{%- if config.PRODUCTION or config.STAGING -%}
<script nomodule src="{{ url_for('static', filename='dist/contributors.es5.js')|bust_cache }}"></script>
{%- endif %}
{%- endblock %}
