<ol>
  <li>Find a bug that "Needs Diagnosis"</li>
  <li>Check to see if bug has been replicated already</li>
  <li>If not, try to replicate the bug</li>
  <li>If bug is NOT reproducible, write a comment on the issue</li>
  <li>If bug is reproducible, try to reproduce on other browsers/OS</li>
  <li>Check the console to see if there are errors</li>
  <li>Google any errors</li>
  <li>Write a comment with your findings on the issue</li>
  <li>If you find a fix, post your fix on the issue!</li>
  <li>If you not, post what you tried on the issue</li>
  <li>(more tips coming!)</li>
</ol>
