<ul class="contributors__list">
  <li class="contributors__list__item"><span>Find a bug with a "needsdiagnosis" label or is otherwise untriaged</span></li>
  <li class="contributors__list__item"><span>Check to see if bug has been reproduced already</span></li>
  <li class="contributors__list__item"><span>If not, try to reproduce the bug</span></li>
  <li class="contributors__list__item"><span>If bug is NOT reproducible, write a comment on the issue</span></li>
  <li class="contributors__list__item"><span>If bug is reproducible, try to reproduce on other browsers/OS</span></li>
  <li class="contributors__list__item"><span>Check the console to see if there are errors</span></li>
  <li class="contributors__list__item"><span>Google any errors</span></li>
  <li class="contributors__list__item"><span>Write a comment with your findings on the issue</span></li>
  <li class="contributors__list__item"><span>If you know how to fix the issue, or have information related to a fix, comment it on issue</span></li>
  <li class="contributors__list__item"><span>If you not, post what you tried on the issue</span></li>
  <li class="contributors__list__item"><span>(more tips coming!)</span></li>
</ul>
