{% extends "layout.html" %}
{% block title %}Organize Webcompat events{% endblock %}
{% block body %}
<div>
  {% include "nav/nav.html" %}
  <main role="main">
    <section class="grid grid-show-gap">
      <div class="grid-row">
        <aside class="grid-cell x1-fix">
          {% include "contributors/sub-nav.html" %}
        </aside>
        <div class="grid-cell x1">
          <h1 id="event" class="headline-1 highlight">Organize A Webcompat Event</h1>
          <p>
            Time to time you may want to organize an event for testing Web sites with a group of friends, volunteers, etc. It can be a fun way to discuss issues and understand them. It's also a good opportunities for people to learn about new technologies. During the event, people will report issues to <a href="https://webcompat.com/">webcompat.com</a>.
          </p>
          <p>
            An event will require a bit of preparation. Here are some tips on the organization.
          </p>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
          <h2 id="before" class="headline-1 highlight">Before</h2>
          <ol>
            <li>
              Read carefully the (Report A Website Issue)[/contribute/report]
            </li>
            <li>
              Understand what is and what is not a Webcompat issue.
            </li>
            <li>
              You might want to create a list of websites that needs to be tested with a column for people to put their names so we can avoid duplicate testing of the same site.
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
          <h2 id="during" class="headline-1 highlight">During</h2>
          <ol>
            <li>
              Explain to participants that reports quality is the goal.
            </li>
            <li>
              Help participants to create a fresh profile that they can reset at each restart of the browser.
            </li>
            <li>
              Make sure that it has been tested in multiple browsers.
            </li>
            <li>
              Avoid duplicates of the same issues. Too often during webcompat sprints, we close issues reported multiple times.
            </li>
            <li>
              Encourage participants to write detailed steps for reproducing the issue. An idea is for example to work as a team. One finds an issue, write the form without submitting it. The team mate on another computer is trying to reproduce the issue with only the form instructions. If the person can't understand the given instructions and/or can't see where the issue is, then it's probably an incomplete report.
            </li>
            <li>
                Take pictures and share them online (if participants agree). Notify us on twitter at <a href="https://twitter.com/webcompat">@webcompat</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
            <h2 id="after" class="headline-1 highlight">After</h2>
            <p>
              It's not about quantity, it's about quality. We try to improve the Web. A larger number of issues might not necessary help us to fix a browser or a website faster. On the other hand, being able to followup on the issues when there are unknown details or additional questions from people triaging and diagnosing is invaluable. Reporting many issues without being able to answer questions afterward because you have no time, or you are not interested, might end up in a dead end.
            </p>
            <p>
              You might want to do additional meetings for specifically following up on these issues. It's a great opportunity to learn how to debug and understand what is happening in a Web page.
            </p>
            <p>
              Share with us what worked and didn't work so we can improve these guidelines.
            </p>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
            <h2 id="after" class="headline-1 highlight">Speak about webcompat</h2>
            <p>
              Besides of sprints, there is a huge need to communicate the importance of web compatibility and specifications. Feel free to write about this topic, spread the word at conferences and meetups. Talk to your friends about the importance of web compatibility and how to produce clean code.
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock %}
{%- block extrascripts -%}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/contributors.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/contributors.js') }}"></script>
{%- endif %}
{%- endblock %}
