<ul class="contributors__list">
  <li class="contributors__list__item">
    <span>Find a bug that "Needs Diagnosis"</span>
    <div class="contributors__list__screenshot">
      <img src="../img/1browsesnapshot.jpg" alt="Browse Issues Screenshot"/>
    </div>
  </li>
  <li class="contributors__list__item"><span>Make sure you have the same browser/OS running (if possible)</span></li>
  <li class="contributors__list__item"><span>See if you can reproduce</span></li>
  <li class="contributors__list__item">
    <span>Comment on the issue with your findings</span>
    <div class="contributors__list__screenshot">
      <img src="../img/4issuesnapshot.jpg" alt="Issue Comment Screenshot"/>
    </div>
  </li>
</ul>
