{% extends "layout.html" %}
{% block title %}Site Outreach{% endblock %}
{% block body %}
<div>
  {% include "nav/nav.html" %}
  <main role="main">
    <section class="grid grid-show-gap">
      <div class="grid-row">
        <aside class="grid-cell x1-fix">
          {% include "contributors/sub-nav.html" %}
        </aside>
        <div class="grid-cell x1">
          <section>
            <h1 id="outreach" class="headline-1 highlight">Site Outreach</h1>
            <p>
                Find a bug that is labeled "<a href='/issues?page=1&per_page=50&state=open&stage=contactready&sort=created&direction=desc'>Ready for Outreach</a>".
            </p>
            <p>
              If it is a browser bug, consider also reporting it to the browser vendor:
            </p>

            <ol>
              <li>
                <a href="https://crbug.com/new" target="_blank">
                  Chrome bug reports
                </a>
              </li>
              <li>
                <a href="https://bugzilla.mozilla.org/enter_bug.cgi" target="_blank">
                  Firefox bug reports
                </a>
              </li>
              <li>
                <a href="http://bugreport.apple.com" target="_blank">
                  Safari bug reports
                </a>
              </li>
              <li>
                <a href="https://bugs.opera.com/wizard/" target="_blank">
                  Opera bug reports
                </a>
              </li>
              <li>
                <a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/" target="_blank">
                  Edge bug reports
                </a>
              </li>
            </ol>
          </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
            <h2 id="rules" class="headline-1 highlight">Contact Club Rules</h2>
            <p>
              Now it's time to track down someone to help get the fix implemented, but first a few tips on doing outreach:
            </p>

            <dl>
              <dt class="bold highlight">Be tactful</dt>
              <dd>
                People we are trying to reach have their own set of constraints, bosses, economic choices etc. "Your web site is bad" will not lead anywhere, except NOT getting the site fixed.
              </dd>

              <dt class="bold highlight">Be humble</dt>
              <dd>
                We are no better, we also make mistakes in practice. Our own recommendations can become outdated as technical or economic circumstances change.
              </dd>

              <dt class="bold highlight">Let it go</dt>
              <dd>
                Sometimes outreach just doesn't work. The person at the end of the other line may say "no" or worse, not answer. It can be very frustrating. It's okay. Accept it and move on.
              </dd>

              <dt class="bold highlight">Be passionate</dt>
              <dd>
                The passion is in being able to find the right contact in a company without harassing them. Every effort helps.
              </dd>

              <dt class="bold highlight">Share with consideration</dt>
              <dd>
                Share any contact you attempted or made in the issue comments section.  It helps everyone to know the status so they can pitch in or not repeat work. That said -  be careful to not disclose private information such as names and emails. You may simply say: "I contacted someone at $COMPANY", "Someone from $COMPANY said this…"
              </dd>
            </dl>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
          <h2 id="website-issue" class="headline-1 highlight">Website issues</h2>
          <p>If it is a web site issue, track down the site owner.</p>
          <p class="highlight bold">Try:</p>
          <p>
            <strong class="bold">Does the web site have a Twitter account?</strong> <br />
            If the Twitter account seems to be run by a person, it can be a good start for initial contact.  Ask who you should contact with the fix.  If the Twitter account is just broadcasting information, move on.
          </p>

          <p>
              <strong class="bold">Does the web site have a support email or an issue tracker?</strong>  <br />
              This is a simple one, but there's no guarantee that your request will be addressed.  Most of the time the responses are automatic but it's better than nothing. If in return you get an ID and/or a URI, put it in the issue comments.
          </p>
          <figure>
            <img src="../img/contributors/site-outreach_1-lastbullet_comment.jpg" class="img-fit" alt="Github last comment Screenshot" />
            <figcaption>Leave a comment on the GitHub issue.</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section class="grid">
      <div class="grid-row">
        <div class="grid-cell x3">
            <h2 id="human" class="headline-1 highlight">Search for a human working there</h2>
            <p>
              You will increase your odds of finding a resolution or understanding what the issue is about by reaching out to someone.
            </p>

            <p>
              <strong class="bold">LinkedIn:</strong> <br />
              This doesn't necessary work with all countries, but worth trying. You can start for example in your favorite search engine with:Web developer $COMPANY_NAME site:linkedin.com. This will list names of people who are likely to work there, some of them in their profile will have contact information and often Twitter accounts, personal web sites or emails.
            </p>
            <p>
              <strong class="bold">Twitter:</strong> <br />
              Some people put their company affiliation in Twitter.  Tweet or DM them if possible and ask who to contact. Always check if the Twitter account is active. Some people haven't used their account for ages. If so, move on.
            </p>
            <p>
              <strong class="bold">SlideShare:</strong> <br />
              When you can't find the information about a developer, you might want to try to search something such as $COMPANY_NAME site:slideshare.net or any appropriate keywords that will make you closer to a contact. Some companies have their developers speaking at conferences about issues with performances, etc. Be careful of talks related to sales or marketing. In the slides, there is often the contact information of the developer.
              <figure>
                <img src="../img/contributors/site-outreach_2-slideshare.png" class="img-fit" alt="Slideshare Screenshot" />
                <figcaption>Slideshare Interface</figcaption>
              </figure>
            </p>
            <p>
                <strong class="bold">GitHub &amp; others:</strong> <br />
                Search by individual person or by company names. Many developers have either company projects online and/or their personal projects. As usual be careful to not abuse or harass people with your requests.
            </p>
            <p>
              <strong class="bold">Web designer:</strong> <br />
              Sometimes when you can't reach a web developer, you may try to reach web designers who have also their own type of social networks such as <a title="dribbble.com" href="https://dribbble.com/" target="_blank">dribbble.com</a>. Usually they have contacts with web developers and may be able to give an introduction. In some web agencies, the web designer will be a good initial contact. Again, be tactful and don't make the life of the web designer harder in his/her own company.
              <figure>
                <img src="../img/contributors/site-outreach_3-dribbble.png" class="img-fit" alt="Dribble Screenshot" />
                <figcaption>Dribble Interface</figcaption>
              </figure>
            </p>
            <p>
              <strong class="bold">Corporate emails:</strong> <br />
              This approach works from time to time: when you know the full name of a person working at a company, yet have been unable to find a better way to contact them on social media, it may be possible to infer their corporate email address. For instance, you may notice from online searches that their company's email addresses tend to have the form "surname.givenName@company.org", and so you could try engineering an email address from that example. Bear in mind that this could surprise and possibly anger whomever receives the email (and in fact they may not be the person you expect), so be sure to gently explain the situation to them. You may find <a href="http://www.email-format.com/i/browse/" target="_blank">this email format tool</a> useful.
            </p>
            <p>
              <strong class="bold">WHOIS:</strong> <br />
              Some Web sites still have their contact information in the public <a href="https://www.google.com/search?q=google+whois" target="_blank"> whois</a> information. This is becoming rarer over time due to excessive spam from bots.
            </p>
            <p>
              <strong class="bold">Check the terms and conditions or privacy policy for email addresses:</strong> <br />
              There could be hidden in long blocks of text so a search for  @ is helpful. There may also be links in a website's footer to an investor or media relations page which could have a contact address, but be careful  not to annoy the company by sending mails about bugs to addresses that are clearly not relevant (e.g. investors@example.com).
            </p>
            <p>
              <strong class="bold">Friend of a friend:</strong> <br />
              You may be well connected in the industry. If you are a Mozilla contributor in a given country this makes you crucial for the kind of work we are doing, as local social networks operating between companies are a vital source of contact information. You may even have a connection on LinkedIn, Twitter or Github who knows someone at the company, who in turn could help locate a contact.
            </p>
            <p>
              <strong class="bold">Find the home site:</strong> <br />
              Sometimes a Web site belongs to a bigger company (think about a Game company with many brands, or a TV  broadcaster, different services such as Google, Yahoo!, etc.). Finding the home site will help understand the structure of the company and might lead to  the department which is really in charge of the Web site.
            </p>
            <p>
              <strong class="bold">Check for unique technologies that can search for:</strong> <br />
              Sometimes you may have additional hints about the technology used on the Web site and the type of people related to the site through the hiring page of the company. In small company Web sites, you will discover the programming languages which are used, these will help reduce the search. You may even find names in the source code for the Web site, including developers who developed an in-house library, or HR personnel who are looking for talent by leaving comments in the source code.
            </p>
          </section>
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock %}
{%- block extrascripts -%}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/dist/contributors.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/contributors.js') }}"></script>
{%- endif %}
{%- endblock %}
