<div id="wizard-container">
    <div class="grid row">
        {% for step in form.steps %}
        <div id="pr-{{ step.id }}" class="step {{ step.className }}">
            <div class="circle">
                <div class="number">{{ step.number }}</div>
                <div aria-labelledby="step-label-{{ step.id }}" role="img" class="icon"></div>
            </div>
            <div id="step-label-{{ step.id }}" class="description">{{ step.label }}</div>
        </div>
        <div class="description">{{ step.label }}</div>
        {% endfor %}
    </div>
</div>
