<li class="nav-item">
    <a class="nav-link" href="/contributors" title="Contribute to our project.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
            <use href="#svg-users">Contribute</use>
        </svg>
        <span class="link-text">Contribute</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc" title="Take a look at all filed issues.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
            <use href="#svg-hash">All issues</use>
        </svg>
        <span class="link-text">All issues</span>
    </a>
</li>
{% if not session.user_id %}
<li class="nav-item">
    <a href="{{ url_for('login') }}" class="js-login-link nav-link" title="Log in with your Github account.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
            <use href="#svg-log-in">Log in</use>
        </svg>
        <span class="link-text nav-link">Login</span>
    </a>
</li>
{% else %}
<li class="nav-item login js-login-link js-DropdownHeader">
    <button class="nav-button nav-link" aria-pressed="false">
        <img class="login-avatar-img" src="{{ session.avatar_url }}0" alt="User Avatar">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
            <use href="#svg-chevron-right">Log in</use>
        </svg>
    </button>
    <div class="nav-dropdown-wrapper">
        <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
                <a class="nav-link" href="{{ url_for('me_redirect') }}">My Activity</a>
            </li>
            <li class="nav-dropdown-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</li>
{% endif %}

<style type="text/css">

.nav-button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-second);
    font-family: "Open Sans", sans-serif;
}

.nav-right {
    text-align: right;
}

.nav-right .nav-item {
    margin-right: 0;
    padding-right: 0;
}

.nav-left {
    margin-top: 5px;
}

.nav-dropdown-wrapper {
    display: none;
}

.login.is-active .nav-dropdown-wrapper {
    display: inline-block;
    position: absolute;
    width: var(--unit-modul-l);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
}

.nav-dropdown {
    position: relative;
    width: var(--unit-modul-s);
    margin-left: auto;
    margin-right: var(--unit-gutter);
}

.nav-dropdown .nav-dropdown-item {
    background-color: var(--color-bg-box);
    border-right: 1px solid var(--color-default);
    padding-right: 5px;
}

    .nav-dropdown .nav-dropdown-item:hover {
        background-color: var(--color-bg-page);
        border-right: 1px solid var(--color-first);
        padding-right: 5px;
    }
.login .nav-button .nav-icon {
    transform: rotate(90deg);
    transition: all .1s ease 0s;
}

.login.is-active .nav-button .nav-icon {
    transform: rotate(-90deg);
    transition: all .2s ease 0s;
}

.login-avatar-img {
  width: 20px;
  position: relative;
  top: 6px;
}


</style>