<li class="nav-item">
    <a class="nav-link" href="/contributors" title="Contribute to our project.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation" aria-hidden="true">
            <use xlink:href="#svg-users" />
        </svg>
        <span class="link-text">Contribute</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link js-issues-link" href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc" title="Take a look at all filed issues.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation" aria-hidden="true">
            <use xlink:href="#svg-hash" />
        </svg>
        <span class="link-text">All issues</span>
    </a>
</li>
{% if not session.user_id %}
<li class="nav-item">
    <a href="{{ url_for('login') }}" class="js-login-link nav-link" title="Log in with your Github account.">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation" aria-hidden="true">
            <use xlink:href="#svg-log-in" />
        </svg>
        <span class="link-text">Login</span>
    </a>
</li>
{% else %}
<li class="nav-item login js-login-link js-DropdownHeader">
    <button class="nav-button nav-link" aria-expanded="false" aria-label="My account">
        <img class="login-avatar-img" src="{{ session.avatar_url }}" alt="User Avatar">
        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation" aria-hidden="true">
            <use xlink:href="#svg-chevron-right" />
        </svg>
    </button>
    <div class="nav-dropdown-wrapper">
        <ul class="dropdown">
            <li class="nav-dropdown-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</li>
{% endif %}
