<div class="js-SearchBar">
    <nav class="navigation nav">
        <div class="nav-container">
            <ul class="nav-left x1">
                {%- if request.url_rule.endpoint == 'create_issue' %}
                <li class="nav-item">
                    <a class="nav-link" href="/" title="Navigate to main page.">
                        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
                            <title>Home</title>
                            <use href="#svg-home">home</use>
                        </svg>
                        <span class="link-text">Home</span>
                    </a>
                </li>
                {%- else %}
                    {% include "nav/addon-links.html" %}
                {%- endif %}
            </ul>
            <ul class="nav-right x2">
                <li class="nav-item">
                    <button class="nav-button nav-link js-SearchBarOpen" title="Search for an item.">
                        <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
                            <use href="#svg-search2">Search</use>
                        </svg>
                        <span class="link-text">Search</span>
                    </button>
                </li>
                {% include "nav/shared-nav-links.html" %}
            </ul>
        </div>
    </nav>

    <form id="search-bar" class="grid" method="get" action="/issues">
        <input class="form-field text-field" name="q" placeholder="Search issues by keyword"/>
        <button class="nav-button js-SearchBarClose" aria-hidden="true" type="button">
          <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
            <title>Close search</title>
            <use href="#svg-x">Close search</use>
        </svg>
        </button>
    </form>
</div>