<!DOCTYPE html>
<html lang="tr">

{% include header.html %}

   <body>
   		<nav class="navbar navbar-default visible-xs" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			{% if site.author.github %}
			<a type="button" class="navbar-toggle nav-link" href="http://github.com/{{ site.author.github }}">
		      <i class="fa fa-github"></i>
		    </a>
		    {% endif %}
		    {% if site.author.twitter %}
		    <a type="button" class="navbar-toggle nav-link" href="http://twitter.com/{{ site.author.twitter }}">
		      <i class="fa fa-twitter"></i>
		    </a>
		    {% endif %}
		    {% if site.author.email %}
		    <a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
		      <i class="fa fa-envelope"></i>
		    </a>
		    {% endif %}
			<a class="navbar-brand" href="/">
				{{ site.title }}
			</a>
		  </div>
		</nav>

		<div class="col-sm-3 sidebar hidden-xs">
			{% include sidebar.html %}
		</div>

		<div class="col-sm-9 col-sm-offset-3">
			{{ content }}

			{% include footer.html %}

		</div>


	<script type="text/javascript" src="/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
   </body>

</html>

