<article>
	<div class="page-header">
	  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
	</div>

	<div class="col-sm-10">
	 <span class="post-date">
	   {% assign d = page.date | date: "%d" | plus:'0' %}
	   {{ page.date | date: "%B" }}
	   {% case d %}
	     {% when 1 or 21 or 31 %}{{ d }}st,
	     {% when 2 or 22 %}{{ d }}nd,
	     {% when 3 or 23 %}{{ d }}rd,
	     {% else %}{{ d }}th,
	   {% endcase %}
	   {{ page.date | date: "%Y" }}
	 </span>
	  <div class="article_body">
	  {{ content }}
	  </div>

		<hr>

		<ul class="pager">
		  {% if page.previous %}
		  <li class="previous"><a href="/{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
		  {% else %}
		  <li class="previous disabled"><a>&larr; Previous</a></li>
		  {% endif %}
		  {% if page.next %}
		  <li class="next"><a href="/{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
		  {% else %}
			<li class="next disabled"><a>Next &rarr;</a>
		  {% endif %}
		</ul>

		<hr>
	</div>

	<div class="col-sm-2 sidebar-2">

	</div>
</article>
<div class="clearfix"></div>
