<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mike Taylor</string>
	<key>Builder Version</key>
	<string>9537.75.14</string>
	<key>CFBundleDisplayName</key>
	<string>webcompat-reporter</string>
	<key>CFBundleIdentifier</key>
	<string>com.webcompat.webcompat-reporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>webcompat.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>report-issue</string>
				<key>Identifier</key>
				<string>webcompat-reporter</string>
				<key>Image</key>
				<string>Icon-64.png</string>
				<key>Label</key>
				<string>webcompat.com reporter</string>
				<key>Palette Label</key>
				<string>webcompat.com reporter</string>
				<key>Tool Tip</key>
				<string>Click to report an incompatible site at webcompat.com.</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Click the lightbulb icon to report an incompatible site at webcompat.com.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://webcompat.com</string>
</dict>
</plist>
