<script type="text/template">
  <button type="button" class="button js-Dropdown-toggle">
     <span class="js-Dropdown-label"><%= dropdownTitle %></span>
  </button>
  <ul class="sort-dropdown-options js-Dropdown-options" aria-hidden="false">
    <% _.each(dropdownOptions, function(option) { %>
    <li class="js-Dropdown-item">
      <a href="#" class="js-Dropdown-link" data-params="<%= option.params %>">
        <%= option.title %>
      </a>
    </li>
    <% }); %>
  </ul>
</script>
