<script type="text/template">
  <div id="x-search-bar">
    <input id="js-SearchForm-input" class="form-field text-field mousetrap" name="q" placeholder="Search issues by keyword"/>
    <button role="button" class="nav-button nav-link js-SearchForm-button" type="button" title="Search for an item.">
      <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
        <use href="#svg-search2">Search</use>
      </svg>
    </button>
    </div>
</script>
