<script type="text/template" id="issuelist-sorting-tmpl">
  <div class="wc-Dropdown js-Dropdown js-Dropdown-pagination"></div>
  <div class="wc-Dropdown js-Dropdown js-Dropdown-sort"></div>
</script>
