{% from "web_modules/dropdown.html" import dropdown with context %}

<div class="wc-UIContent">
  <div class="r-Grid">
    <div class="r-Grid-cell r-all--1of2">
      <div class="js-SearchIssue-sorting">
        <script type="text/template" id="issuelist-sorting-tmpl">
          {{ dropdown('default', 'js-Dropdown js-Dropdown-pagination') }}
          {{ dropdown('default', 'js-Dropdown js-Dropdown-sort') }}
        </script>
      </div>
    </div>
    <div class="r-Grid-cell r-all--1of2">
      {% include "web_modules/pagination.html" %}
    </div>
  </div>
</div>
