<div id="new" class="r-Grid-cell r-all--1of2 r-maxM--2of2">
  <script type="text/template" id="new-tmpl">
  <h3 class="wc-titleIssue">
    <a class="wc-titleIssue-link" href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=new&sort=created&direction=desc">New Issues</a>
  </h3>
  <% if (newIssues.length) { %>
    <% _.each(newIssues, function(issue) { %>
    <div class="IssueItem IssueItem--new">
      <p class="IssueItem-header">
        <a href="/issues/<%= issue.number %>"><span class="IssueItem-count">Issue <%= issue.number %></span>: <%- issue.title %></a>
      </p>
      <p class="IssueItem-metadata">Opened: <time><%= issue.createdAt %></time>, comments: <%= issue.commentNumber %></p>
    </div>
    <% }); %>
  <% } else { %>
  <p>Nothing here currently, cool!</p>
  <% } %>
  </script>
</div>
