<div id="ready-for-outreach" class="r-Grid-cell r-all--1of2 r-maxM--2of2">
  <script type="text/template" id="contactready-tmpl">
  <h3 class="wc-titleIssue">
    <a class="wc-titleIssue-link" href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=contactready&sort=created&direction=desc">Ready for Outreach</a>
  </h3>
  <% if (contactReady.length) { %>
    <% _.each(contactReady, function(issue) { %>
    <div class="IssueItem IssueItem--ready">
      <p class="IssueItem-header">
        <a href="/issues/<%= issue.number %>"><span class="IssueItem-count">Issue <%= issue.number %></span>: <%- issue.title %></a>
      </p>
      <p class="IssueItem-metadata">Opened: <time><%= issue.createdAt %></time>, comments: <%= issue.commentNumber %></p>
    </div>
    <% }); %>
  <% } else { %>
    <p>Nothing here currently, please help <a href="https://github.com/webcompat/web-bugs/issues?state=needsdiagnosis">diagnose issues!</a></p>
  <% } %>
  </script>
</div>
