<div id="sitewait" class="Grid-cell u-size1of2 u-md-sizeFull">
  <script type="text/template" id="sitewait-tmpl">
  <h3 class="wc-titleIssue">Site Contacted</h3>
  <% if (sitewait.length) { %>
    <% _.each(sitewait, function(issue) { %>
    <div class="issue issue--sitewait">
      <p class="issue-item-header">
        <a href="/issues/<%= issue.number %>"><span class="issue-item-count">Issue <%= issue.number %></span>: <%- issue.title %></a>
      </p>
      <p class="issue-item-metadata">Opened: <time><%= issue.createdAt %></time>, comments: <%= issue.commentsNumber %></p>
    </div>
    <% }); %>
  <% } else { %>
  <p>Nothing here currently, please help <a href="https://github.com/webcompat/web-bugs/issues?labels=contactready">reach out to sites!</a></p>
  <% } %>
  </script>
</div>
