blinker==1.4
Flask==1.1.2
Flask-Firehose==0.2.3
Flask-Limiter==1.4
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
GitHub-Flask==3.2.0
Pillow==8.3.2
python-dotenv==0.15.0
requests==2.25.1
ua-parser==0.10.0
Werkzeug==1.0.1
WTForms==2.3.3
