blinker==1.4
elasticsearch==8.2.0
Flask==2.0.1
Flask-Firehose==0.2.3
Flask-Limiter==1.4
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.15.1
GitHub-Flask==3.2.0
Pillow==9.3.0
python-dotenv==0.15.0
requests==2.31.0
ua-parser==0.10.0
Werkzeug==2.0.1
WTForms==2.3.3
