#!/usr/bin/env python
# -*- coding: utf-8 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

'''This file contains secrets and sensitive file-system locations and
settings that we don't want to be public.

settings:

GITHUB_CLIENT_ID,
GITHUB_CLIENT_SECRET,
GITHUB_CALLBACK_URL:
    Configuration for GitHub OAuth application login.

HOOK_SECRET_KEY:
    Secret key to authenticate webhook requests. Can be ignored
    for local testing.

OAUTH_TOKEN:
    This is the oauth token we use to report issues on behalf of people
    who don't want to give GitHub oauth access (or don't have GitHub accounts).
    If you don't want to create another user for testing, you could put in
    your own access token.

    See help.github.com/articles/creating-an-access-token-for-command-line-use

SECRET_KEY:
    Secret key for signing cookies. Can be ignored for local testing

UPLOADS_DEFAULT_DEST,
UPLOADS_DEFAULT_URL:
    Values to configure where images are saved to (on a filesystem), and served
    from HTTP.
'''

import os
import config.environment as env


if env.LOCALHOST:
    GITHUB_CLIENT_ID = os.environ.get('FAKE_ID') or ''
    GITHUB_CLIENT_SECRET = os.environ.get('FAKE_SECRET') or ''
    GITHUB_CALLBACK_URL = 'http://localhost:5000/callback'
    OAUTH_TOKEN = ''
    SECRET_KEY = '~*change me*~'
    HOOK_SECRET_KEY = 'SECRETS'
