/*---------- font ----------*/

@font-face {
  font-family: 'webcompat';
  src:url('../font/webcompat/webcompat.eot?ccpilf');
  src:url('../font/webcompat/webcompat.eot?#iefixccpilf') format('embedded-opentype'),
      url('../font/webcompat/webcompat.woff?ccpilf') format('woff'),
      url('../font/webcompat/webcompat.ttf?ccpilf') format('truetype'),
      url('../font/webcompat/webcompat.svg?ccpilf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wc-Icon {
  display: inline-block;
  font: normal normal normal 14px/1 webcompat;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:middle;
}

.wc-Icon--times:before {
  content: "\f00d";
}
.wc-Icon--gear:before {
  content: "\f013";
}
.wc-Icon--plus:before {
  content: "\f067";
}
.wc-Icon--minus:before {
  content: "\f068";
}
.wc-Icon--chevron-up:before {
  content: "\f077";
}
.wc-Icon--chevron-down:before {
  content: "\f078";
}
.wc-Icon--search:before {
  content: "\f002";
}
.wc-Icon--home:before {
  content: "\f015";
}
.wc-Icon--list:before {
  content: "\f03a";
}
.wc-Icon--arrow-right:before {
  content: "\e601";
}
.wc-Icon--arrow-down:before {
  content: "\e602";
}
.wc-Icon--arrow-left:before {
  content: "\e603";
}
