/*---------- font ----------*/

@font-face {
  font-family: 'webcompat';
  src:url('../font/webcompat/webcompat.eot?ccpilb');
  src:url('../font/webcompat/webcompat.eot?#iefixccpilb') format('embedded-opentype'),
      url('../font/webcompat/webcompat.woff?ccpilb') format('woff'),
      url('../font/webcompat/webcompat.ttf?ccpilb') format('truetype'),
      url('../font/webcompat/webcompat.svg?ccpilb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wc-Icon {
  display: inline-block;
  font: normal normal normal 14px/1 webcompat;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:middle;
}

.wc-Icon--cloud-download:before {
  content: "\f0ed";
}
.wc-Icon--arrow-circle-right:before {
  content: "\f0a9";
}
.wc-Icon--bug:before {
  content: "\f188";
}
.wc-Icon--times:before {
  content: "\f00d";
}
.wc-Icon--gear:before {
  content: "\f013";
}
.wc-Icon--plus:before {
  content: "\f067";
}
.wc-Icon--minus:before {
  content: "\f068";
}
.wc-Icon--chevron-up:before {
  content: "\f077";
}
.wc-Icon--chevron-down:before {
  content: "\f078";
}
.wc-Icon--search:before {
  content: "\f002";
}
.wc-Icon--home:before {
  content: "\f015";
}
.wc-Icon--list:before {
  content: "\f03a";
}
.wc-Icon--qrcode:before {
  content: "\f029";
}
.wc-Icon--cloud-upload:before {
  content: "\f0ee";
}
.wc-Icon--arrow-right:before {
  content: "\e601";
}
.wc-Icon--arrow-down:before {
  content: "\e602";
}
.wc-Icon--arrow-left:before {
  content: "\e603";
}
