/*----------Variable----------*/

/* base */
:root {
  --base-color : #333;
  --base-background: #fff;
  --base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --base-min-width:	320px;
  --base-max-width: 1920px;
  --base-width-content : 1180px;
  --base-font-size: 1.6rem;
}
/* theme */
:root {
  --wc-background-dark: #FFC900; /*Dark Yellow*/
  --wc-background-light: var(--wc-background-dark); /* #FBC55F  Light Yellow */
  --wc-variant-background-dark: #404040; /* Dark Gray */
  --wc-variant-background-light: #c2c2c2; /* Dark Light */
  --wc-state-new: #ff8364; /* light orange */
  --wc-state-needsdiagnosis: #efce82;  /* light brown */
  --wc-state-needcontact : #b9edce ; /* light green */
  --wc-state-ready: #7abce1; /* light blue*/
  --wc-state-sitewait: #b0daf0; /* light blue */
  --wc-state-close: #c5d1d5; /* light gray */
}

/* link */
:root {
  --base-link-color: #000;
  --base-link-color-hover: var(--base-link-color);
  --Button-disabled-opacity : 0.5; /* button opacity disabled*/
}

/* Custom media queries */
@custom-media --viewport-330px all and (max-width: 20.615em);
@custom-media --viewport-375px all and (max-width: 23.4275em);
@custom-media --viewport-400px all and (max-width: 25em);
@custom-media --viewport-450px all and (max-width: 28.115em);
@custom-media --viewport-600px all and (max-width: 37.49em);
@custom-media --viewport-770px all and (max-width: 48.115em);
@custom-media --viewport-950px all and (max-width: 59.365em);
@custom-media --viewport-990px all and (max-width: 61.865em);
@custom-media --viewport-1180px all and (max-width: 73.74em);
/* */
@custom-media --sm-viewport all and (max-width: 37.49em);
@custom-media --md-viewport all and (max-width: 48.115em);
@custom-media --lg-viewport all and (max-width: 73.74em);
