/*------Home view------*/

/*-------Browse Issues------*/
#browse-issues-wrapper {
  background-color: #f0f0f0;
}
.more-issues {
  text-align: center;
  clear: left;
  margin-top:25px;
}

#howitworks,
#join,
#browse-issues {
  padding-top: 3em;
  padding-bottom:3em;
}
#browse-issues {
  padding-bottom: 2em;
}
.Threesteps {
  padding: 1em 0;
}
#join p {
  padding: 1em 0;
  line-height: 150%;
}
#join img {
  width: 50px;
  margin-right: 1em;
  display: table-cell;
}

@media (--viewport-450px) {
  #howitworks,
  #join,
  #browse-issues {
    padding: 2em 1em;
  }
}
.Threeways {
  vertical-align: top;
}
.bignumber {
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 0.75em 0.5em 0.5em;
}

@media (--viewport-950px) {
  .bignumber {
    padding-right: 0.5em;
  }
}

@media (--viewport-770px) {
  .bignumber {
    padding-bottom: 0;
  }
}

.maincontent {
  text-align: left;
  padding: 2em 5em;
}

@media (--viewport-600px) {
  .flourish {
    display: none;
  }
}

.disabled {
  opacity: 0.5;
}

@media (--viewport-330px) {
  .row {
    margin-left: -20px;
    max-width: 320px;
  }
}
