/*------Home view------*/


.divider {
  display: block;
  font-weight: 700;
  border-top: 5px solid var(--wc-background-dark);
  width: 30px;
  color: #fff;
  margin: 1em 0 0;
}

/*--------Homepage Styles--------*/

#hero {
  background-color: var(--wc-background-dark);
  text-align: left;
  color: #fff;
  padding: 0;
}
#hero .wc-home {
  background: url(../img/LightBulbHero.png) no-repeat right top;
  background-origin: content-box;
}

@media (--viewport-770px) {
  #hero .wc-home {
    background-size: 18%;
  }
}
@media (--viewport-450px) {
  #hero .wc-home {
    background: none;
  }
}
#maintitle {
  padding-top: 6em;
  padding-bottom:6em;
}

@media (--viewport-450px) {
  #maintitle {
    padding-top: 3em;
    padding-bottom:3em;
  }
}
#maintitle h1 {
  /*text-shadow: -1px -1px 0px rgba(0,0,0,.25);*/
  color:#414042;
}

@media (--viewport-770px) {
  #maintitle h1 {
    font-size: 3em;
  }
}
#report-bug {
  display: inline-block;
  position: relative;
  top: 1em;
  font-size: 2em;
  color: #414042;
  text-decoration: none !important;
  transition: top 100ms ease-out 0ms;
}
/*icon */
#report-bug .icon {
  width: 1.15em;
  height: 1.15em;
  line-height: 1.15em;
  margin-left:.3em;
  background-color: #fff;
  color: var(--wc-background-dark);
  border-radius: 50%;
  transition: all 0.3s linear 0s;
}
/* hover a icon */
.no-touch #report-bug:hover .icon {
  background-color: var(--wc-background-dark);
  color: #fff;
  transition: all 0.3s linear 0s;
}
/* hover a - icon down */
.no-touch #report-bug:hover .icon:before {
  content: "\e602";
}
/* open a - icon down*/
#report-bug.opened .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e602";
}
/* hover open a - icon up */
.no-touch #report-bug.opened:hover .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e600";
}

#report-bug.opened {
  top: 2em;
  transition: top 100ms ease-out 0ms;
}

@media (--viewport-450px) {
  #report-bug.opened {
    top: 1.25em;
  }
}
#report-bug:hover, #report-bug:focus {
  padding-left: 0;
  color: #fff;
}
#lightbulb {
  padding: 0 5em;
}
#lightbulb img {
  margin: 0 auto;
  display: block;
  height: 80%;
}
#arrow {
  height: 1.15em;
  vertical-align: middle;
}

/*-------Browse Issues------*/
#browse-issues-wrapper {
  background-color: #f0f0f0;
}
#browse-issues h2 {
  display: inline;
  margin-right: 0.5em;
}
.key {
  position: relative;
  bottom:0.1em;
}

@media (--viewport-770px) {
  .key {
    display: block;
    margin-top: 1em;
  }
}
.key span {
  padding: 0.3em 1em;
}

@media (--viewport-990px) {
  .key span {
    padding: 0 0.25em 0 0.5em;
  }
}
.more-issues {
  text-align: center;
  clear: left;
  margin-top:25px;
}
#my-issues .wc-titleIssue {
  padding-left: 15px;
  padding-right: 15px;
}
.wc-titleIssue {
  font-size:14px;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:500;
}

#howitworks,
#join,
#browse-issues {
  padding-top: 3em;
  padding-bottom:3em;
}
#browse-issues {
  padding-bottom: 2em;
}
.Threesteps {
  padding: 1em 0;
}
#join p {
  padding: 1em 0;
  line-height: 150%;
}
#join img {
  width: 50px;
  margin-right: 1em;
  display: table-cell;
}

@media (--viewport-450px) {
  #howitworks,
  #join,
  #browse-issues {
    padding: 2em 1em;
  }
}
.Threeways {
  vertical-align: top;
}
.bignumber {
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 0.75em 0.5em 0.5em;
}

@media (--viewport-950px) {
  .bignumber {
    padding-right: 0.5em;
  }
}

@media (--viewport-770px) {
  .bignumber {
    padding-bottom: 0;
  }
}

.maincontent {
  text-align: left;
  padding: 2em 5em;
}
#new-report h2 {
  font: #fff;
  margin-left: 0;
  margin-bottom: 1em;
}
.Report-form .Button {
    font-size:14px;
}
.Report-form .Button-github {
  text-align:right;
}
@media (--viewport-600px) {
  .flourish {
    display: none;
  }
  .has-error .help-inline {
    float: none;
    display: block;
  }
  .Report-form .Button-group .Grid-cell {
    text-align:center !important;
  }
}
.validation-wrapper {
  display: block;
  clear: both;
  position: relative;
}
.validation-wrapper::after {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
.validation-wrapper input {
  padding-right: 40px;
}
.no-error .validation-wrapper::after {
  background-image: url(../img/valid.svg);
}
.has-error .validation-wrapper::after {
  background-image: url(../img/invalid.svg);
}
.no-error .help-inline {
  display: none;
}
.no-error .u-formInput {
  border-color: var(--wc-background-dark);
}
.no-error .u-formInput:focus{
  border-color: var(--wc-background-dark);
  box-shadow:none;
}
.disabled {
  opacity: 0.5;
}

@media (--viewport-330px) {
  .row {
    margin-left: -20px;
    max-width: 320px;
  }
}
