/*------Home view------*/


.divider {
  font-weight: 700;
  border-top: 5px solid var(--wb-background-dark);
  width: 30px;
  margin-left: 5em;
  color: #fff;
}

/*--------Homepage Styles--------*/

#hero {
  background-color: var(--wb-background-dark);
  text-align: left;
  color: #fff;
  padding: 0;
}
#hero .container {
  background: url(../img/LightBulbHero.png) no-repeat right 100px top;
  background-origin: content-box;
}

@media (--viewport-770px) {
  #hero .container {
    background-size: 18%;
    background-position: right 80px top -50px;
  }
}
@media (--viewport-600px) {
  #hero .container {
    background: none;
  }
}
#maintitle {
  padding: 6em 5em;
}

@media (--viewport-450px) {
  #maintitle {
    padding: 3em 1em 3em;
  }
}
#maintitle h1 {
  text-shadow: -1px -1px 0px rgba(0,0,0,.25);
}

@media (--viewport-770px) {
  #maintitle h1 {
    font-size: 3em;
  }
}
#report-bug {
  display: inline-block;
  position: relative;
  top: 1em;
  font-size: 2em;
  color: #fff;
  text-decoration: none !important;
  transition: top 100ms ease-out 0ms;
}
/*icon */
#report-bug .icon {
  width: 1.15em;
  height: 1.15em;
  line-height: 1.15em;
  margin-left:.3em;
  background-color: #fff;
  color: var(--wb-background-dark);
  border-radius: 50%;
  transition: all 0.3s linear 0s;
}
/* hover a icon */
#report-bug:hover .icon {
  background-color: var(--wb-background-dark);
  color: #fff;
  transition: all 0.3s linear 0s;
}
/* hover a - icon down */
#report-bug:hover .icon:before {
  content: "\e602";
}
/* open a - icon down*/
#report-bug.opened .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e602";
}
/* hover open a - icon up */
#report-bug.opened:hover .icon:before {
  /*transform:rotate(90deg);*/
  content: "\e600";
}

#report-bug.opened {
  top: 2em;
  transition: top 100ms ease-out 0ms;
}

@media (--viewport-450px) {
  #report-bug.opened {
    top: 1.25em;
  }
}
#report-bug:hover, #report-bug:focus {
  padding-left: 0;
  color: #fff;
}
#lightbulb {
  padding: 0 5em;
}
#lightbulb img {
  margin: 0 auto;
  display: block;
  height: 80%;
}
#arrow {
  height: 1.15em;
  vertical-align: middle;
}
.form-opened {
  display: block;
}
.form-closed {
  display: none;
}
/*-------Browse Issues------*/
#browse-issues-wrapper {
  background-color: #f0f0f0;
}
#browse-issues h2 {
  display: inline;
  margin-right: 0.5em;
}
.key {
  position: relative;
  bottom:0.1em;
}

@media (--viewport-770px) {
  .key {
    display: block;
    margin-top: 1em;
  }
}
.key span {
  padding: 0.3em 1em;
}

@media (--viewport-990px) {
  .key span {
    padding: 0 0 0 0.5em;
  }
}
.issues {
  background-color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.issue-contactready {
  border-left: 5px solid var(--wc-state-ready);
}
.issue-needs-diagnosis {
  border-left: 5px solid var(--wc-state-need);
}
.issue-closed {
  border-left: 5px solid var(--wc-stat-close);
}
.issue-number {
  font-weight: 400;
}
.issue-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:0.5em;
}
.issue-metadata {
  font-size: 12px;
}
.more-issues {
  margin-bottom: -23em;
  text-align: center;
  clear: left;
}
#my-issues h3 {
  padding-left: 15px;
  padding-right: 15px;
}
/*---Search on Github---*/
input[type=search] {
  float: left;
  padding: 2em 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fdf3dd;
}
#howitworks,
#join,
#browse-issues {
  padding-top: 3em;
  padding-bottom:3em;
}
#browse-issues {
  padding-bottom: 2em;
}
#threesteps {
  padding: 1em 0;
}
#join p {
  padding: 1em 0;
  line-height: 150%;
}
#join img {
  width: 50px;
  margin-right: 1em;
  display: table-cell;
}

@media (--viewport-450px) {
  #howitworks,
  #join,
  #browse-issues {
    padding: 2em 1em;
  }
}
#threeways {
  vertical-align: top;
}
.bignumber {
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 0.75em 0.5em 0.5em;
  display: table-cell;
}

@media (--viewport-950px) {
  .bignumber {
    padding-right: 0.5em;
  }
}

@media (--viewport-770px) {
  .bignumber {
    padding-bottom: 0;
  }
}
#join img, .bignumber {
  float: left;
}
.bignumber + p, #threeways img + p {
  padding: 0.6em;
  display: table-cell;
}

.maincontent {
  text-align: left;
  padding: 2em 5em;
}
/*------Forms-------*/
textarea {
  overflow: auto;
}
label, .label {
  color: #000;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: inherit;
}
label {
  float: left;
}

@media (--viewport-990px) {
  label {
    float: none;
  }
}
.label {
  padding-left: 0;
}
form.cf {

}
#new-report h2 {
  font: #fff;
  margin-left: 0;
  margin-bottom: 1em;
}
.form-control {
  border-radius: 20px;
  padding: 0.5em;
}
form .button {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#submitanon {
  float: left;
}
#submitgithub {
  float: right;
  margin: 0 auto;
}
#submitdiv {
  display: block;
  font-weight: 700;
  border-top: 5px solid var(--wb-background-dark);
  width: 30px;
  margin: 1em 0 0;
  color: #fff;
  display: block;
}
.row {
  padding: .5em;
}
.row:last-child p:not(.issue-metadata) {
  margin-bottom: 0.5em;
  color: #000;
}

/* bootstrap overrides */
.radio-inline, .checkbox-inline {
  /* Hack to get Chrome 24+ to behave.
  See https://github.com/twbs/bootstrap/issues/6599 */
  white-space: nowrap;
}
.radio, .radio-inline {
  padding-left: 15px;
  margin-right: 8px;
  margin-left: 8px;
  width:100%;
  height: 34px;
  position: relative;
}
.radio label, .radio-inline label {
  font-weight: 300;
  float: none;
}
.radio input,
.radio-inline input {
  position: absolute;
  left: 10px;
  top: 0px;
}
/* bootstrap override */
.radio-inline + .radio-inline {
  margin-left: 8px;
}
#site-owner {
  display:block;
  text-align: left;
}
/* `ruby -e 'puts "skcah top yenoh".reverse'` */
.col-dm-12 {
  display: none !important;
}
/*------Form Validation------*/
.has-error .form-control {
  border-color: #ff0000;
}
.has-error .form-control:focus{
  border-color: #ff0000;
  box-shadow:none;
}
.has-error .help-inline {
  color: #ff0000;
  float: right;
}

@media (--viewport-600px) {
  .flourish {
    display: none;
  }

  .submit {
    float: left;
    margin: 0 0 1em;
  }
  .col-md-6.submit, .col-md-6 button {
    width: 100%;
  }
  .has-error .help-inline {
    float: none;
    display: block;
  }
}
.validation-wrapper {
  display: block;
  clear: both;
  position: relative;
}
.validation-wrapper::after {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
.validation-wrapper input {
  padding-right: 40px;
}
.no-error .validation-wrapper::after {
  background-image: url(../img/valid.svg);
}
.has-error .validation-wrapper::after {
  background-image: url(../img/invalid.svg);
}
.no-error .help-inline {
  display: none;
}
.no-error .form-control {
  border-color: var(--wb-background-dark);
}
.no-error .form-control:focus{
  border-color: var(--wb-background-dark);
  box-shadow:none;
}
.disabled {
  opacity: 0.5;
}

@media (--viewport-330px) {
  .row {
    margin-left: -20px;
    max-width: 320px;
  }
}
