/*------Home view------*/


.divider {
  display: block;
  font-weight: 700;
  border-top: 5px solid var(--wc-background-dark);
  width: 30px;
  color: #fff;
  margin: 1em 0 0;
}

/*-------Browse Issues------*/
#browse-issues-wrapper {
  background-color: #f0f0f0;
}
#browse-issues h2 {
  display: inline;
  margin-right: 0.5em;
}
.more-issues {
  text-align: center;
  clear: left;
  margin-top:25px;
}
#my-issues .wc-titleIssue {
  padding-left: 15px;
  padding-right: 15px;
}
.wc-titleIssue {
  font-size:14px;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:500;
}
  /* link */
  .wc-titleIssue-link {
    text-decoration:none;
  }

#howitworks,
#join,
#browse-issues {
  padding-top: 3em;
  padding-bottom:3em;
}
#browse-issues {
  padding-bottom: 2em;
}
.Threesteps {
  padding: 1em 0;
}
#join p {
  padding: 1em 0;
  line-height: 150%;
}
#join img {
  width: 50px;
  margin-right: 1em;
  display: table-cell;
}

@media (--viewport-450px) {
  #howitworks,
  #join,
  #browse-issues {
    padding: 2em 1em;
  }
}
.Threeways {
  vertical-align: top;
}
.bignumber {
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 0.75em 0.5em 0.5em;
}

@media (--viewport-950px) {
  .bignumber {
    padding-right: 0.5em;
  }
}

@media (--viewport-770px) {
  .bignumber {
    padding-bottom: 0;
  }
}

.maincontent {
  text-align: left;
  padding: 2em 5em;
}
#new-report h2 {
  font: #fff;
  margin-left: 0;
  margin-bottom: 1em;
}
.Report-form .Button {
    font-size:.875em;
}
.Report-form .Button-github {
  text-align:right;
}
@media (--viewport-450px) {
  .Report-form .Button-github {
    text-align:center;
  }
  .Report-form .Button {
    font-size:.8em;
  }
}
@media (--viewport-400px) {
  .Button-github,
  .Button-anon {
    width:100%;
    text-align:center;
  }
}
@media (--viewport-600px) {
  .flourish {
    display: none;
  }
  .has-error .help-inline {
    float: none;
    display: block;
  }
  .Report-form .Button-group .Grid-cell {
    text-align:center !important;
  }
}
.validation-wrapper {
  display: block;
  clear: both;
  position: relative;
}
.validation-wrapper::after {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
.validation-wrapper input {
  padding-right: 40px;
}
.no-error .validation-wrapper::after {
  background-image: url(../img/valid.svg);
}
.has-error .validation-wrapper::after {
  background-image: url(../img/invalid.svg);
}
.no-error .help-inline {
  display: none;
}
.no-error .u-formInput {
  border-color: var(--wc-background-dark);
}
.no-error .u-formInput:focus{
  border-color: var(--wc-background-dark);
  box-shadow:none;
}
.disabled {
  opacity: 0.5;
}

@media (--viewport-330px) {
  .row {
    margin-left: -20px;
    max-width: 320px;
  }
}
