/*------Issue List------*/


/* Main class */
.IssueList {
  font-size:var(--base-font-size);
}
/*Search issues */
.IssueList-search {
  background-color:#F7F7F7;
  padding-top:1.5em;
  padding-bottom:1.5em;
}
  .IssueList-search-content {
    display:flex;
  }
  .IssueList-search-form {
    background-color:#F7F7F7;
    width:100%;
    font-size:1.5em;
    font-weight:400;
    border:none;
  }
    .IssueList-search-form::placeholder {
      color:#999898;
      font-weight:400;
      font-size:0.8em;
    }
  /* button */
  .IssueList-search-button {
    width: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0.8;
  }
    .IssueList-search-button:hover {
      opacity:1;
    }

/* Sorting issues */
.IssueList-sorting {
  background-color:#F0F0F0;
  padding:3em 0 .5em 0;
}

/* List of issue */
.IssueList-displayed {
  background-color:#F0F0F0;
}
/* no resultats */
.IssueList-noResults {
  font-size:1.5em;
}
  /* title */
  .IssueList-noResults-title {
    font-weight:600;
    margin-bottom:1em;
  }
  /* list*/
  .IssueList-noResults-list {
    list-style-position: inside;
    margin: 0 0 1em 1em;
    font-size: 0.7em;
  }
    /* list item */
    .IssueList-noResults-list-item {
      padding: .3em 0;
    }
    /* modifier : label */
    .IssueList-noResults-list-item--label {
      list-style: none;
    }
