/*------Issue List------*/


/* Main class */
.IssueList {
  font-size:var(--base-font-size);
}

/* Filtering issues */
.IssueList-filtering {}

/*Search issues */
.IssueList-search {
  background-color:#F7F7F7;
  padding-top:1em;
  padding-bottom:1em;
}
  .IssueList-search-form {
    background-color:#F7F7F7;
    width:100%;
    font-size:2em;
    font-weight:400;
    border:none;
  }
    .IssueList-search-form::placeholder {
      color:#999898;
      font-weight:400;
      font-size:0.8em;
    }

/* Sorting issues */
.IssueList-sorting {
  background-color:#F0F0F0;
  padding:1.5em 0;
}

/* List of issue */
.IssueList-displayed {
  background-color:#F0F0F0;
}
/* Dropdown */
.Dropdown {
  position:relative;
}
.Dropdown-toggle {
  background-image:none;
  border:none;
  font-size:1em;
  padding:.7em;
  cursor:pointer;
  border:solid 2px transparent;
}
  .Dropdown-content {
    position:absolute;
    min-width:100%;
    display: none;
    padding:0 1em 1em 1em;
    background-color:rgba(255,255,255,.8);
    z-index:2;
    list-style:none;
  }
  .Dropdown.open .Dropdown-toggle {
    border:solid 2px rgba(255,255,255,.8);
  }
  .Dropdown.open .Dropdown-content {
    display: block;
  }
  .Dropdown-item {
    margin:1em 0 0 !important;
    white-space:nowrap;
  }
  .Dropdown-link {
    font-weight:700;
  }
