/*------Issues view------*/

.issue {
  display: none;
}
/* Wrapper title and date issue */
.issue__main_title {
  line-height: 1em;
  margin-bottom: .5em;
  padding: 0px 0px 0px .5em;
  word-wrap: break-word;
}
.issue__title {
  display: inline-block;
  vertical-align: middle;
}

/* btn back /index */
.issue__back {
  display: inline-block;
  vertical-align: middle;
  margin:0 .8em 0 0;
}
/* 450px */
@media all and (max-width:28.115em) {
  .issue__back {
    display:block;
    margin-bottom:.3em;
  }
}
.issue__back:hover {
  text-decoration: none;
}
.issue__back .icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  background-color: var(--wc-variant-background-light);
  color: #fff;;
  border-radius:50%;
  transition: all 0.3s linear 0s;
}
.issue__back:hover .icon {
  background-color: var(--wc-variant-background-dark);
  transition: all 0.3s linear 0s;
}
/* wrapper isssue */
.issue__wrapper {
  margin:0 0 0 4.2em;
}
/* 1180px */
@media all and (max-width: 73.74em){
  /* Issues view */
  .issue__wrapper {
  margin:0;
  }
}
.issue__create {
  font-size: 1.2em;
  margin:0 0 3em
}

/* State issue */
.issue__state {
  display: inline-block;
  padding: 7px 23px;
  color: #fff;
}
/*Needs Diagnosis*/
.issue__state--need {
  background-color: var(--wc-state-need);
}
/*Ready for Outreach*/
.issue__state--ready {
  background-color: var(--wc-state-ready);
}
/*Site wait*/
.issue__state--sitewait {
    background-color: var(--wc-state-sitewait);
}
/*Close*/
.issue__state--close {
  background-color: var(--wc-stat-close);
}
.issue__date {
  display: inline-block;
}

/* container details issue */
.issue__details {
    word-wrap: break-word;
    overflow: hidden;
}
.issue__details strong {
    font-weight: bold !important;
}
.issue__details img {
    max-width: 100%;
    max-height: 100%;
}

/* temp hack to hide <!-- browser info --> */
.issue__details > p:first-child {
  display: none;
}

/* To be deleted when issues are READ+WRITE*/
.issue__github_link {
  margin-top: 2.5em;
}

.issue__label:after {
  display: table;
  content: "";
  clear: both;
}
/* name of label */
.issue__label__title {
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  margin-right:.6em;
}
/* value of label */
.issue__label__value {
  font-size: 1.2em;
  float: left;
}
/* btn add label */
.issue__label__btn {
  float: left;
  margin-left:1.2em;
  font-size: 1.2em;
  color: var(--wc-variant-background-light);
}

/*------Comment------*/
/*wrapper list comment */
.issue__comment {
  margin:4em 0 0;
}
/* wrapper comment issue */
.comment + .comment {
    margin-top:1em;
}
.comment:after {
    content: "";
    display: table;
    clear: both
}
/* case form */
.comment--form {
  padding-top:2em;
  margin:2em 0 0 ;
}

.comment__avatar,
.comment__body {
  float: left;
}
/* 990px */
@media all and (max-width: 61.865em) {
  .comment__avatar {
    display: none;
  }
}
.comment__body {
  margin-left:.8em;
  position: relative;
}
/* Caret */
.comment__body--caret:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 15px;
  left: -8px;
  background-color: #f0f0f0;
  border-color: var(--wc-variant-background-light);
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  transform: rotate(45deg);
}
/* case form */
.comment--form .comment__body--caret:after {
   background-color: #fff;
}
.comment__avatar img {
  width: 59px;
  height: 56px;
}
.comment__header {
  border-radius: 10px 10px 0 0;
  background-color: #F0F0F0;
  padding:.8em 1em;
  margin: 0 -1em;
}
/* comment texte */
.comment__content {
    overflow: hidden;
    word-wrap: break-word;
    padding:.5em 0 0;
}
.comment__content img {
    max-width:100%;
    max-height:100%;
}

.comment__wrapper {
  position: relative;
  width: 650px;
  /*last 256px*/
  min-height: 128px;
  border: solid 2px var(--wc-variant-background-light);
  border-radius: 10px;
  padding: 0 1em 2em 1em;
  word-wrap: break-word;
}
/* img attach file */
.comment__attach {
  display: block;
  margin:.8em 0 0 0;
  padding: .4em;
  text-align: center;
  overflow: hidden /* prevent overflow */
}
/* 770px */
@media all and (max-width: 48.115em) {
  /* Issues view */
  .comment__wrapper,
  .comment__body {
    width: 100%;
  }
}
/* prevent width of img */
.comment__attach img {
  width: 100%;
  max-width: 100%;
}
/* comment with header */
.comment--form  .comment__wrapper {
  padding-top: 1em;
}
/* name of owner */
.comment__owner {
  font-weight: bold;
}
/* drag and drop */
.comment__drag{
    position: relative;
}
.comment__dd {
    position: absolute;
    bottom: .6em;
    width: 100%;
    text-align: center;
    color: var(--wc-variant-background-light);
    font-size: .8em;
    z-index: 2;
    font-weight: bold;
}
.comment__dd__label {
  color: #e6bf04;
}
/* Textarea Placeholder style */
.comment__wrapper::-webkit-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__wrapper:-moz-placeholder { /* Firefox 18- */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

.comment__wrapper::-moz-placeholder {  /* Firefox 19+ */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

comment__wrapper:-ms-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__button {
  text-align: right;
  margin:1.2em 0 0;
}
/* 770px */
@media all and (max-width: 48.115em) {
 .comment__button {
  text-align: center;
  }
}
.comment__button .button {
  text-align: center;
}
