/*------Internal Pages : about/thanks/contributors------*/
.page {
  background-color: #fff;
}
.page p {
  line-height: 150%;
  margin-bottom: 1em;
}
.page ol {
  line-height: 150%;
  margin: 1.25em 0;
}

@media (--viewport-450px) {
  .page ol {
    margin: 1.25em 0 1.25em 1.25em;
  }
}
.page li {
  margin-bottom: 1em;
}
.page strong {
  font-weight: 500;
}
