.sorting {
  margin-bottom: 5px;
}

.sort-dropdown {
  display: inline-block;
  margin-top: -5px;
  position: relative;
}

.sort-dropdown:last-child {
  margin-left: 20px;
}

.dropdown {
  margin-left: auto;
  margin-right: var(--unit-gutter);
  position: relative;
  width: var(--unit-modul-s);
}

.sort-dropdown .dropdown {
  display: none;
}

.is-active.sort-dropdown .dropdown {
  display: inline-block;
  left: 100%;
  margin-top: -10px;
  position: absolute;
  top: 0;
  z-index: 900;
}

.sort-dropdown .nav-dropdown-item {
  padding: 10px 0 10px 5px;
}

.dropdown .nav-link {
  padding: 5px;
  text-decoration: none;
}

.dropdown .nav-dropdown-item {
  background-color: var(--color-bg-box);
  border-right: 1px solid var(--color-default);
  padding-right: 5px;
}

.dropdown .nav-dropdown-item:hover {
  background-color: var(--color-bg-page);
  border-right: 2px solid var(--color-first);
  padding-right: 5px;
}
