.hero-section {
  margin-left: calc(-1 * var(--grid-outermargin-s));
  margin-right: calc(-1 * var(--grid-outermargin-s));
  margin-top: -34px;
  padding: calc(var(--unit-gutter) / 2) var(--unit-gutter);
}

.hero-section .grid-row {
  background-color: transparent;
}

.hero-claim {
  font-size: 3.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.hero-text {
  display: inline-block;
}

.hero-text .button-hero {
  margin-bottom: 1em;
}

.hero-illustration {
  display: none;
}

@media screen and (min-width: 665px) {
  .hero-section {
    margin-left: calc(-1 * var(--grid-outermargin-m));
    margin-right: calc(-1 * var(--grid-outermargin-m));
  }
}

@media screen and (min-width: 998px) {
  .hero-text {
    width: 50%;
  }

  .hero-claim {
    margin-bottom: 2em;
  }

  .hero-text .button-hero {
    margin-bottom: 0;
  }

  .hero-section {
    padding: 6em var(--unit-gap) 5.25em;
    width: 100%;
    position: relative;
    margin: -32px auto 0;
  }

  .hero-illustration {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    max-width: calc(var(--unit-modul-l) / 2);
  }

  .hero-illustration-bulb {
    position: absolute;
    height: 19em;
    top: 0;
    right: 6em;
  }

  .hero-illustration-bug {
    position: absolute;
    height: 4em;
    top: 18em;
    right: 16em;
  }

  .bug-animated {
    animation-name: bug;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    transform-origin: 50% 100%;
    animation-play-state: paused;
  }

  .bug-animated:hover {
    animation-play-state: running;
  }
}

.button-icon-hero {
  fill: var(--color-first);
  border: 1px solid #f0f;
}

.button-icon-hero:hover {
  fill: var(--color-first);
}
