.issues-list {
  padding: 0;
}

.issues-list .issue {
  border-bottom: 5px solid var(--color-bg-page);
}

.issue .x2 {
  border-left: 10px solid;
}

.issue-url {
  word-break: break-all;
}

.issue .issue-description,
.issue .issue-labels {
  padding-top: calc(var(--unit-gap) / 3);
  padding-bottom: calc(var(--unit-gap) / 3);
}

.issue .issue-description {
  padding-left: var(--unit-gap);
  font-size: 1.1em;
  word-wrap: break-word;
}

.issue .issue-description * {
  line-height: 1.1em;
}

.issue-description .issue-number {
  font-weight: 700;
}

.issue-description .issue-url {
  text-decoration: underline;
}

/* .issue-description .issue-type {
} */

.issue-description .issue-date-open {
  color: var(--color-default);
  line-height: 1em;
  font-size: .8em;
  display: inline;
}

.issue-description .issue-date-closed {
  color: var(--color-default);
  line-height: 1em;
  font-size: .8em;
  display: inline;
  margin-left: calc (var(--unit-gap) / 3);
}

.issue-description .issue-comments {
  color: var(--color-default);
  line-height: 1em;
  font-size: .8em;
  display: inline;
  margin-left: calc(var(--unit-gap) / 3);
}

.issue .issue-labels {
  font-size: .9em;
}

.issue-labels .label {
  border-left: 5px solid;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 2px;
}

@media screen and (min-width: 998px) {
  .issue-labels .label {
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .issue .issue-labels {
    font-size: .9em;
    padding: 0 calc(var(--unit-gap) * 1.2);
  }
}
