.issue-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.issue-controls > .grid-cell {
  flex: 1 0 100%;
  min-width: 0;
}

@media screen and (min-width: 665px) {
  .issue-controls > .grid-cell {
    flex: 1 0 auto;
  }
}

.issues-list .issue {
  border-bottom: 5px solid var(--color-bg-page);
}

.issue .x2 {
  border-left: 10px solid;
}

.issue-url {
  word-break: break-all;
}

.issue .issue-description,
.issue .issue-labels {
  padding-bottom: calc(var(--unit-gap) / 3);
  padding-top: calc(var(--unit-gap) / 3);
}

.issue .issue-description {
  font-size: 1.1em;
  margin-left: 0;
  padding-left: calc(var(--unit-gap) + 1 / 2 * var(--unit-space));
  word-wrap: break-word;
}

.issue .issue-description * {
  line-height: 1.1em;
}

.issue-description .issue-number {
  font-weight: 700;
}

.issue-description .issue-url {
  text-decoration: underline;
}

.issue-description .issue-date-open,
.issue-description .issue-date-closed,
.issue-description .issue-comments {
  color: var(--color-default);
  display: inline;
  font-size: .8em;
  line-height: 1em;
}

.issue-description .issue-date-closed,
.issue-description .issue-comments {
  margin-left: calc(var(--unit-gap) / 3);
}

.issue .issue-labels {
  font-size: .9em;
}

.issue-labels .label {
  border-left: 5px solid;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
}

@media screen and (min-width: 998px) {
  .issue-labels .label {
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .issue .issue-labels {
    font-size: .9em;
    padding: 0 calc(var(--unit-gap) * 1.2);
  }
}

#x-search-bar .nav-button {
  margin-left: -18px;
  margin-top: -23px;
  position: absolute;
  z-index: 200;
}
