/*
* slider
*
----------------
* DEPENDENCIES:
----------------
* variable.css
*/

:root {
  --slider-animation-distance: 100px;
  --slider-title-transition: all .5s .1s;
  --slider-text-transition: all .5s .2s;
  --slider-image-transition: all .5s .3s;
  --slide-height: 350px;
}

.full-height {
  height: 100%;
}

.slider .slides {
  min-height: var(--slide-height);
  position: relative;
}

.slider .slide {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
}

.slider .slide.active {
  opacity: 1;
  z-index: 2;
}

.slider .text-half {
  width: 60%;
}

.slider .slide .text-half .title {
  font-size: 32px;
  left: var(--slider-animation-distance);
  margin-top: 10px;
  opacity: 0;
  padding: 16px;
  position: relative;
  text-align: left;
  transition: var(--slider-title-transition);
}

.slider .slide.active .text-half .title {
  left: 0;
  opacity: 1;
}

.slider .slide .text-half .text {
  font-size: 18px;
  left: var(--slider-animation-distance);
  margin-top: 20px;
  opacity: 0;
  padding: 16px;
  position: relative;
  text-align: left;
  transition: var(--slider-text-transition);
}

.slider .slide.slide.active .text-half .text {
  left: 0;
  opacity: 1;
}

.slider .slide .image-half {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
}

.slider .slide .image-half::before {
  background-color: var(--upload-background);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  content: "";
  height: 140%;
  left: 0;
  position: absolute;
  top: -20%;
  width: 100%;
  z-index: -1;
}

.slider .slide .image-half img {
  left: var(--slider-animation-distance);
  opacity: 0;
  position: relative;
  transition: var(--slider-image-transition);
}

.slider .slide.active .image-half img {
  left: 0;
  opacity: 1;
}

.controls {
  margin-top: 0;
}

.controls .row {
  justify-content: center;
}

.controls .dot {
  background-color: var(--dot-color);
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  margin: 0 8px;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  width: 12px;
}

.controls .dot.active {
  background-color: var(--wizard-step-color);
  border: 2px solid var(--dot-color);
  transform: scale(1.3);
}

.controls .btn {
  background-color: var(--color-first);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 22px auto 0;
  min-width: 140px;
  padding: 11px;
}

.controls .btn:hover {
  opacity: .85;
}

.controls .btn.close-control {
  display: none;
}
