/* Category editor */
.label-editor {
  position: absolute;
  display: block;
  min-width: 320px;
  z-index: 5;
  white-space: nowrap;
  top: 13%;
  left: -49px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  background-color: var(--color-bg-box);
}

/* Category header */
.label-editor-header {
  display: flex;
  background-color: var(--color-bg-box);
  padding: .625em;
}

/* list category */
.label-editor-list {
  max-height: 18.75em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media all and (max-width: 23.43em) {
  .label-editor-list {
    max-height: inherit;
  }
}

/* item category */
.label-editor-list-item {
  display: block;
  cursor: pointer;
  border-top: 1px solid var(--color-default);
  border-left: 4px solid;
  padding: calc(var(--unit-space) * 0.75) calc(var(--unit-space) * 0.5);
  margin: 0;
}

.label-editor-list-item:last-child {
  border-bottom: 1px solid #ddd;
}

/* event */
.label-editor-list-item:focus,
.label-editor-list-item.focused {
  border-width: 2px;
  border-style: solid;
  border-color: Highlight;
  outline: none;
}

/* checkbox */
.label-editor-list-item-checkbox {
  margin: 0;
  padding: 0;
}

/* Launch Category Editor */
.label-editorLauncher {
  display: none;
  border: none;
  width: 1.3em;
  height: 1.3em;
  font-size: 1.4em;
  padding: 0;
  opacity: .8;
}

/* display caret and category only if button is-active */
.label-editorLauncher.is-active + .label-editor::after,
.label-editorLauncher.is-active + .label-editor {
  display: block;
}

.label-editor-launcher:hover {
  opacity: 1;
}

.label-editor-launcher::before {
  content: "\f013";
}

.label-editor-launcher.is-active::before {
  content: "\f00d";
}

.label-editor-header .nav-button {
	margin-top: -10px;
	margin-left: 10px;
}
.wc-Issue-categoryEditor-button .label-editorLauncher {
  pointer-events: auto;
}
