.notification-bar {
  left: 0;
  line-height: 3;
  min-height: 58px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2000;
}

.notification-information {
  background-color: var(--color-first-contrast);
  border-bottom: 5px solid var(--color-first);
}

.notification-alert {
  background-color: var(--color-error-transparent);
  border-bottom-color: var(--color-error);
  color: var(--color-bg-box);
}

.notification-thanks {
  height: unset;
  line-height: unset;
  position: static;
  text-align: unset;
  z-index: unset;
}
