.is-disabled {
  opacity: 0.7;
  text-decoration: none;
}

.pagination-previous .nav-icon {
	transform: rotateY(180deg);
}

.pagination .pagination-next {
	padding-left: 25px;
}

.pagination-previous,
.pagination-next,
.sort-dropdown .button {
	text-decoration: none;
	border: 0 none;
	background-color: transparent;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.8em;
	padding: 0;
}

.pagination {
	text-align: right;
}