body {
  color: var(--color-second);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.highlight {
  font-weight: 300;
  text-transform: uppercase;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: .75em;
}

.headline-1 {
  background-image: url("../../img/svg/icons/svg-leaf_left.svg"), url("../../img/svg/icons/svg-leaf_right.svg");
  background-position: center left, center right;
  background-repeat: no-repeat;
  font-size: 2em;
  line-height: 1.4em;
  margin-top: .3em;
  padding: 0 40px;
  text-align: center;
}

.headline-2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 1.25em;
}

.headline-3 {
  font-size: 1.2em;
  line-height: .8em;
}

.hint-text {
  color: var(--color-default);
  font-family: Palatino, Garamond, serif;
  font-size: 1.025em;
  font-style: italic;
}

.code-text {
  color: #666;
  font-family: monospace;
  font-size: .9em;
  line-height: 1.8em;
}

blockquote {
  border-left: 5px solid var(--color-default);
  color: #666;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
}
