<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Web Compatibility{% endblock %} | webcompat.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="WebCompat.com Triage dashboard">
  <style>

  body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/*** Table Styles **/

caption {
  display: block;
  margin: auto;
  font-size: 2em;
}

table {
  border-collapse: collapse;
}

th, td {
  padding:1em;
}


tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
}

  </style>
</head>
<body>
  {% block body %}{% endblock %}
  {% include "dashboard/footer.html" %}
</body>
</html>
