<style>
@media all and (min-width: 27.5em) {
  .wc-UIMain {
    margin-top: 50px;
    padding: 0px 50px;
  }
}
</style>
{% extends "dashboard/layout.html" %}
{% block title %}Triage Dashboard{% endblock %}
{% block body %}
  {% include "dashboard/triage/top-bar.html" %}
  <main class="wc-UIMain" role="main">
    <div style="background-color: #fff; 0% 0%; padding: 1.2em;">
      {% include "dashboard/triage/stats.html" %}
      {% include "dashboard/triage/filters.html" %}
      {% include "dashboard/triage/activity-indicator.html" %}
      {% include "dashboard/triage/needstriage-list.html" %}
      {% include "dashboard/triage/no-result.html" %}
    </div>
  </main>
<script type="text/javascript">
  /* Added an event onSubmit form */
  document.getElementById("js-Filters").addEventListener("submit", (e) => {
    e.preventDefault()
     filteringList()
  })

  /* Handle visibility of ActivityIndicator */
  const shouldRenderActivityIndicator = (render = true) => {
    const ActivityIndicator = document.getElementById("js-ActiviyIndicator")
    if(render) {
      ActivityIndicator.classList.remove("is-hidden")
    }
    if(!render) {
      ActivityIndicator.classList.add("is-hidden")
    }
  }

  /* Handle visibility of NoResult */
  const shouldRenderNoResult = (render = true) => {
    const NoResult = document.getElementById("js-NoResult")
    if(render) {
      NoResult.classList.remove("is-hidden")
    }
    if(!render) {
      NoResult.classList.add("is-hidden")
    }
  }

  /* Handle visibility of NeedsTriageList */
  const shouldRenderNeedsTriageList = (render = true) => {
    const Triages = document.getElementById("js-Triages")
    if(render) {
      Triages.classList.remove("is-hidden")
    }
    if(!render) {
      Triages.classList.add("is-hidden")
    }
  }

  /* Filtering (newest or oldest) list of Triage */
  const filteringSort = () => {
    const select = document.getElementById("js-Filter-sort")
    const Triages = document.getElementById("js-Triages")
    switch (select.value) {
      case "":
        Triages.classList.remove("is-oldest")
        break;
      case "oldest":
        Triages.classList.add("is-oldest")
        break;
      default:
        console.warn("Sorting not supported")
    }
  }

  /* Filtering List of triage */
  const filteringList = (renderActivityIndicator = true) => {
    /* init nbItem visible */
    let nbItemVisible = 0


    if(renderActivityIndicator) {
      shouldRenderActivityIndicator()
    }
    /* Triage list */
    const triageList = Array.from(document.getElementsByClassName("wc-Triage"))
    triageList.forEach((issue) => {
      /* By default all element are visible */
      let mustBeHidden = false
      const selectList = Array.from(document.getElementsByClassName("wc-Filter-select"))
      selectList.forEach((select) => {
        /* test value */
        if(select.value && !issue.classList.contains(select.value)) {
          mustBeHidden = true
          return
        }
      })
      /* Show or hide */
      if(mustBeHidden) {
        issue.classList.add("is-hidden")
      } else {
        issue.classList.remove("is-hidden")
        nbItemVisible += 1
      }
      /* Filtering Sort, it's a global fiilter */
      filteringSort()
    })
    /* Render components */
    shouldRenderActivityIndicator(false)
    shouldRenderNoResult(nbItemVisible == 0)
    shouldRenderNeedsTriageList( nbItemVisible > 0)
  }

  /* Readable date */
  (() => {
    const dateList = Array.from(document.getElementsByClassName("wc-Triage-date"))
    dateList.forEach((element) => {
      element.textContent = element.getAttribute("datetime").slice(0,10)
    })
  })()

  /* init list with filters by default */
  filteringList(false)
</script>
{% endblock %}
