<script type="text/template" id="my-issues-tmpl">
  <% if (myIssues.length) { %>
    <% _.each(myIssues, function(issue) { %>
      {% include "web_modules/issue-list.html" %}
    <% }); %>
  <% } else { %>
  <p>Nothing here currently, go report something!</p>
  <% } %>
</script>
