<div class="wc-Issue">
  <div class="wc-content" id="user-reported-issues">
    <h2 class="wc-Title--l">Issues reported by {{user}}</h2>
    <div id="my-issues" class="wc-Issue-content">
      <script type="text/template" id="my-issues-tmpl">
        <% if (myIssues.length) { %>
          <% _.each(myIssues, function(issue) { %>
            {% include "web_modules/issue-item.html" %}
          <% }); %>
        <% } else { %>
        <p>Nothing here currently, go report something!</p>
        <% } %>
      </script>
    </div>
  </div>
</div>
