<div class="wc-Issue">
  <div class="wc-content" id="user-mentioned-issues">
    <h2 class="wc-Title--l">Issues mentioning {{user}}</h2>
    <div id="issue-mentions" class="wc-Issue-content">
      <script type="text/template" id="issue-mentions-tmpl">
        <% if (issueMentions.length) { %>
          <% _.each(issueMentions, function(issue) { %>
            {% include "shared/issue-item.html" %}
          <% }); %>
        <% } else { %>
        <p>Nothing here currently.</p>
        <% } %>
      </script>
    </div>
  </div>
</div>
