<footer class="wc-Footer" role="contentinfo">
  <div class="wc-UIContent wc-UIContent--footer">
    <div class="wc-Footer-wrapper">
      <ul class="wc-Footer-list r-ResetList">
        <li class="wc-Footer-item">
          <a class="wc-Footer-link wc-Footer-link--separator" href="{{ url_for('about') }}">
            <span class="wc-Footer-link-label">About</span>
          </a>
        </li>
        <li class="wc-Footer-item">
          <a class="wc-Footer-link wc-Footer-link--separator" href="{{ url_for('privacy') }}">
            <span class="wc-Footer-link-label">Privacy Policy</span>
          </a>
        </li>
        <li class="wc-Footer-item">
          <a class="wc-Footer-link wc-Footer-link--separator" href="/humans.txt">
            <span class="wc-Footer-link-label">Contact</span>
          </a>
        </li>
        <li class="wc-Footer-item">
          <a class="wc-Footer-link" href="{{ url_for('contributors') }}">
            <span class="wc-Footer-link-label">Contribute</span>
          </a>
        </li>
      </ul>
      <ul class="wc-Footer-list r-ResetList">
        <li class="wc-Footer-item wc-Footer-item--follow">
          <a class="wc-Footer-link" href="https://twitter.com/webcompat" target="_blank">
            <span class="wc-Footer-link-label">Follow @WebCompat</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
