<header class="wc-Navbar">
  <nav class="wc-content" role="navigation">
    <div class="wc-Navbar-section wc-Navbar-section--left">
      <a class="wc-Navbar-link" href="/">
        Home
      </a>
    </div>
    <div class="wc-Navbar-section wc-Navbar-section--right">
    {% if not session.user_id %}
      <a class="wc-Navbar-link" href="{{ url_for('login') }}">Login</a>
    {% else %}
      <a class="wc-Navbar-link" href="{{ url_for('logout') }}">Logout</a>
      {% if session.user_id and session.avatar_url %}
      <img class="wc-Navbar-avatar" src=" {{ session.avatar_url }}s=40">
      {% endif %}
    {% endif %}
    </div>
  </nav>
</header>
