<header class="wc-Navbar" role="banner">
  <nav class="wc-UIContent" role="navigation">
    <div class="wc-Navbar-container">
      <div class="wc-Navbar-section">
        <a class="wc-Navbar-link js-Navbar-link" href="/">
          <span class="wc-Navbar-link-icon wc-Icon wc-Icon--home" aria-hidden="true"></span>
          <span class="wc-Navbar-link-label">Home</span>
        </a>
      </div>
      <div class="wc-Navbar-section">
        <a class="wc-Navbar-link js-Navbar-link" href="/issues/new">
          <span class="wc-Navbar-link-icon wc-Icon wc-Icon--bug" aria-hidden="true"></span>
          <span class="wc-Navbar-link-label">Report a bug</span>
        </a>
        {% include "shared/shared-nav-links.html" %}
      </div>
    </div>
  </nav>
</header>
