<header id="feedback" class="header">
  <nav class="container nav" role="navigation">
    <div class="nav__section nav__section--left">
      <a class="nav__link nav__link--left" href="/">
        <img class="nav__logo" src="{{ url_for('static', filename='img/LightbulbwithBug.png') }}" alt="Light Switch">
      </a>
    </div><!--
    --><div class="nav__section nav__section--right">
    {% if not session.user_id %}
      <a class="nav__link nav__link--right" href="{{ url_for('login') }}">Login</a>
    {% else %}
      <a class="nav__link" href="{{ url_for('logout') }}">Logout</a>
      {% if session.user_id and session.avatar_url %}
      <img class="nav__avatar" src=" {{ session.avatar_url }}s=40">
      {% endif %}
    {% endif %}
    </div>
  </nav>
</header>