<a class="wc-Navbar-link js-Navbar-link" href="/#contribute">
  <span class="wc-Navbar-link-icon wc-Icon wc-Icon--contribute" aria-hidden="true"></span>
  <span class="wc-Navbar-link-label">Contribute</span>
</a>
<a class="wc-Navbar-link js-issues-link"
    href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc"
>
  <span class="wc-Navbar-link-icon wc-Icon wc-Icon--list" aria-hidden="true"></span>
  <span class="wc-Navbar-link-label">All issues</span>
</a>
{% if not session.user_id %}
  <a class="wc-Navbar-link js-login-link" href="{{ url_for('login') }}">
    <span class="wc-Navbar-link-icon wc-Icon wc-Icon--arrow-circle-right" aria-hidden="true"></span>
    <span class="wc-Navbar-link-label">Log in</span>
  </a>
{% else %}
  <div class="r-ResetButton wc-Navbar-link js-login-link wc-DropdownHeader">
    <button class="r-ResetButton" aria-pressed="false">
      <img class="wc-Navbar-avatar" src="{{ session.avatar_url }}s=50" alt="User Avatar">
      <span class="wc-Navbar-link-icon wc-Icon wc-Icon--chevron-down" aria-hidden="true"></span>
    </button>
    <div class="wc-DropdownHeader-content">
      <a class="wc-Navbar-linkDropdown" href="{{ url_for('me_redirect') }}">My Activity</a>
      <a class="wc-Navbar-linkDropdown" href="{{ url_for('logout') }}">Logout</a>
    </div>
  </div>
{% endif %}
