.wc-AppliedLabels {
  background-color:#F7F7F7;
  padding-bottom:1.5em;
}
.wc-Filter-appliedlabel{
  padding-right: 40px;
  background-image: url(/img/invalid.svg);
  background-repeat: no-repeat;
  background-position: right top;

}
