/** @define Box */

.wc-Box {
  border-style:solid;
  border-width:1px;
  border-radius :10px;
  padding: 1.6em;
  margin:3em 0;
  background-color: #F7F7F7;
  }

    /* modifier */
    .wc-Box--reporting {
      border-color: var(--base-stateNew);
    }

    .wc-Box--analysis {
      border-color: var(--base-stateNeedsDiagnosis);
    }

    .wc-Box--reaching {
      border-color:var(--base-stateNeedsContact);
    }

    /* label */
    .wc-Box-label {
      color : #000;
      font-weight:bold;
    }

    .wc-Box-media {
      margin:30px auto 30px auto;
    }

    @media all and (min-width: 48.13em) {

      .wc-Box-media {
        width:80%;
      }
    }
