/** @define Comment */

:root {
  --Comment-fontSize: var(--base-fontSize);
  --Comment-color: var(--base-variantColorLight);
  --Comment-widthAvatar: 48px;
  --Comment-heightAvatar: var(--Comment-widthAvatar);
  --Comment-borderRadius: 4px;
}

/* Main Class */
.wc-Comment {
  font-size: var(--Comment-fontSize);
}

  /* space */
  .wc-Comment + .wc-Comment {
    margin-top: 1em;
  }

  /* Avatar */
  .wc-Comment-avatar {
    width: var(--Comment-widthAvatar);
    height: var(--Comment-heightAvatar);
  }

    /* img */
    .wc-Comment-avatar img {
      width: 100%;
    }

  @media all and (max-width: 61.87em) {
    .wc-Comment-avatar {
      display: none;
    }
  }

  /* Body */
  .wc-Comment-body {
    position: relative;
    max-width: 100%;
  }

  /* Wrapper Comment-header Comment-content */
  .wc-Comment-wrapper {
    position: relative;
    width: 100%;
    border: solid 1px var(--Comment-color);
    border-radius: var(--Comment-borderRadius);
    padding: 0;
    word-wrap: break-word;
    background : #fff;
  }

  /* Comment Textarea */
  .wc-Comment-submit {
    font-size: var(--Comment-fontSize);
    display: block;
    width: 100%;
    min-height: 128px;
    border-color: var(--Comment-color);
    border-style: solid solid dashed solid;
    border-width: 1px;
    border-radius: var(--Comment-borderRadius) var(--Comment-borderRadius) 0 0;
    padding: 1em;
  }

    /* Textarea Placeholder style */
    .wc-Comment-submit::placeholder {
      color: var(--Comment-color);
      opacity: 1;
    }

  /* Comment Header */
  .wc-Comment-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e2e2e2;
    padding: .4em 1em;
  }

  .wc-Comment-header-spacing {
    padding: 0 6px;
  }

  /* Name of owner */
  .wc-Comment-owner {
    font-weight: bold;
  }

  @media all and (min-width: 61.88em) {
    .wc-Comment-owner {
      margin: 0 0 0 .6em;
    }
  }

  /* Comment text */
  .wc-Comment-content {
    position: relative;
    word-wrap: break-word;
    padding: 1em;
  }

  .wc-Comment-content .is-hidden {
    display: none;
  }

  /* img attach file */
  .wc-Comment-attach {
    display: block;
    margin:.8em 0 0 0;
    padding: .4em;
    text-align: center;
    overflow: hidden /* prevent overflow */
  }

  /* prevent width of img */
  .wc-Comment-attach img {
    width: 100%;
    max-width: 100%;
  }

  /* Button */
  .wc-Comment-button {
    text-align: right;
    margin:1.2em 0 0;
  }

  @media all and (max-width: 48.12em) {
   .wc-Comment-button {
     text-align: center;
     font-size:.9em;
    }
  }

  .wc-Comment-button .button {
    text-align: center;
  }

  /* QR */
  .wc-Comment-qr {
    z-index: 1;
    margin-left: auto;
  }

  @media all and (max-width: 31.25em) {
    .wc-Comment-qr {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
