/*------Comment------*/


/* Main Class */
.Comment {
  font-size:var(--base-font-size);
}

/*Comment + Comment */
.Comment + .Comment {
    margin-top:1em;
}
.Comment:after {
    content: "";
    display: table;
    clear: both
}

/* Avatar */
.Comment-avatar {
  float: left;
}
.Comment-avatar img {
  width: 59px;
  height: 56px;
}
@media (--viewport-990px) {
  .Comment-avatar {
    display: none;
  }
}
/* Body */
.Comment-body {
  float:left;
  margin-left:.8em;
  position: relative;
}
@media (--viewport-990px) {
  .Comment-body {
    margin-left:0;
  }
}
@media (--viewport-770px) {
  .Comment-body {
    width: 100%;
  }
}
/* Body Caret */
.Comment-body--caret:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 15px;
  left: -9px;
  background-color: #f0f0f0;
  border-color: var(--wc-variant-background-light);
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  transform: rotate(45deg);
}
/* Wrapper Comment-header Comment-content */
.Comment-wrapper {
  position: relative;
  width: 650px;
  /*last 256px*/
  min-height: 128px;
  border: solid 1px var(--wc-variant-background-light);
  border-radius: 10px;
  padding: 0 1em 2em 1em;
  word-wrap: break-word;
  background : #fff;
}
@media (--viewport-770px) {
  .Comment-wrapper {
    width: 100%;
  }
}
/* Comment Header */
.Comment-header {
  border-radius: 10px 10px 0 0;
  background-color: #F0F0F0;
  padding:.8em 1em;
  margin: 0 -1em;
}
/* Name of owner */
.Comment-owner {
  font-weight: bold;
}

/* Comment texte */
.Comment-content {
  overflow: hidden;
  word-wrap: break-word;
  padding:.5em 0 0;
}
  /* list style */
  .Comment-content ul {
    list-style: inside;
  }
  /* pre / code */
  .Comment-content pre,
  .Comment-content code {
    white-space: normal;
  }
  /* title */
  .Comment-content h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 1em 0;
  }
  .Comment-content h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0;
  }
  .Comment-content h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em 0;
  }
/* Comment-content img */
.Comment-content img {
  max-width:100%;
  max-height:100%;
}
/* blockquote */
.Comment-content blockquote {
  border-left: 4px solid var(--wc-background-light);
  padding: 0px 1em;
  margin: 1em 0px;
  color: #6a6a6a;
}
/* GitHub username */
.Comment-content .github__username {
  font-weight: bold;
}

/* Form submit */
.Comment--form {
  padding-top:2em;
  margin:2em 0 0 ;
}
.Comment--form .Comment-body--caret:after {
   background-color: #fff;
}
/* img attach file */
.Comment-attach {
  display: block;
  margin:.8em 0 0 0;
  padding: .4em;
  text-align: center;
  overflow: hidden /* prevent overflow */
}
/* prevent width of img */
.Comment-attach img {
  width: 100%;
  max-width: 100%;
}
.Comment--form  .Comment-wrapper {
  padding-top: 1em;
}
/* drag and drop */
/*.Comment-drag{
    position: relative;
}
.Comment-dd {
  position: absolute;
  bottom: .6em;
  width: 100%;
  text-align: center;
  color: var(--wc-variant-background-light);
  font-size: .8em;
  z-index: 2;
  font-weight: bold;
}
.Comment-dd-label {
  color: #e6bf04;
}*/
/* Textarea Placeholder style */
.Comment-wrapper::placeholder {
  color: var(--wc-variant-background-light);
  opacity: 1;
  font-size: 1.2em;
  font-weight: 500;
}


/* Button */
.Comment-button {
  text-align: right;
  margin:1.2em 0 0;
}

@media (--viewport-770px) {
 .Comment-button {
   text-align: center;
   font-size:.9em;
  }
}
.Comment-button .button {
  text-align: center;
}
