/** @define Comment */

:root {
  --Comment-fontSize: var(--base-fontSize);
  --Comment-color: var(--base-variantColorLight);
  --Comment-widthAvatar: 48px;
  --Comment-heightAvatar: var(--Comment-widthAvatar);
}

/* Main Class */
.wc-Comment {
  font-size: var(--Comment-fontSize);
  box-shadow: 0 1px 3px rgba(0,0,0, 0.10), 0 1px 2px rgba(0,0,0, 0.25);
}

  /* space */
  .wc-Comment + .wc-Comment {
    margin-top: 1em;
  }
  /* Body */
  .wc-Comment-body {
    position: relative;
    max-width: 100%;
  }

  /* Wrapper Comment-header Comment-content */
  .wc-Comment-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    word-wrap: break-word;
    background : #fff;
  }

  /* Comment Textarea */
  .wc-Comment-submit {
    font-size: var(--Comment-fontSize);
    display: block;
    width: 100%;
    min-height: 128px;
    border-color: var(--Comment-color);
    border-style: solid solid dashed solid;
    border-width: 1px;
    padding: 1em;
  }

    /* Textarea Placeholder style */
    .wc-Comment-submit::placeholder {
      color: var(--Comment-color);
      opacity: 1;
    }

  /* Comment Header */
  .wc-Comment-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 1em;
  }
  
  @media all and (max-width: 61.87em) {
    .wc-Comment-header {
      padding: .5em;
    }
  }

  .wc-Comment-owner {
    display: flex;
    align-items: center;
  }

    /* Avatar */
    .wc-Comment-owner-avatar {
      width: var(--Comment-widthAvatar);
      height: var(--Comment-heightAvatar);
    }

      /* img */
      .wc-Comment-owner-avatar img {
        width: 100%;
        border-radius: 50%;
      }

    @media all and (max-width: 61.87em) {
      .wc-Comment--owner-avatar {
        width: 25px;
        height: 25px;
      }
    }

    .wc-Comment-owner-name {
      font-weight: bold;
      margin: 0 0 0 1em;
    }

  /* Comment text */
  .wc-Comment-content {
    position: relative;
    word-wrap: break-word;
    padding: 1em;
  }

  .wc-Comment-content .is-hidden {
    display: none;
  }

  /* img attach file */
  .wc-Comment-attach {
    display: block;
    margin:.8em 0 0 0;
    padding: .4em;
    text-align: center;
    overflow: hidden /* prevent overflow */
  }

  /* prevent width of img */
  .wc-Comment-attach img {
    width: 100%;
    max-width: 100%;
  }

  /* Button */
  .wc-Comment-button {
    text-align: right;
    margin:1.2em 0 0;
  }

  @media all and (max-width: 48.12em) {
   .wc-Comment-button {
     text-align: center;
     font-size:.9em;
    }
  }

  .wc-Comment-button .button {
    text-align: center;
  }

  /* QR */
  .wc-Comment-qr {
    z-index: 1;
    margin-left: auto;
  }

  @media all and (max-width: 31.25em) {
    .wc-Comment-qr {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
