/*------Comment------*/

/* wrapper comment issue */
.comment + .comment {
    margin-top:1em;
}
.comment:after {
    content: "";
    display: table;
    clear: both
}
/* case form */
.comment--form {
  padding-top:2em;
  margin:2em 0 0 ;
}

.comment__avatar,
.comment__body {
  float: left;
}

@media (--viewport-990px) {
  .comment__avatar {
    display: none;
  }
}
.comment__body {
  margin-left:.8em;
  position: relative;
}
/* Caret */
.comment__body--caret:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 15px;
  left: -8px;
  background-color: #f0f0f0;
  border-color: var(--wc-variant-background-light);
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  transform: rotate(45deg);
}
/* case form */
.comment--form .comment__body--caret:after {
   background-color: #fff;
}
.comment__avatar img {
  width: 59px;
  height: 56px;
}
.comment__header {
  border-radius: 10px 10px 0 0;
  background-color: #F0F0F0;
  padding:.8em 1em;
  margin: 0 -1em;
}
/* comment texte */
.comment__content {
    overflow: hidden;
    word-wrap: break-word;
    padding:.5em 0 0;
}
.comment__content img {
    max-width:100%;
    max-height:100%;
}

.comment__wrapper {
  position: relative;
  width: 650px;
  /*last 256px*/
  min-height: 128px;
  border: solid 2px var(--wc-variant-background-light);
  border-radius: 10px;
  padding: 0 1em 2em 1em;
  word-wrap: break-word;
}
/* img attach file */
.comment__attach {
  display: block;
  margin:.8em 0 0 0;
  padding: .4em;
  text-align: center;
  overflow: hidden /* prevent overflow */
}

@media (--viewport-770px) {
  /* Issues view */
  .comment__wrapper,
  .comment__body {
    width: 100%;
  }
}
/* prevent width of img */
.comment__attach img {
  width: 100%;
  max-width: 100%;
}
/* comment with header */
.comment--form  .comment__wrapper {
  padding-top: 1em;
}
/* name of owner */
.comment__owner {
  font-weight: bold;
}
/* drag and drop */
.comment__drag{
    position: relative;
}
.comment__dd {
    position: absolute;
    bottom: .6em;
    width: 100%;
    text-align: center;
    color: var(--wc-variant-background-light);
    font-size: .8em;
    z-index: 2;
    font-weight: bold;
}
.comment__dd__label {
  color: #e6bf04;
}
/* Textarea Placeholder style */
.comment__wrapper::-webkit-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__wrapper:-moz-placeholder { /* Firefox 18- */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

.comment__wrapper::-moz-placeholder {  /* Firefox 19+ */
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}

comment__wrapper:-ms-input-placeholder {
   color: var(--wc-variant-background-light);
   opacity: 1;
   font-size: 1.2em;
   font-weight: 500;
}
.comment__button {
  text-align: right;
  margin:1.2em 0 0;
}

@media (--viewport-770px) {
 .comment__button {
  text-align: center;
  }
}
.comment__button .button {
  text-align: center;
}
