/** @define CSSFixme */

:root {
  --CSSFixme-fontSize: var(--base-fontSize);
  --CSSFixme-backgroundColor : rgba(249, 249, 249, 0.6);
  --CSSFixme-backgroundColorStrong: var(--base-colorDark);
  --CSSFixme-preBorderColor: var(--base-colorDark);
}

.wc-CSSFixme {
  font-size:var(--CSSFixme-fontSize);
}

  /* item wrapper */
  .wc-CSSFixme-item {
    margin-top: 1em;
  }

  /* instruction */
  .wc-CSSFixme-instruction {
    margin-left: 1em;
    font-size: 1.1em;
  }

  /* pre */
  .wc-CSSFixme-resultat,
  .wc-CSSFixme pre {
    margin: 1em 0;
    padding: 1em 1em 1em .3125em;
    color: #414042;
    border-style: solid;
    border-color: #ddd #ddd #ddd var(--CSSFixme-preBorderColor);
    border-width: 1px 1px 1px 8px;
    border-radius: .3em;
    background: var(--CSSFixme-backgroundColor);
  }

    /* element modify */
    .wc-CSSFixme-resultat strong {
      background-color: var(--CSSFixme-backgroundColorStrong);
    }
