/* Dropdown */
.wc-Dropdown {
  position:relative;
  font-size:var(--base-font-size);
  display: inline-block;
}
.wc-Dropdown--large {
  font-size:2em;
}
@media (--viewport-450px) {
  .wc-Dropdown--large {
    font-size:1.4em;
  }
}
.wc-Dropdown-toggle {
  vertical-align:middle;
  background-image:none;
  background-color:transparent;
  border:none;
  color:#404040;
  font-family:var(--base-font);
  font-size:1em;
  padding:0.7em 0;
  cursor:pointer;
  border:solid 2px transparent;
  font-weight:700;
}
  .wc-Dropdown-label {
    display:inline-block;
    pointer-events: none;
    vertical-align:middle;
  }
  .wc-Dropdown-content {
    position:absolute;
    min-width:100%;
    display: none;
    padding:0 1em 1em 1em;
    background-color:rgba(255,255,255,.8);
    z-index:2;
    list-style:none;
  }
  .wc-Dropdown.is-active .wc-Dropdown-toggle {
    border:solid 2px rgba(255,255,255,.8);
  }
  .wc-Dropdown.is-active .wc-Dropdown-content {
    display: block;
  }
  .wc-Dropdown-item {
    cursor: pointer;
    margin:1em 0 0 !important;
    white-space:nowrap;
  }
  .wc-Dropdown-link {
    font-weight:700;
  }
