/*----------wc-Filter ----------*/

/* wc-Filtering issues */
.wc-Filter {
  display:inline-block;
  vertical-align:middle;
  background-image:none;
  background-color:transparent;
  font-family:var(--base-font);
  font-size:var(--base-font-size);
  border-width:1px;
  border-style:solid;
  cursor:pointer;
  padding:.4em;
  margin:0 .8em .4em 0;
  color:#404040;
}
  .wc-Filter:hover,
  .wc-Filter.is-active {
    color:#fff;
  }
  .wc-Filter--new {
    border-color:var(--wc-state-new);
  }
  .wc-Filter--new:hover,
  .wc-Filter--new.is-active {
    background-color:var(--wc-state-new);
  }
  .wc-Filter--needsDiagnosis {
    border-color:var(--wc-state-needsDiagnosis);
  }
  .wc-Filter--needsDiagnosis:hover,
  .wc-Filter--needsDiagnosis.is-active {
    background-color:var(--wc-state-needsDiagnosis);
  }
  .wc-Filter--needsContact {
    border-color:var(--wc-state-needsContact);
  }
  .wc-Filter--needsContact:hover,
  .wc-Filter--needsContact.is-active {
    background-color:var(--wc-state-needsContact);
  }
  .wc-Filter--ready {
    border-color:var(--wc-state-ready);
  }
  .wc-Filter--ready:hover,
  .wc-Filter--ready.is-active {
    background-color:var(--wc-state-ready);
  }
  .wc-Filter--sitewait {
    border-color:var(--wc-state-sitewait);
  }
  .wc-Filter--sitewait:hover,
  .wc-Filter--sitewait.is-active {
    background-color:var(--wc-state-sitewait);
  }
  .wc-Filter--close {
    border-color:var(--wc-state-close);
  }
  .wc-Filter--close:hover,
  .wc-Filter--close.is-active {
    background-color:var(--wc-state-close);
  }
