/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --FlashMessage-fontSize: var(--base-fontSize);
}

.wc-FlashMessage {
  font-size: var(--FlashMessage-fontSize);
  position: fixed;
  display: none;
  padding: 1.25em .5em;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background-color: #fff;
  text-align: center;
  color: #000;
}

/* states */
.wc-FlashMessage.is-active {
  display: block;
  z-index: 10;
}

/* modifier */
.wc-FlashMessage.is-error {
  color: #fff;
  background-color: rgba(255, 89, 89, .92);
}

.wc-FlashMessage--thanks {
  border-style: solid;
  border-width: 1px;
  border-color: #ffc900;
  position: static;
  opacity: 1;
  background-color: #fff;
  color: #000;
  text-align: left;
  margin: 0 0 .8em;
  padding: 1.6em;
}
