/** @define FlashMessage */

:root {
  --FlashMessage-fontSize: var(--base-fontSize);
}

.wc-FlashMessage {
  font-size: var(--FlashMessage-fontSize);
  position: fixed;
  display:none;
  padding: 1.25em 0.5em;
  top: 0;
  left:0;
  right: 0;
  opacity: 0.8;
  background-color: white;
  text-align: center;
  color: #000;
}

  /* states */
  .wc-FlashMessage.is-active {
    display:block;
    z-index: 10;
  }

  /* modifier */
  .wc-FlashMessage.is-error {
    color: #fff;
    background-color: rgba(255, 89, 89, 0.92)
  }
