/** @define Form */

:root {
  --Form-fontSize: 1rem;
  --Form-helpMessageColor: #ff0000;
}

.wc-Form {}

  /* header */
  .wc-Form .wc-Title--s {
    margin-top: 0;
  }

  /* group item */
  .wc-Form-group {
    position: relative;
  }

  /* information: wrap label and helpMessage */
  .wc-Form-information {
    display: flex;
  }

  /* label */
  .wc-Form-label {
    display: inline-block;;
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
  }

    /* modifier */
    .wc-Form-label--light {
      font-weight: 300;
    }

  .wc-Form-radio {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 .8em 0;
    vertical-align: middle;
    font-weight: 400;
  }

    /* label */
    .wc-Form-radio label {
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;
    }

  /* helpMessage */
  .wc-Form-helpMessage {
    font-weight: 700;
    color: var(--Form-helpMessageColor);
    margin: 0 0 0 .5em;
  }

    .wc-Form-helpMessage--imageUpload {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em 0;
      font-weight: 700;
      background-color: var(--Form-helpMessageColor);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: #fff;
      cursor: pointer;
      text-align: center;
      text-decoration: underline;
    }

  /* input */
  .wc-Form-item {
    display: block;
    width: 100%;
    font-size: var(--Form-fontSize);
    font-family: var(--base-fontFamily);
    font-weight: 300;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.5em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }

    /* state */
    .wc-Form-item.is-hidden {
      display: none;
    }

    /* event */
    .wc-Form-item:focus {
      border-color: #66AFE9;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    }

    .wc-Form-input::placeholder {
      font-size: var(--Form-fontSize);
      color: #999;
      opacity: 1;
     }

    /* modifier */
    .wc-Form-item--textarea {
      min-height: 250px;
      resize: vertical;
    }

    input[type="radio"] {
      margin:0 5px 0 0;
    }

  /* required */
  .wc-Form-required {
    color: #ff0000;
  }

  /* validation */
  .wc-Form-validation {
    display: block;
    clear: both;
    position: relative;
  }

    .wc-Form-validation::after {
      content: "";
      display: block;
      width: 60px;
      height: 20px;
      position: absolute;
      right: 12px;
      top: 8px;
      background-repeat: no-repeat;
      background-size: contain;
    }

      /* handle error */
      .wc-Form-group.is-error .wc-Form-item {
        border-color: #ff0000;
      }

      .wc-Form-group.is-error .wc-Form-item:focus{
        border-color: #ff0000;
        box-shadow: none;
      }

      .wc-Form-validation .wc-Form-item {
        padding-right: 40px;
      }

      .wc-Form-group.is-validated .wc-Form-validation::after {
        background-image: url(../img/valid.svg);
      }

      .wc-Form-group.is-error .wc-Form-validation::after {
        background-image: url(../img/invalid.svg);
      }

      .wc-Form-group.is-validated .wc-Form-helpMessage {
        display: none;
      }

      .wc-Form-group.is-error .wc-Form-item {
        border-color: var(--base-variantColorDark);
      }

      .wc-Form-group.is-error .wc-Form-item:focus{
        border-color: var(--base-variantColorDark);
        box-shadow:none;
      }
