/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --Form-fontSize: 1rem;
  --Form-helpMessageColor: #f00;
}

/* header */
.wc-Form .wc-Title--s {
  margin-top: 0;
}

/* group item */
.wc-Form-group {
  position: relative;
  margin: 0 0 1em;
}

.wc-Form-group--biggerOffset {
  margin: 0 0 2em;
}

/* information: wrap label and helpMessage */
.wc-Form-information {
  display: flex;
}

/* label */
.wc-Form-label {
  display: inline-block;
  margin-bottom: 5px;
  color: #000;
  font-weight: 700;
}

/* modifier */
.wc-Form-label--light {
  font-weight: 300;
}

.wc-Form-radio {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 .8em;
  vertical-align: middle;
  font-weight: 400;
}

/* label */
.wc-Form-radio label { /* stylelint-disable selector-no-type */
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

/* helpMessage */
.wc-Form-helpMessage {
  font-weight: 700;
  color: var(--Form-helpMessageColor);
  margin: 0 0 0 .5em;
}

.wc-Form-helpMessage--imageUpload {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  font-weight: 700;
  background-color: var(--Form-helpMessageColor);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

/* input */
.wc-Form-item {
  display: block;
  width: 100%;
  font-size: var(--Form-fontSize);
  font-family: var(--base-fontFamily);
  font-weight: 300;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: .5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  margin-bottom: 5px;
}

/* state */
.is-hidden {
/*.wc-Form-item.is-hidden,
.wc-Image-Editor-edit-btn.is-hidden,
.modal.is-hidden {
*/  
  display: none;
}

/* event */
.wc-Form-item:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
}

.wc-Form-input::placeholder {
  font-size: var(--Form-fontSize);
  color: #999;
  opacity: 1;
}

/* modifier */
.wc-Form-item--textarea {
  min-height: 125px;
  resize: vertical;
}

input[type = "radio"] { /* stylelint-disable selector-no-attribute */
  margin: 0 5px 0 0;
}

/* required */
.wc-Form-required {
  color: #f00;
}

/* validation */
.wc-Form-validation {
  display: block;
  clear: both;
  position: relative;
  margin-bottom: 12px;
}

.wc-Form-validation::after {
  content: "";
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}

.wc-Form-validation .wc-Form-item {
  padding-right: 40px;
}

.wc-Form-group.is-validated .wc-Form-validation::after {
  background-image: url("../../../img/valid.svg");
}

.wc-Form-group.is-error .wc-Form-validation::after {
  background-image: url("../../../img/invalid.svg");
}

.wc-Form-group.is-validated .wc-Form-helpMessage {
  display: none;
}

.wc-Form-group.is-error .wc-Form-item {
  border-color: var(--base-variantColorDark);
}

.wc-Form-group.is-error .wc-Form-item:focus {
  border-color: var(--base-variantColorDark);
  box-shadow: none;
}

/* Image Editor section */
.wc-Icon--edit-img::before {
  content: "\270e";
}

.modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--base-colorDarkest);
    background-color: var(--base-variantColorExtraDarkOpacity);
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--base-variantColorMedLight);
    margin: 15% auto;
    border: 1px solid var(--base-variantColorMed);
    border-radius: 8px;
    width: 80%;
}

/* The Close Button */
.close {
    color: var(--base-variantColorLight);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--base-colorDarkest);
    text-decoration: none;
    cursor: pointer;
}

.wc-Image-Editor-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 12px;
}

.wc-Image-Editor-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 12px;
  margin-bottom: 5px;
}

/* Image Editor buttons */
.wc-Image-Editor-edit-btn {
  margin: 3px;
  padding-left: 5px;
  width: 28px;
  height: 28px;
  border: 1px solid var(--base-variantColorLight);
  border-radius: 5px;
}

.wc-Image-Editor-edit-btn:hover {
  background-color: var(--base-variantColorLight);
}

.wc-Image-Editor-button {
  width: 40px;
  height: 30px;
  background-color: var(--base-variantColorMed);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.wc-Image-Editor-button:nth-of-type(1) {
  margin-right: 3px;
}

.wc-Image-Editor-button:nth-of-type(2) {
  margin-left: 3px;
}

.wc-Image-Editor-button:hover {
  background-color: var(--base-variantColorLight);
}

.wc-Image-Editor-button:active,
.wc-Image-Editor-button.is-active {
  border-color: var(--base-stateSitewait);
  border: 1px solid var(--base-stateSitewait);
  box-shadow: 0 1px 1px var(--base-activeBoxShadow) inset, 0 0 3px var(--base-activeBoxShadow2);
}

.wc-Image-Editor-yellow-rect {
  width: 30px;
  height: 20px;
  border: 2px solid var(--base-highlightBtnCenter);
  margin: 3px auto;
  padding-top: 3px;
}

.wc-Image-Editor-black-rect {
  width: 30px;
  height: 20px;
  background-color: var(--base-colorDarkest);
  margin: 5px auto;
}
