:root {
  --desktopOnly-fontSize: 85%;
}

.wc-GithubLink:hover {
  color: inherit;
}

.wc-GithubLink-Icon {
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  background-image: url(/img/github.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.6em;
  position: relative;
  top: 0.2em;
}

.wc-GithubLink-DesktopOnly {
  font-size: var(--desktopOnly-fontSize);
}

.wc-GithubLink-DesktopOnly b {
  font-weight: bold;
}

@media all and (max-width: 40em) {

  .wc-GithubLink-DesktopOnly {
    display: none;
  }
}
