  /** @define Hero */

:root {
  --Hero-fontSize: var(--base-fontSize);
  --Hero-backgroundColor: var(--base-colorDark);
  --Hero-colorIcon: var(--Hero-backgroundColor);
}

/* main class */
.wc-Hero {
  font-size:var(--Hero-fontSize);
  background-color: var(--Hero-backgroundColor);
}

  /* wrapper */
  .wc-Hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* home text */
  .wc-Hero-textHome {
    padding: 6em 0 7.25em 0;
  }

  @media all and (max-width: 28.12em) {

    .wc-Hero-textHome  {
      padding: 3em 0;
    }
  }

  /* contributors texte */
  .wc-Hero-textContributors {
    padding: 4em 0px 5.2em;
  }

  @media all and (max-width: 28.12em) {

    .wc-Hero-textContributors  {
      padding: 3em 0 4.20em;
    }
  }

  /* title */
  .wc-Hero-title {
    color:#414042;
  }

  /* submit bug */
  .wc-Hero-link {
    display: inline-block;
    position: relative;
    font-size: 2em;
    text-decoration: none;
    top: 1em;
    margin-top: 2.4em;
    padding: .4em .6em;
    border-radius: .3em;
    border: 1px solid var(--Hero-backgroundColor);
    background: #414141;
    color: var(--Hero-backgroundColor);
    opacity: .95;
  }

      /* event */
      .wc-Hero-link:hover,
      .wc-Hero-link:focus {
        text-decoration:none;      }

      /* state */
      .wc-Hero-link.is-open {
        top: 2em;
      }

      /* icon */
      .wc-Hero-link-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.15em;
        height: 1.15em;
        line-height: 1.15em;
        vertical-align: middle;
        margin: 0 0 0 .3em;
        background-color: var(--base-variantColorDark);
        color: var(--Hero-backgroundColor);
        border-radius: 50%;
        transition: all 0.7s linear 0s;
        padding: 0.1em;
      }

        /* modifier */
        .wc-Hero-link-icon--active {
          display:none;
          border: 1px solid var(--Hero-backgroundColor);
        }

    /* hover  icon */
    .no-touch .wc-Hero-link:hover .wc-Hero-link-icon {
    }
    /* hover a - icon down */
    .no-touch .wc-Hero-link:hover .wc-Hero-link-icon--active,
    .wc-Hero-link.is-open .wc-Hero-link-icon--active {
      display:inline-flex;
      border: 1px solid var(--Hero-backgroundColor);
    }
    .no-touch .wc-Hero-link:hover .wc-Hero-link-icon--default,
    .wc-Hero-link.is-open .wc-Hero-link-icon--default {
      display:none;
    }

    /* hover open a - icon up */
    .no-touch .wc-Hero-link.is-open:hover .wc-Hero-link-icon--default {
      display:inline-flex;
    }
    .no-touch .wc-Hero-link.is-open:hover .wc-Hero-link-icon--active {
      display:none;
    }

    @media all and (max-width: 28.12em) {

      .wc-Hero-link.is-open {
        top: 1.25em;
      }
    }

    /* svg image */
    .wc-Hero-light {
      height:20em;
    }

    .wc-Hero-light > * {
      fill : #414042;
    }

    .wc-Hero-lightFilament {
      fill: #fff;
    }

    /* contributors */
    .wc-Hero--contributors .wc-Hero-light {
      height:15em;
    }
        /* is-active */
        .wc-Hero-SVG.is-active .wc-Hero-lightFilament {
          fill: #E4BD0C;
        }

    @media all and (max-width: 37.5em) {

      .wc-Hero-light {
        display:none;
      }
    }
