/** @define IssueList */

:root {
  --Issue-fontSize: var(--base-fontSize);
  --Issue-backgroundColor: #f0f0f0;
  --Issue-stateNeedsDiagnosis: var(--base-stateNeedsDiagnosis);
  --Issue-stateNeedsContact: var(--base-stateNeedsContact);
  --Issue-stateReady: var(--base-stateReady);
  --Issue-stateSitewait: var(--base-stateSitewait);
  --Issue-stateClosed: var(--base-stateClosed);
  --Issue-stateFixed: var(--base-stateFixed);
  --Issue-stateWorksForMe: var(--base-stateWorksForMe);
  --Issue-stateNeedsTriage: var(--base-stateNeedsTriage);
}

/* Parent class */
.wc-IssueList {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: var(--Issue-fontSize);
  background-color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

  @media all and (max-width: 59.37em) {

    .wc-IssueList {
      flex-direction: column;
    }
  }

  /* States */

  .wc-IssueList--needstriage {
    border-left: 5px solid var(--Issue-stateNeedsTriage);
  }

  .wc-IssueList--needsDiagnosis {
    border-left: 5px solid var(--Issue-stateNeedsDiagnosis);
  }

  .wc-IssueList--needsContact {
    border-left: 5px solid var(--Issue-stateNeedsContact);
  }

  .wc-IssueList--ready {
    border-left: 5px solid var(--Issue-stateReady);
  }

  .wc-IssueList--sitewait {
    border-left: 5px solid var(--Issue-stateSitewait);
  }

  .wc-IssueList--closed {
    border-left: 5px solid var(--Issue-stateClosed);
  }

  .wc-IssueList--fixed {
    border-left: 5px solid var(--Issue-stateFixed);
  }

  .wc-IssueList--worksforme {
    border-left: 5px solid var(--Issue-stateWorksForMe);
  }

  .wc-IssueList--large {
    font-size:1.2em;
    border-width:8px;
  }

  /* Header */
  .wc-IssueList-header {
    padding: 1em 0 .5em 0;
    word-wrap: break-word;
  }

  .wc-IssueList-metadata {
    font-size:.8em;
    margin-right:.8em;
  }

    @media all and (max-width: 28.12em) {

      .wc-IssueList-metadata {
        display:block;
      }
    }

  /* Count */
  .wc-IssueList-count {
    font-weight: 400;
  }

  /* label */
  .wc-IssueList-label {
    display:block;
    text-align:right;
    font-size:.8em;
  }

  @media all and (max-width: 59.37em) {

    .wc-IssueList-label {
      text-align:left;
    }
  }

  /* Section */
  .wc-IssueList-section {
    width:50%;
  }

    @media all and (max-width: 59.37em) {

      .wc-IssueList-section {
        width:100%;
      }
      .wc-IssueList-section + .wc-IssueList-section {
        margin-top:1em;
      }
    }

  /* Link */
  .wc-IssueList-linkMoreIssues {
    text-align: center;
    margin:25px 0 0;
  }
