/*------Issues view------*/

.wc-IssueDetail {
  font-size:var(--base-font-size);
}
/* Wrapper title and date issue */
.wc-IssueDetail-title {
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: .5em;
  word-wrap: break-word;
}
@media (--viewport-450px) {
  .wc-IssueDetail-title {
    font-size:1.2em;
  }
}
/* Issue wrapper */
.wc-IssueDetail-wrapper {
  margin:0 0 0 4.2em;
}
@media (--viewport-1180px) {
  .wc-IssueDetail-wrapper {
    margin:0;
  }
}

/* information issue : date / author / number of comment */
.wc-IssueDetail-create {
  font-size: 1em;
  margin:0 0 2em
}
/* State issue */
.wc-IssueDetail-state {
  display: inline-block;
  padding: .36458333em 1.19791667em;
  color: #fff;
}
@media (--viewport-450px) {
  .wc-IssueDetail-state {
    font-size:.8em;
  }
}
/*New*/
.wc-IssueDetail-state--new {
  background-color: var(--wc-state-new);
}
/*Needs Diagnosis*/
.wc-IssueDetail-state--needsDiagnosis {
  background-color: var(--wc-state-needsDiagnosis);
}
/*Needs Contact*/
.wc-IssueDetail-state--needsContact {
  background-color: var(--wc-state-needsContact);
}
/*Ready for Outreach*/
.wc-IssueDetail-state--ready {
  background-color: var(--wc-state-ready);
}
/*Site wait*/
.wc-IssueDetail-state--sitewait {
    background-color: var(--wc-state-sitewait);
}
/*Close*/
.wc-IssueDetail-state--close {
  background-color: var(--wc-state-close);
}
/* Date of issue */
.wc-IssueDetail-date {
  display: inline-block;
}
@media (--viewport-450px) {
  .wc-IssueDetail-date {
    font-size:.9em;
  }
}
/* Author */
.wc-IssueDetail-reporter {
  font-weight: bold;
}

/* container details issue */
.wc-IssueDetail-details {
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
}
/* force font-size */
.wc-IssueDetail-details * {
  font-size:1em !important;
}
.wc-IssueDetail-details strong {
    font-weight: bold !important;
}
.wc-IssueDetail-details img {
    max-width: 100%;
    max-height: 100%;
}
.wc-IssueDetail-details code,
.wc-Comment-content code {
  font-family: monospace;
  font-size: 90%;
}
.wc-IssueDetail-details p > code,
.wc-Comment-content p > code {
  color: inherit;
  background-color: #F5F5F5;
  padding: 0.25em;
}
.wc-IssueDetail-details li {
  margin-bottom: 1em;
}
.wc-IssueDetail-details p {
  margin-bottom: 1em;
}
.wc-IssueDetail-comment {
  margin-top:2em;
}
.Label-wrapper {
  margin-bottom: 2em;
}
/* FullScreen LabelEditor*/
@media (--viewport-375px) {
  .Label-wrapper {
    position:relative;
  }
}
/* Label*/
.Label {
  display: inline-block;
  vertical-align:middle;
  line-height:1;
  color: #fff;
  border-radius: 4px;
  padding: 0.4em;
  font-size:.7em;
  font-weight: bold;
}
/* Labels */
.Label--title {
  font-size: 1.2em;
  color:#000;
  padding-right: 0;
  padding-left:0;
  margin-right: 0.1em;
}
.Label--badge {
  margin-left:1em;
}
.Label--badge + .Label--badge {
  margin-left:.7em;
}
/* Launch Label Editor */
.LabelEditor-launcher {
  display: none;
  border:none;
  width:1.3em;
  height:1.3em;
  font-size:1.4em;
  padding:0;
  opacity:.8;
}
/* display caret and label only if button is-active*/
.LabelEditor-launcher.is-active + .LabelEditor:after,
.LabelEditor-launcher.is-active + .LabelEditor {
  display:block;
}
.LabelEditor-launcher:hover {
  opacity:1;
}
.LabelEditor-launcher:before {
  content: "\f013";
}
.LabelEditor-launcher.is-active:before {
  content: "\f00d";
}

/* Link to log in */
.wc-IssueDetail-login {
  margin-top: 2.5em;
  text-align:center;
}

/*wrapper list comment */
.wc-IssueDetail-comment {
  margin:4em 0 0;
}
