/** @define Issue */

:root {
  --Issue-fontSize: var(--base-fontSize);
  --Issue-detailLink: var(--Link-color);
  --Issue-detailLinkHover: var(--Link-colorHover);
  --Issue-widthComment: 45.125em;
}

.wc-Issue {
  font-size:var(--Issue-fontSize);
}

    /* header */
    .wc-Issue-information-header {
      display: flex;
      justify-content: space-between;
      padding: .7em 1em;
      border-radius: 3px 3px 0 0;
    }

    .wc-Issue-information-header--new {
      background-color:var(--base-stateNew);
    }

    .wc-Issue-information-header--needsDiagnosis {
      background-color:var(--base-stateNeedsDiagnosis);
    }

    .wc-Issue-information-header--needsContact {
      background-color:var(--base-stateNeedsContact);
    }

    .wc-Issue-information-header--ready {
      background-color:var(--base-stateReady);
    }

    .wc-Issue-information-header--sitewait {
      background-color:var(--base-stateSitewait);
    }

    .wc-Issue-information-header--fixed {
      background-color:var(--base-stateFixed);
    }

    .wc-Issue-information-header--worksforme {
      background-color:var(--base-stateWorksForMe);
    }

    /* content */
    .wc-Issue-information-content {
      background-color: #fff;
      padding: 1em;
    }

      .wc-Issue-information-content + .wc-Issue-information-content {
        margin: 2px 0 0 0;
      }

  /* Wrapper title and date issue */
  .wc-Issue-title {
    font-size: 1.2em;
    line-height: 1em;
    margin:0 0 .5em 0;
    word-wrap: break-word;
  }

  @media all and (max-width: 28.12em) {

    .wc-Issue-title {
      font-size:1.2em;
    }
  }

  /* information issue : date / author / number of comment */
  .wc-Issue-create {
    font-size: 1em;
    margin:0 0 2em
  }

  /* Date of issue */
  .wc-Issue-date {
    display: inline-block;
  }

  @media all and (max-width: 28.12em) {

    .wc-Issue-date {
      font-size:.9em;
    }
  }

  /* Author */
  .wc-Issue-reporter {
    font-weight: bold;
  }

  @media all and (min-width: 48.13em) {

    .wc-Issue-report,
    .wc-Issue-commentList,
    .wc-Issue-commentSubmit,
    .wc-Issue-information {
      width: var(--Issue-widthComment);
    }
  }

  /* CommentSubmit */
  .wc-Issue-commentSubmit {
    padding-top: 2em;
    margin: 2em 0 0;
  }

  /* list comment */
  .wc-Issue-commentList {
    margin: 1em 0 0;
  }

  /* Issue wrapper */
  .wc-Issue-wrapper {
    margin:0 0 0 4.2em;
  }

    @media all and (max-width: 73.75em) {

      .wc-Issue-wrapper {
        margin:0;
      }
    }

  /* container details issue */
  .wc-Issue-details {
    position: relative;
    line-height: 1.5em;
  }

  .wc-Issue-comment {
    margin-top:2em;
  }

.wc-Issue-labels {
  margin-bottom: 2em;
}
/* FullScreen LabelEditor*/
@media all and (max-width: 23.43em) {

  .wc-Issue-lbels {
    position:relative;
  }
}

/* Link to log in */
.wc-Issue-login {
  margin-top: 2.5em;
  text-align:center;
}

/*wrapper list comment */
.wc-Issue-comment {
  margin:4em 0 0;
}

/* labeleditor */
.wc-Issue-labelEditor {
  position:relative;
  display:inline-block;
}

@media all and (max-width: 23.43em) {

  .wc-Issue-labelEditor {
    position: static; /* position of label_editor not depend of this class */
  }
}
