/*------Issue item------*/


/* Parent class */
.wc-IssueItem {
  display:table;
  width:100%;
  font-size:var(--base-font-size);
  background-color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  table-layout:fixed;
}
  /* list */
  .wc-IssueItem--list {
    display:inline-block;
    width: auto;
    margin:0;
    background-color: transparent;
  }
.wc-IssueItem--new {
  border-left: 5px solid var(--wc-state-new);
}
.wc-IssueItem--needsdiagnosis {
  border-left: 5px solid var(--wc-state-needsdiagnosis);
}
.wc-IssueItem--ready {
  border-left: 5px solid var(--wc-state-ready);
}
.wc-IssueItem--sitewait {
  border-left: 5px solid var(--wc-state-sitewait);
}
.wc-IssueItem--close {
  border-left: 5px solid var(--wc-state-close);
}
.wc-IssueItem--large {
  font-size:1.2em;
  border-width:8px;
}
.wc-IssueItem-content {}
.wc-IssueItem-header {
  margin-bottom:0.5em;
}
.wc-IssueItem-metadata {
  font-size:.8em;
  margin-right:.8em;
}
  @media (--viewport-450px) {
    .wc-IssueItem-metadata {
      display:block;
    }
  }
.wc-IssueItem-count {
  font-weight: 400;
}
.wc-IssueItem-label {
  display:block;
  text-align:right;
  font-size:.8em;
}
.wc-IssueItem-section {
  display:table-cell;
  vertical-align:middle;
  width:50%;
}
  @media (--viewport-950px) {
    .wc-IssueItem-section {
      display:block;
      width:100%;
    }
    .wc-IssueItem-section + .wc-IssueItem-section {
      margin-top:1em;
    }
    .wc-IssueItem-label {
      text-align:left;
    }
  }
