/*------Issue Search------*/

/*Search issues position*/
.wc-IssueSearch {
  background-color:#F7F7F7;
  padding-top:1.5em;
  padding-bottom:1.5em;
}

.wc-IssueSearch-content {
  display:flex;
}
.wc-IssueSearch-form {
  background-color:#F7F7F7;
  width:100%;
  font-size:1.5em;
  font-weight:400;
  border:none;
}
  .wc-IssueSearch-form::placeholder {
    color:#999898;
    font-weight:400;
    font-size:0.8em;
  }
/* button */
.wc-IssueSearch-button {
  width: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.8;
}
  .wc-IssueSearch-button:hover {
    opacity:1;
  }
