/** @define Keyhint */

:root {
  --Keyhint-fontSize: inherit;
  --Keyhint-backgroundColor: var(--base-variantColorDark);
}

.wc-Keyhint {
  font-size: var(--Keyhint-fontSize);
  display: inline-block;
  border-radius: 5px;
  padding-bottom: 0.1em;
  vertical-align: middle;
  margin: 0 .4em 0;
  font-weight: bold;
}
