/** @define Loader */

.wc-Loader {
  display:none;
  position:fixed;
  background-image:url(/img/loader.gif);
  z-index:10;
  background-color:rgba(255,255,255,0);
  top:0px;left:0px;right:0px;bottom:0px;
  background-position:center center;
  background-repeat:no-repeat;
}
  /* states */
  .wc-Loader.is-active {
    display:block;
    background-color:rgba(255,255,255,.8);
  }

.wc-Upload-Loader {
  display:none;
  position:absolute;
  right:4%;top: 27%;
  width: 24px;
  height: 24px;
}

.wc-Upload-Loader.is-active {
  display: block;
}