/** @define Loader */

.wc-Loader {
  display:none;
  position:fixed;
  background-image:url(/img/loader.gif);
  z-index:2;
  background-color:rgba(255,255,255,0);
  top:0px;left:0px;right:0px;bottom:0px;
  background-position:center center;
  background-repeat:no-repeat;
}
  /* states */
  .wc-Loader.is-active {
    display:block;
    background-color:rgba(255,255,255,.8);
  }
