/*---------- Navbar ----------*/
.wc-Navbar {
  background: var(--wc-background-dark);
  padding: 1.25em 0.5em;
  font-size:var(--base-font-size);
}
  .wc-Navbar-wrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease 0s;
  }
  .wc-Navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wc-Navbar-link,
  .wc-Navbar-linkDropdown {
    color: #414042;
    font-weight:700;
    text-decoration:none;
    cursor: pointer;
  }
  .wc-Navbar-linkDropdown {
    display: block;
  }
    .wc-Navbar-link:hover {
      color: #fff;
    }
    .wc-Navbar-linkDropdown:hover {
      text-decoration: underline;
    }
    /* space between */
    .wc-Navbar-link + .wc-Navbar-link {
      margin-left:1em;
    }
    /* label */
    .wc-Navbar-link-label {
      display:inline-block;
      vertical-align:middle;
      margin-left:.3em;
    }
      @media (--viewport-450px) {
        .wc-Navbar-link-label {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
      }
    /*icon */
    .wc-Navbar-link-icon {
      font-size:1.2em;
    }
  /* avatar */
  .wc-Navbar-avatar {
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: .3em;
  }
