/** @define QRCode */

:root {
  --QRCode-fontSize: var(--base-fontSize);
}

/* Wrapper QR code */
.wc-QrCode {
  font-size: var(--QRCode-fontSize);
  position:relative;
  display:inline-block;
}

@media all and (max-width: 23.43em){

  .wc-QrCode {
    position:static; /* position of label_editor not depend of this class */
  }
}

.wc-QrCode-launcher {
  display: none;
  border:none;
  width:1.3em;
  height:1.3em;
  font-size:1.4em !important;
  padding:0;
  opacity:.8;
  cursor: pointer;
}

  /* display QR code only if button is-active*/
  .wc-QrCode-launcher.is-active + .wc-QrCode-image {
    display:block;
  }
  .wc-QrCode-launcher:hover {
    opacity:1;
  }

    /* state */
    .wc-QrCode-launcher.is-active .wc-QrCode--launchericonPressed {
      display: inline-block;
    }
    .wc-QrCode-launcher.is-active .wc-QrCode--launchericon {
      display: none;
    }

    /* icon */
    .wc-QrCode-launcher-iconPressed {
      display: none;
    }

  /* QR code image */
  .wc-QrCode-image {
    font-size:var(--base-fontSize);
    display:none;
    z-index:2;
    position: absolute;
    white-space:nowrap;
    top: 100%;
    right: .5em;
    /* caret */
    margin-top: 1.125em;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background:  #fff;
  }
  @media all and (max-width: 23.43em) {

    .wc-QrCode-image {
      position:fixed;
      width:100%;
      height:100%;
      top:0;
      left:0;
      transform:none;
      margin:0;
      overflow-y:auto;
      overflow-x:hidden;
    }
  }

/* QR code header */
.wc-QrCode-image-header {
  background-color:#fff;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 0.625em;
}

  /* button */
  .wc-QrCode-image-button {
    font-size: 1em;
  }

  /* hover button */
  .wc-QrCode-image-button:hover {
    text-decoration:underline;
  }

  .wc-QrCode-image-main {
    padding:1.125em;
  }
