/*----------add/remove labels----------*/

/* Wrapper QR code */
.wc-QrImage-wrapper {
  position:relative;
  display:inline-block;
}
@media (--viewport-375px) {
  .wc-QrImage-wrapper {
    position:static; /* position of label_editor not depend of this class */
  }
}

/* QR code */
.wc-QrImage
{
  display:none;
  z-index:2;
  position: absolute;
  white-space:nowrap;
  font-size:var(--base-font-size);
  top: 100%;
  right: 8px;
  /* caret */
  margin-top: 18px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background:  #fff;
}
@media (--viewport-375px) {
  .wc-QrImage {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform:none;
    margin:0;
    overflow-y:auto;
    overflow-x:hidden;
  }
}

/* QR code header */
.wc-QrImage-header {
  background-color:#fff;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 0.625em;
}
/* btn */
.wc-QrImage-btn {
  border:none;
}
/* hover btn */
.wc-QrImage-btn:hover {
  text-decoration:underline;
}
.wc-QrImage-main {
  margin:18px;
}

/* QR code launcher */
.wc-Qr-wrapper {
  float:right;
  position:relative;
}
.wc-QrImage-launcher {
  display: none;
  border:none;
  width:1.3em;
  height:1.3em;
  font-size:1.4em !important;
  padding:0;
  opacity:.8;
}
/* display QR code only if button is-active*/
.wc-QrImage-launcher.is-active + .wc-QrImage:after,
.wc-QrImage-launcher.is-active + .wc-QrImage {
  display:block;
}
.wc-QrImage-launcher:hover {
  opacity:1;
}
.wc-QrImage-launcher:before {
  content: "\f029";
}
.wc-QrImage-launcher.is-active:before {
  content: "\f00d";
}
