/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.wc-HomePage .wc-ReportForm {
  display: none;
}

/* state */
.wc-ReportForm.is-opened {
  display: block;
}

/* actions */
.wc-ReportForm-actions {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

@media all and (min-width: 30.75em) {
  .wc-ReportForm-actions-button + .wc-ReportForm-actions-button {
    margin-left: .6em;
  }
}
