/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

img { /* stylelint-disable selector-no-type */
  max-width: 100%;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: var(--base-fontFamily);
  font-size: 1rem;
  font-weight: 300;
}
