/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --SearchBar-fontSize: 1rem;
  --SearchBar-background: #fff;
}

.wc-SearchBar {
  position: relative;
  min-height: 1.4375em;
}

.wc-SearchBar-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s ease 0s;
  backface-visibility: hidden;
}

.wc-SearchBar-face--front {
  z-index: 2;
}

/* state */
.wc-SearchBar.is-active .wc-SearchBar-face--front {
  transform: rotateX(180deg);
}

.wc-SearchBar-face--back {
  display: flex;
  align-items: center;
  flex-direction: row;
  backface-visibility: hidden;
  transform: rotateX(-180deg);
  background-color: var(--SearchBar-background);
  padding: .4em;
  border-radius: 4px;
  z-index: 3;
}

.wc-SearchBar-input {
  font-size: var(--SearchBar-fontSize);
  flex: 1;
  margin: 0 1em;
  background-color: var(--SearchBar-background);
  padding: .3125em;
  width: 100%;
  border: none;
}

.wc-SearchBar-icon {
  line-height: 0;
}

.wc-SearchBar-icon--button {
  cursor: pointer;
}

/* state */
.wc-SearchBar.is-active .wc-SearchBar-face--back {
  transform: rotateX(0);
}
