/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.wc-SearchForm {
  background-color: #f7f7f7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.wc-SearchForm-content {
  display: flex;
}

.wc-SearchForm-item {
  background-color: #f7f7f7;
  width: 100%;
  font-size: 1.5em;
  font-weight: 400;
  border: none;
}

.wc-SearchForm-item::placeholder {
  color: #999898;
  font-weight: 400;
  font-size: .8em;
}

/* button */
.wc-SearchForm-button {
  width: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
  opacity: .8;
}

/* event */
.wc-SearchForm-button:hover {
  opacity: 1;
}
