/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --SearchIssue-fontSize: var(--base-fontSize);
}

/* Main class */
.wc-SearchIssue {
  font-size: var(--SearchIssue-fontSize);
  padding: 0 0 1em;
}

.wc-SearchIssue-subtitle {
  padding: 3em 0 0;
}

/* Sorting issues */
.wc-SearchIssue-sorting {
  padding: 0 0 .5em;
}

/* drodpown */
.wc-SearchIssue-pagination {
  padding: 0 0 .5em;
}

/* no resultats */
.wc-SearchIssue-noResults {
  font-size: 1.5em;
}

/* title */
.wc-SearchIssue-noResults-title {
  font-weight: 600;
  margin-bottom: 1em;
}

/* list */
.wc-SearchIssue-noResults-list {
  list-style-position: inside;
  margin: 0 0 1em 1em;
  font-size: .7em;
}

/* list item */
.wc-SearchIssue-noResults-list-item {
  padding: .3em 0;
}

/* modifier : label */
.wc-SearchIssue-noResults-list-item--label {
  list-style: none;
  padding-top: .8em;
}

/* labels item */
.wc-SearchIssue-noResults-list-labelsItem {
  display: inline-block;
}

/* Github link */
.wc-SearchIssue-github {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3em 0 0;
}

.wc-SearchIssue-github .wc-Link {
  padding: 0 .3em;
}
