/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --base-color: #333;
  --base-background: #fff;
  --base-fontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --base-fontSize: 1rem;
  --base-minWidth: 20rem;
  --base-maxWidth: 120rem;
  --base-widthContent: 73.75rem;
  --base-colorDark: #ffc900; /* Dark Yellow */
  --base-colorDarkest: #000;
  --base-variantColorExtraDarkOpacity: rgba(0,0,0,0.4); /* Black opacity */
  --base-variantColorDark: #404040; /* Dark Gray */
  --base-variantColorMed: #999; /* Med Gray */
  --base-variantColorMedLight: #fefefe; /* Med Light Gray */
  --base-variantColorLight: #c2c2c2; /* Light Gray*/
  --base-stateNeedsTriage: #f90; /* orange */
  --base-stateNeedsDiagnosis: #efce82;  /* light brown */
  --base-stateNeedsContact: #b9edce; /* light green */
  --base-stateReady: #7abce1; /* light blue */
  --base-stateSitewait: #b0daf0; /* light blue */
  --base-stateClosed: #c5d1d5; /* light gray */
  --base-stateFixed: #dda0dd; /* light purple */
  --base-stateWorksForMe: #cfb53b; /* light yellow */
  --base-highlightBtnCenter: #ffff27; /* bright yellow */
  --base-redactBtnCenter: #000;
  --base-activeBoxShadow: rgba(0, 0, 0, .075);
  --base-activeBoxShadow2: rgba(102, 175, 233, .6);
}
