/** @define styleVariables */

:root {
  --base-color : #333;
  --base-background: #fff;
  --base-fontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --base-fontSize: 1rem;
  --base-minWidth:	20rem;
  --base-maxWidth: 120rem;
  --base-widthContent : 73.75rem;
  --base-colorDark: #ffc900; /*Dark Yellow*/
  --base-variantColorDark: #404040; /* Dark Gray */
  --base-variantColorLight: #c2c2c2; /* Dark Light */
  --base-stateNew: #ff8364; /* light orange */
  --base-stateNeedsDiagnosis: #efce82;  /* light brown */
  --base-stateNeedsContact : #b9edce ; /* light green */
  --base-stateReady: #7abce1; /* light blue*/
  --base-stateSitewait: #b0daf0; /* light blue */
  --base-stateClose: #c5d1d5; /* light gray */
  --base-stateFixed: #dda0dd; /* light purple */
  --base-stateWorksForMe: #cfb53b; /* light yellow */
}
