/** @define Tag */

:root {
  --Tag-fontSize: var(--base-fontSize);
}

/* wc-Taging issues */
.wc-Tag {
  font-size:var(--Tag-fontSize);
  display:inline-block;
  vertical-align:middle;
  border: solid 1px;
  padding:.4em;
  margin:0 .8em .4em 0;
  color:#404040;
}

  /* modifier */
  .wc-Tag--filter {
    cursor:pointer;
  }

  .wc-Tag--label {
    color: #fff;
    padding: .36em 1.19em;
  }

  @media all and (max-width: 28.12em) {

    .wc-Tag--label {
      font-size:.8em;
    }
  }

  /* Tag needs triage */
  .wc-Tag--needstriage {
    border-color:var(--base-stateNeedsTriage);
  }

    /* event */
    .wc-Tag--needstriage.wc-Tag--filter:hover,
    .wc-Tag--needstriage.wc-Tag--filter:focus,
    .wc-Tag--needstriage.is-active,
    .wc-Tag--needstriage.wc-Tag--label {
      background-color:var(--base-stateNeedsTriage);
    }

  /* Tag needsDiagnosis */
  .wc-Tag--needsDiagnosis {
    border-color:var(--base-stateNeedsDiagnosis);
  }

    /* event */
    .wc-Tag--needsDiagnosis.wc-Tag--filter:hover,
    .wc-Tag--needsDiagnosis.wc-Tag--filter:focus,
    .wc-Tag--needsDiagnosis.is-active,
    .wc-Tag--needsDiagnosis.wc-Tag--label {
      background-color:var(--base-stateNeedsDiagnosis);
    }

  /* Tag needsContact */
  .wc-Tag--needsContact {
    border-color:var(--base-stateNeedsContact);
  }

    /* event */
    .wc-Tag--needsContact.wc-Tag--filter:hover,
    .wc-Tag--needsContact.wc-Tag--filter:focus,
    .wc-Tag--needsContact.is-active,
    .wc-Tag--needsContact.wc-Tag--label {
      background-color:var(--base-stateNeedsContact);
    }

  /* Tag ready */
  .wc-Tag--ready {
    border-color:var(--base-stateReady);
  }

    /* event */
    .wc-Tag--ready.wc-Tag--filter:hover,
    .wc-Tag--ready.wc-Tag--filter:focus,
    .wc-Tag--ready.is-active,
    .wc-Tag--ready.wc-Tag--label {
      background-color:var(--base-stateReady);
    }

  /* Tag sitewait */
  .wc-Tag--sitewait {
    border-color:var(--base-stateSitewait);
  }

    /* event */
    .wc-Tag--sitewait.wc-Tag--filter:hover,
    .wc-Tag--sitewait.wc-Tag--filter:focus,
    .wc-Tag--sitewait.is-active,
    .wc-Tag--sitewait.wc-Tag--label {
      background-color:var(--base-stateSitewait);
    }

  /* Tag close */
  .wc-Tag--close {
    border-color:var(--base-stateClose);
  }

    /* event */
    .wc-Tag--close.wc-Tag--filter:hover,
    .wc-Tag--close.wc-Tag--filter:focus,
    .wc-Tag--close.is-active,
    .wc-Tag--close.wc-Tag--label {
      background-color:var(--base-stateClose);
    }

  /* Tag Fixed */
  .wc-Tag--fixed {
    border-color:var(--base-stateFixed);
  }

    /* event */
    .wc-Tag--fixed.wc-Tag--filter:hover,
    .wc-Tag--fixed.wc-Tag--filter:focus,
    .wc-Tag--fixed.is-active,
    .wc-Tag--fixed.wc-Tag--label {
      background-color:var(--base-stateFixed);
    }

  /* Tag Appears to work */
  .wc-Tag--worksforme {
    border-color:var(--base-stateWorksForMe);
  }

    /* event */
    .wc-Tag--worksforme.wc-Tag--filter:hover,
    .wc-Tag--worksforme.wc-Tag--filter:focus,
    .wc-Tag--worksforme.is-active,
    .wc-Tag--worksforme.wc-Tag--label {
      background-color:var(--base-stateWorksForMe);
    }
