:root {
  --Threesteps-fonSize: 1rem;
  --Threesteps-backgroundColor: #fff;
}

.wc-Threesteps {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
}

  /* item */
  .wc-Threesteps-item {
    display: flex;
    align-items: flex-start;
    font-size: var(--Threesteps-fonSize);
    margin: 0 0 .5em;
  }

    /* Number */
    .wc-Threesteps-item-number {
      font-size: 2em;
      font-weight: 700;
      padding: 0 .75em 0 .5em;
    }

      /* img */
      
      .wc-bug-report-icon {
        width:120px;

      }
      .wc-bug-diagnosis-icon {
        width: 85px;
        margin-top: 10px;
      }
      .wc-site-outreach-icon {
        width: 85px;
        margin-top: 5px;
      }

.wc-Browserstack {
  width: 100%;
  background-image:url(/img/browserstack_logo.svg);
  background-size: cover;
  height: 0;
  padding: 0 0 22%;
  display: inline-block;
  color:transparent;
  background-repeat: no-repeat;
}

.wc-Thanks-logo {
  width: 155px;
}

    @media all and (max-width: 59.37em) {

      .wc-Threesteps-item-number {
        padding-right: 0.5em;
      }
    }

    @media all and (max-width: 59.37em) {
      .wc-bug-report-icon {
        width: 100px;
      }
      .wc-site-outreach-icon,
      .wc-bug-diagnosis-icon {
        width: 70px;
      }
    }

    @media all and (max-width: 48.12em) {

      .wc-Threesteps-item-number {
        padding-bottom: 0;
      }
    }

    /* text */
    .wc-Threesteps-item-text {
      margin: 0;
      padding:0;
    }

    .wc-Report {
      padding:0;
      margin:0;
    }
    .wc-Link {
      margin:0;
      padding:0;
    }

    .wc-Threesteps-item-number * {
      vertical-align: middle;
    }

@media all and (max-width: 48.12em) {

      .wc-Threesteps .r-all--4of12 {
        width: 100%;
      }

    }