/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {  /* stylelint-disable selector-no-type  */
  text-size-adjust: 100%;
}

/* Viewport */
@viewport {
  width: device-width;
}

body {
  font-family: var(--base-fontFamily);
  font-size: 1em;
  font-weight: 300;
  color: var(--base-variantColorDark);
}

/* Configuration, comunication between JS and CSS */
body::after {
  display: none;
  content: '{"webcompat":"ok"}';  /* stylelint-disable string-quotes  */
}

@media all and (max-width: 73.75em) {
  body::after {
    content: '{"webcompat":"ok"}';
  }
}

@media all and (max-width: 61.87em) {
  body::after {
    content: '{"webcompat":"ok"}';
  }
}

@media all and (max-width: 28.12em) {
  body::after {
    content: '{"webcompat":"ok","resizeEditor":true}';
  }
}

/* min max class */
.wc-UIViewport {
  min-width: var(--base-minWidth);
  max-width: var(--base-maxWidth);
  margin: 0 auto;
}

/* Content */
.wc-UIContent {
  position: relative;
  width: var(--base-widthContent);
  margin: 0 auto;
}

/* state */
.wc-UIContent.is-hidden {
  display: none;
}

@media all and (max-width: 75em) {
  .wc-UIContent {
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Section */
.wc-UISection {
  padding-top: 3em;
  padding-bottom: 3em;
}

@media all and (max-width: 28.12em) {
  .wc-UISection {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.wc-UISection--backgroundColor {
  background-color: #f0f0f0;
}
