/** @define UploadForm */

:root {
  --UploadForm-backgroundColorButton: var(--base-colorDark);
}

.wc-UploadForm {
  display: flex;
  position: relative;
  text-align: center;
  min-height: 250px;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

  /* modifier new comment of existing bug */
  .wc-UploadForm--new {
    display:flex;
    background-color: #404040;
    min-height: 35px;
  }

  /* Form upload wrapper */
  .wc-UploadForm-wrapper {
    z-index: 2;
    padding: 1rem;
    align-content: center;
    align-items: center;
    flex: 1 0 0;
  }

    /* state */
    .wc-UploadForm-wrapper.is-hidden {
      display: none;
    }

    /* icon */
    .wc-UploadForm-icon {
      font-size: 6.2em;
      margin: 0 0 16px;
      color: #c8c8c8;
    }

    /* label */
    .wc-UploadForm-label {
      position: relative;
      display: inline-block;
      margin-bottom: 5px;
      color: #CCCCCC;
      font-weight: 700;
      cursor: pointer;
      text-decoration: underline;
    }

      /* modifier new label of existing bug */
      .wc-UploadForm-label--uploadForm {
        font-size: .8125em;
        font-weight: 400;
        text-decoration: none;
      }

      /* link */
      .wc-UploadForm-label--link {
        color: #FFC900;
        font-weight: 600;
        text-decoration: underline;
      }

    /* Upload button */
    .wc-UploadForm-button {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em 0;
      font-weight:700;
      background-color: var(--UploadForm-backgroundColorButton);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: underline;
      transform: translateY(0);
      transition: transform .2s linear 0s;
    }

      /* state */
      .wc-UploadForm-button.is-hidden {
        transform: translateY(100%);
      }
