/*---------- Header ----------*/
.header {
  background: var(--wb-background-light);
  padding: 0.5em 0;
}
.nav {}
.nav__logo {
  height: 20px;
  vertical-align: middle;
}
.nav--big .nav__logo {
  height: 55px;
}
.nav__section{
  display: inline-block;
  width: 50%;
}
.nav__section--left {
  text-align: left;
}
.nav__section--right {
  text-align: right;
}
.nav__link {
  display: inline-block;
  color: #fff;
}
.nav__link:hover {
  color: #fff;
}
.nav__link--left {
  padding-left:6em;
}
.nav__link--right {
  padding-right:7em;
}

@media (--viewport-450px) {
  .nav__link--left {
    padding-left:0;
  }
  .nav__link--right {
    padding-right:0;
  }
}

@media (--viewport-450px) {
  .nav.container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (--viewport-330px) {
  .nav__link {
    font-size: .8em;
  }
}
.header .container {
  background-image: none !important;
}
.nav__avatar {
  height: 20px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: .3em;
}
.nav--big .nav__avatar {
  height: 55px;
}

@media (--viewport-330px) {
  .nav__avatar {
    display: none;
  }
}
