/*---------- Utilities text ----------*/

.wc-bold {
  font-weight: 700;
}

.wc-keyhint {
  background-color: var(--wc-variant-background-dark);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.2em 0.5em;
  vertical-align: middle;
}

/*---------- Utilities Position ----------*/

.wc-pos-absolute {
  position:absolute;
}
.wc-pos-relative {
  position:relative;
}
.wc-pos-fixed {
  position:fixed;
}
.wc-pos-static {
  position:static;
}
.wc-margin-bottom {
  margin-bottom: 1em;
}

/*---------- Utilities Layout ----------*/

.wc-float-left {
  float:left;
}

.wc-float-right {
  float:right;
}

.wc-clear-float:after {
  content:"";
  display:table;
  clear:both;
}

/*---------- Utilities Display ----------*/

.wc-block {
  display:block;
}
.wc-inline-block {
  display:inline-block;
}
.wc-inline {
  display:inline;
}
.wc-hidden {
  display:none;
}
.wc-sronly {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
