{% extends "layout.html" %}
{% block body %}
<div id="wrap">
<div id="about-page" class="page">
{% include "shared/nav.html" %}
  <div class="maincontent container">
    <h2>About</h2>
    <h4>What is webcompat.com?</h4>
    <p>Webcompat.com was developed by volunteers and supported by Mozilla to open the web compatibility effort to everyone. It is an open invitation all users, developers and web browsers to get involved. By providing a central location to submit bugs, we hope to make it easy for users to report problems and for web developers/web browsers to easily identify when issues arise.</p>
    <h4>What is Web Compatibility?</h4>
    <p>Web compatibility is about making sure websites work as well as possible across all browsers and devices.</p>
    <p>Sometimes, sites have bugs or policies that prevent them from working well in every browser. We try to help web developers and site owners identify and fix such issues.</p>
    <h4>Web compatibility issues usually follow a three part life cycle:</h4>
    <ol>
      <li><strong>Bug Reporting</strong>: Finding and reporting compatibility issues around the web. This is the first and most critical part of the process. We all run into compatibility issues when using the web, most people do not know how or where to report them. Webcompat.com wants to make users aware and make the process simple.</li>
      <li><strong>Bug Analyzing</strong>: Someone digs into the code to figure out what’s causing the compatibility issue and suggests a fix.</li>
      <li><strong>Getting Contacts and Reaching Out</strong>: To get any bug fixed you need a good contact. There are many ways to find a contact at a company or website, sometimes this can be easy, other times it requires some creativity and luck. The next step is to make contact and help resolve the issue. Webcompat.com aims to make this process easier by allowing developers to check for bugs in one location.</li>
    </ol>
    <p>The web is big and it’s going to keep getting bigger. To make sure it’s all compatible we need help from users and developers in all regions of the world. The great thing is anyone can help, you don’t need to be a techie and as little as 5 minutes can make a huge difference!</p>
  </div>
</div>
</div>
{% endblock %}
