{%- if browser == 'firefox' %}
<a href="https://addons.mozilla.org/en-US/firefox/addon/webcompatcom-reporter/" title="Download our Firefox Add-on" class="js-Navbar-link">
  <svg class="icon" role="presentation" aria-role="hide" viewbox="0 0 30 30">
    <title>cloud-download</title>
    <use href="#svg-cloud-download"></use>
  </svg>
  <span class="link-text">Download our Firefox Add-on</span>
</a>
{%- elif browser == 'firefox mobile' -%}
<a href="https://addons.mozilla.org/en-US/android/addon/webcompatcom-mobile-reporter/" title="Download our Firefox for Android Add-on"
  class="js-Navbar-link">
  <svg class="icon" role="presentation" aria-role="hide" viewbox="0 0 30 30">
    <title>cloud-download</title>
    <use href="#svg-cloud-download"></use>
  </svg>
  <span class="link-text">Download our Firefox for Android Add-on</span>
</a>
{%- elif browser == 'chrome' -%}
<a href="https://chrome.google.com/webstore/detail/webcompatcom-reporter/ffnnhckjcpbbjlmgfjigknkoffakclol" title="Download our Chrome Extension"
  class="js-Navbar-link">
  <svg class="icon" role="presentation" aria-role="hide" viewbox="0 0 30 30">
    <title>cloud-download</title>
    <use href="#svg-cloud-download"></use>
  </svg>
  <span class="link-text">Download our Chrome Extension</span>
</a>
{%- elif browser == 'opera' -%}
<a href="https://addons.opera.com/en/extensions/details/webcompatcom-reporter/?display=en" title="Download our Opera Extension"
  class="js-Navbar-link">
  <svg class="icon" role="presentation" aria-role="hide" viewbox="0 0 30 30">
    <title>cloud-download</title>
    <use href="#svg-cloud-download"></use>
  </svg>
  <span class="link-text">Download our Opera Extension</span>
</a>
{%- else -%}
<li class="nav-item">
    <a href="https://github.com/webcompat/webcompat.com/issues?state=open" title="Navigate to github issues">
        <span class="link-text">Give Feedback</span>
    </a>
</li>
{%- endif -%}
