<div id="browse-issues-wrapper">
  <div class="wc-content" id="browse-issues">
    <h2 class="wc-Title--l">Browse Issues</h2>
    <ul class="r-ResetList u-inlineBlock">
      <li class="wc-IssueItem wc-IssueItem--list wc-IssueItem--new">
        <a href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=new&sort=created&direction=desc">New Issues</a>
      </li>
      <li class="wc-IssueItem wc-IssueItem--list wc-IssueItem--needsDiagnosis">
        <a href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=needsdiagnosis&sort=created&direction=desc">Needs&nbsp;Diagnosis</a>
      </li>
      <li class="wc-IssueItem wc-IssueItem--list wc-IssueItem--ready">
        <a href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=contactready&sort=created&direction=desc">Ready&nbsp;for&nbsp;Outreach</a>
      </li>
      <li class="wc-IssueItem wc-IssueItem--list wc-IssueItem--sitewait">
        <a href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=sitewait&sort=created&direction=desc">Site&nbsp;Contacted</a>
      </li>
      <li class="wc-IssueItem wc-IssueItem--list wc-IssueItem--close">
        <a href="{{ url_for('show_issues') }}?page=1&per_page=50&state=open&stage=closed&sort=created&direction=desc">Closed</a>
      </li>
    </ul>
    {% include "browse-issues/my-issues.html" %}
    <div class="r-Grid r-Grid--withGutter">
      {% include "browse-issues/new.html" %}
      {% include "browse-issues/needs-diagnosis.html" %}
    </div>
    <div class="r-Grid r-Grid--withGutter">
     {% include "browse-issues/ready-for-outreach.html" %}
     {% include "browse-issues/site-contacted.html" %}
    </div>
    <p class="more-issues"><a href="{{ url_for("show_issues") }}">See More</a></p>
  </div>
</div>
