<div id="browse-issues-wrapper">
  <div class="wc-content" id="browse-issues">
    <h2 class="wc-Title--l">Browse Issues</h2>
    <ul class="r-ResetList u-inlineBlock">
      <li class="IssueItem IssueItem--list IssueItem--untriaged">
        <a href="{{ url_for('show_issues') }}?untriaged=1">Untriaged</a>
      </li>
      <li class="IssueItem IssueItem--list IssueItem--need">
        <a href="{{ url_for('show_issues') }}?needsdiagnosis=1">Needs&nbsp;Diagnosis</a>
      </li>
      <li class="IssueItem IssueItem--list IssueItem--ready">
        <a href="{{ url_for('show_issues') }}?contactready=1">Ready&nbsp;for&nbsp;Outreach</a>
      </li>
      <li class="IssueItem IssueItem--list IssueItem--sitewait">
        <a href="{{ url_for('show_issues') }}?sitewait=1">Site&nbsp;Contacted</a>
      </li>
      <li class="IssueItem IssueItem--list IssueItem--close">
        <a href="{{ url_for('show_issues') }}?closed=1">Closed</a>
      </li>
    </ul>
    {% include "browse-issues/my-issues.html" %}
    <div class="r-Grid r-Grid--withGutter">
      {% include "browse-issues/untriaged.html" %}
      {% include "browse-issues/needs-diagnosis.html" %}
    </div>
    <div class="r-Grid r-Grid--withGutter">
     {% include "browse-issues/ready-for-outreach.html" %}
     {% include "browse-issues/site-contacted.html" %}
    </div>
    <p class="more-issues"><a href="{{ url_for("show_issues") }}">See More</a></p>
  </div>
</div>
