<div id="browse-issues-wrapper">
  <div class="container" id="browse-issues">
    <h2>Browse Issues</h2>
    <span class="key">
      <span class="issue-needs-diagnosis">Needs&nbsp;Diagnosis</span>
      <span class="issue-contactready">Ready&nbsp;for&nbsp;Outreach</span>
      <span class="issue-closed">Closed</span>
    </span>
    {% if session.user_id %}
    <div id="my-issues" class="row">
      <h3 class="h5">Submitted by Me</h3>
      {% if user_issues|length %}
        {% for issue in user_issues %}
        <div class="col-md-6">
        <div class="issue {{ issue.status_class }}">
          <p class="issue-title">
            <a href="{{ issue.html_url }}"><span class="issue-number">Issue {{ issue.number }}</span>: {{ issue.title }}</a>
          </p>
          <p class="issue-metadata">Opened: <time>{{ issue.created_at|format_date }}</time>, comments: {{ issue.comments }}</p>
        </div>
        </div>
        {% endfor %}
      {% else %}
      <p>Nothing reported yet!</p>
      {% endif %}
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-6">
      <h3 class="h5">Needs Diagnosis</h3>
      {% if needs_diagnosis|length %}
        {% for issue in needs_diagnosis %}
        <div class="issue issue-needs-diagnosis">
          <p class="issue-title">
            <a href="{{ issue.html_url }}"><span class="issue-number">Issue {{ issue.number }}</span>: {{ issue.title }}</a>
          </p>
          <p class="issue-metadata">Opened: <time>{{ issue.created_at|format_date }}</time>, comments: {{ issue.comments }}</p>
        </div>
        {% endfor %}
      {% else %}
      <p>Nothing here currently, please help <a href="https://github.com/webcompat/web-bugs/issues?labels=contactready">reach out to sites!</a></p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h3 class="h5">Ready for Outreach</h3>
      {% if contact_ready|length %}
        {% for issue in contact_ready %}
        <div class="issue issue-contactready">
          <p class="issue-title">
            <a href="{{ issue.html_url }}"><span class="issue-number">Issue {{ issue.number }}</span>: {{ issue.title }}</a>
          </p>
          <p class="issue-metadata">Opened: <time>{{ issue.created_at|format_date }}</time>, comments: {{ issue.comments }}</p>
        </div>
        {% endfor %}
      {% else %}
      <p>Nothing here currently, please help <a href="https://github.com/webcompat/web-bugs/issues?state=open">triage issues!</a></p>
      {% endif %}
    </div>
    </div>
    <div class="row">
      <p class="more-issues"><a href="https://github.com/webcompat/web-bugs/issues?state=open">See More</a></p>
    </div>
  </div>
</div>