{% extends "layout.html" %}
{% block title %}Contributors{% endblock %}
{% block body %}
<div>
  {% include "nav/nav.html" %}
  <main role="main">
    <section class="grid grid-show-gap">
      <div class="grid-row">
        <aside class="grid-cell x1-fix">
          {% include "contributors/sub-nav.html" %}
        </aside>
        <article class="grid-cell x1">
          <h3 class="headline-1 highlight">The project</h3>
          <p>
            We believe the web is an amazing place that everyone should be free to create, explore and discover. But the web is also ever-changing. To help website developers keep up with changes, we’ve created this community space where problems with websites (bugs) can be reported, diagnosed and fixed.
          </p>
        </article>
      </div>
    </section>
    <section class="grid">
    <div class="grid-row">
      <div class="grid-cell x3">
        <h3 class="headline-1 highlight">The team</h3>
      </div>

<!-- ADAM STEVENSON -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/6587558" alt="Adam Stevenson" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Adam Stevenson</h4>
            <h4 class="headline-3">Canada</h4>
            <p>
              Works on webcompat bugs and does outreach to sites / developers. Enjoys music, biking,
              travel and sometimes photos.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/adamopenweb" title="adamopenweb on twitter" target="_blank">twitter@adamopenweb </a> <br>
            <a class="bio-icon-github" href="http://github.com/adamopenweb" title="adamopenweb on github" target="_blank">github@adamopenweb </a>
          </p>
        </div>
      </article>

<!-- BEA Rizental -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars3.githubusercontent.com/u/25176023" alt="Bea Rizental" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Bea Rizental</h4>
            <h4 class="headline-3">Brazil</h4>
            <p>
              Design student who really just wants to code.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-github" href="http://github.com/brizental" title="brizental on github" target="_blank">github@brizental </a>
          </p>
        </div>
      </article>

<!-- CHRISTIAN Stuff -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/1336590" alt="Christian Stuff" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Christian Stuff</h4>
            <h4 class="headline-3">Germany</h4>
            <p>
              Loves family, music, frontend development and nice coffee.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/regaddi" title="regaddi on twitter" target="_blank">twitter@regaddi </a> <br>
            <a class="bio-icon-github" href="http://github.com/regaddi" title="regaddi on github" target="_blank">github@regaddi </a>
          </p>
        </div>
      </article>

<!-- DENNIS SCHUBERT -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars3.githubusercontent.com/u/344777" alt="Dennis Schubert" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Dennis Schubert</h4>
            <h4 class="headline-3">Germany</h4>
            <p>
              Breaking and fixing the web in various ways, usually by creating open source software.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/denschub" title="denschub on twitter" target="_blank">twitter@denschub </a> <br>
            <a class="bio-icon-github" href="http://github.com/denschub" title="denschub on github" target="_blank">github@denschub </a>
          </p>
        </div>
      </article>

<!-- ERIC MD TSAI -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/5763237?s=460&v=4" alt="Eric MD Tsai" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Eric MD Tsai</h4>
            <h4 class="headline-3">Taiwan</h4>
            <p>
              Webcompat engineer works on compatibility issue some other helper features.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/mdtsai" title="mdtsai on twitter" target="_blank">twitter@mdtsai </a> <br>
            <a class="bio-icon-github" href="http://github.com/mdtsai" title="mdtsai on github" target="_blank">github@mdtsai </a>
          </p>
        </div>
      </article>

<!-- Guillaume Demesy -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars2.githubusercontent.com/u/1997108?s=460&v=4" alt="Guillaume Demesy" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Guillaume Demesy</h4>
            <h4 class="headline-3">France</h4>
            <p>
              Front-end developer, enjoys coding and being a dad.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/magsout" title="magsout on twitter" target="_blank">twitter@magsout </a> <br>
            <a class="bio-icon-github" href="http://github.com/magsout" title="magsout on github" target="_blank">github@magsout </a>
          </p>
        </div>
      </article>

<!-- Ioana Chiorean -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars2.githubusercontent.com/u/1391451?s=460&v=4" alt="Ioana Chiorean" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Ioana Chiorean</h4>
            <h4 class="headline-3">Romania</h4>
            <p>
              Works in mobile testing, and contributes to open source projects while hacking a coffee or a good wine. Bike lover, community supporter and explorer through running.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="https://twitter.com/ioana_cis" title="ioana_cis on twitter" target="_blank">twitter@ioana_cis </a> <br>
            <a class="bio-icon-github" href="https://github.com/ioana-chiorean" title="ioana-chiorean on github" target="_blank">github@ioana_cis </a>
          </p>
        </div>
      </article>

<!-- Karl Dubost -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars1.githubusercontent.com/u/505230" alt="Karl Dubost" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Karl Dubost</h4>
            <h4 class="headline-3">Japan</h4>
            <p>
              Walking toward every nowhere.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-github" href="http://github.com/karlcow" title="karlcow on github" target="_blank">github@karlcow </a>
          </p>
        </div>
      </article>

<!-- Mike Taylor -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/67283" alt="Mike Taylor" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Mike Taylor</h4>
            <h4 class="headline-3">USA</h4>
            <p>
              Looking at broken web pages like it's 1999. Lives in sunny Austin, TX.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/miketaylr" title="miketaylr on twitter" target="_blank">twitter@miketaylr </a> <br>
            <a class="bio-icon-github" href="http://github.com/miketaylr" title="miketaylr on github" target="_blank">github@miketaylr </a>
          </p>
        </div>
      </article>

<!-- Oana Arbuzov -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars3.githubusercontent.com/u/12184325" alt="Oana Arbuzov" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Oana Arbuzov</h4>
            <h4 class="headline-3">Romania</h4>
            <p>
              I'm a QC Engineer. I enjoy testing on mobile (Android &amp; iOS) and web.
              My hobbies are mountain biking, hiking, swimming, traveling and playing online rpg games.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-github" href="http://github.com/softvision-oana-arbuzov" title="softvision-oana-arbuzov on github" target="_blank">github@softvision-oana-arbuzov </a>
          </p>
        </div>
      </article>

<!-- Ola Gasidlo -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/562354" alt="Ola Gasidlo" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Ola Gasidlo</h4>
            <h4 class="headline-3">Germany</h4>
            <p>
              Loves making the web accessible for everyone, break things and daughter-driven development.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-twitter" href="http://twitter.com/misprintedtype" title="misprintedtype on twitter" target="_blank">twitter@misprintedtype </a> <br>
            <a class="bio-icon-github" href="http://github.com/zoepage" title="zoepage on github" target="_blank">github@zoepage </a>
          </p>
        </div>
      </article>

<!-- Sergiu Logigan -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars2.githubusercontent.com/u/16573771" alt="Sergiu Logigan" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Sergiu Logigan</h4>
            <h4 class="headline-3">Romania</h4>
            <p>
              Helps making the WWW a better place, when he's not biking, hiking or traveling.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-github" href="http://github.com/softvision-sergiulogigan" title="softvision-sergiulogigan on github" target="_blank">github@softvision-sergiulogigan </a>
          </p>
        </div>
      </article>

      <!-- Swarnava Sengupta -->
            <article class="grid-row bio">
              <div class="grid-cell x1-fix">
                <img src="https://avatars0.githubusercontent.com/u/1162991" alt="Swarnava Sengupta" class="bio-img">
              </div>
              <div class="grid-nested x1">
                <div class="grid-cell bio-desc x1">
                  <h4 class="headline-2 highlight">Swarnava Sengupta</h4>
                  <h4 class="headline-3">India</h4>
                  <p>
                    Mozilla QA and User Support contributor, leading the featured add-ons board for addons.mozilla.org.
                  </p>
                </div>
                <p class="grid-cell bio-links x1">
                  <a class="bio-icon-twitter" href="https://twitter.com/sw4rn4v4" title="sw4rn4v4 on twitter" target="_blank">twitter@swarnava </a> <br>
                  <a class="bio-icon-github" href="https://github.com/swarnava" title="swarnava on github" target="_blank">github@swarnava </a>
                </p>
              </div>
            </article>

<!-- Thomas Wisniewski -->
      <article class="grid-row bio">
        <div class="grid-cell x1-fix">
          <img src="https://avatars0.githubusercontent.com/u/419743" alt="Thomas Wisniewski" class="bio-img">
        </div>
        <div class="grid-nested x1">
          <div class="grid-cell bio-desc x1">
            <h4 class="headline-2 highlight">Thomas Wisniewski</h4>
            <h4 class="headline-3">Canada</h4>
            <p>
              Full-stack web developer with an affection for the open web and open source. Diagnoses webcompat bugs, helps out with web standards and browser regressions, and loves good food, good drink and good company.
            </p>
          </div>
          <p class="grid-cell bio-links x1">
            <a class="bio-icon-github" href="http://github.com/wisniewskit" title="wisniewskit on github" target="_blank">github@wisniewskit </a>
          </p>
        </div>
      </article>

      <div class="grid-row">
        <div class="grid-cell x3">
          <a href="https://github.com/orgs/webcompat/people" title="You can find more contributors on Github" target="_blank">and many more...</a>
        </div>
      </div>
  </section>
      </div>
    </section>
  </main>
</div>
{% endblock %}
{%- block extrascripts -%}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/dist/contributors.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/contributors.js') }}"></script>
{%- endif %}
{%- endblock %}
