{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
{% include "shared/nav.html" %}
<section class="grid">
    <article class="grid-row">
		<div class="grid-cell x3">
			<h1 class="headline-1 highlight">Say hello!</h1>
		</div>
		<div class="grid-cell x2">
		    <p>
		    	 No matter, if you want to <a href="./issues/new" title="Report a Bug">report a bug</a>, need help, <a href="./contributors" title="Want to Contribute">want to contribute</a>, let us know. Please keep our <a href="https://github.com/webcompat/webcompat.com/blob/master/CODE_OF_CONDUCT.md" title="Code of Conduct">Code of Conduct</a> in mind as we are an inclusive community. Please use gender-neutral terms (like "folks", "y'all" or "Wompats"), be respectful to each other which includes all of our channels. If you feel like there was a violation of the Code of Conduct, <a href="https://github.com/webcompat/webcompat.com/blob/master/CODE_OF_CONDUCT.md#enforcement" title="feel free to report a Code of Conduct violation">feel free to report</a> it anytime.
		    </p>
		    <p>We are a community and <span class="bold">we're here for you</span>.</p>
		</div>
		<div class="grid-cell x1">
			<p>
				Find our code <a href="https://github.com/webcompat" title="code on Github">on GitHub</a><br />
		    	Find ways <a href="./contributors" title="Find ways to Contribute">to contribute</a><br /><br />
		    	Find us <a href="https://twitter.com/webcompat/with_replies" title="Find us on Twitter">on Twitter</a> (all vendors)
		    	Find us <a href="https://twitter.com/mozwebcompat/with_replies" title="Find us on Twitter">on Twitter</a> (just Mozilla related bugs)
			</p>
		</div>
	</article>
</section>
<section class="grid">
    <article class="grid-row">
		<div class="grid-cell x1">
			<h2 class="headline-2">Channels</h2>
		    <ul>
		    	<li>Join us 
		    		<a href="https://wiki.mozilla.org/IRC#Connect_to_the_Mozilla_IRC_server" title="Join us on IRC">
		    			on IRC
		    		</a>
		    	</li> 
		    	<li>
		    		Join us on our 
		    		<a href="https://lists.mozilla.org/listinfo/compatibility" title="Join us on our mailing list">
		    			mailing list
		    		</a>
		    	</li> 
		    	<li>
		    		Join our
		    		<a href="https://webcompat.slack.com/" title="Join our Slack">
		    			Slack
		    		</a>
		    	</li>
		    </ul>
		    <!-- <h2 class="headline-2">Ways to Contribute</h2>
		    <ul>
		    	<li><a href="./contributors" title="Contribute design work">Design / UX</a></li>
		    	<li><a href="./contributors" title="Write for the project">Write</a></li>
		    	<li><a href="./contributors" title="Speak about web compatibility">Speak</a></li>
		    	<li><a href="./contributors" title="Organize events or sprints">Organize</a></li>
		    	<li><a href="./contributors" title="Build tools">Code</a></li>
		    	<li><a href="./contributors" title="Reach out to sites and suggest a fix">Reach out</a></li>
		    	<li><a href="./contributors" title="Triage and diagnose bugs">Diagnose</a></li>
		    </ul> -->
		</div>
		<div class="grid-cell x2">
		    <p>There are <span class="bold">many ways you are able to contribute</span>. Contributing documentation or copy, design and UX, supporting the community as well as organising events and sprints, even talking about the importance of web compatibility holds the <span class="bold">same value for us</span> as contributing code or taking care of bugs.</p>
		    
		  </div>
    </article>
  </section>
{% endblock %}
