{% extends "layout.html" %}
{% block body %}
<div class="contributors">
{% include "shared/nav.html" %}
  <div class="wc-content">
   <h2 class="contributors__main_title">Webcompat team!<br/>Dive into the resources below to learn how.</h2>
  </div>
  <div class="contributors__list">
    <div class="contributors__item">
      <div class="contributors__item__header">
        <div class="wc-content contributors__item__title">
          <h3><button>How to Replicate a Bug</button></h3>
        </div>
      </div>
      <div class="contributors__item__content wc-content is-open">
         plein de contenu pour voir<br/>
         hjfdhjf
         <h4>test pour voir</h4>
      </div>
    </div>
    <div class="contributors__item">
      <div class="contributors__item__header">
        <div class="wc-content contributors__item__title">
          <h3><button>How to Diagnose a Bug</button></h3>
        </div>
      </div>
      <div class="contributors__item__content wc-content">contenu</div>
    </div>
    <div class="contributors__item">
      <div class="contributors__item__header">
        <div class="wc-content contributors__item__title">
            <h3><button>How to Do Site Outreach</button></h3>
        </div>
      </div>
      <div class="contributors__item__content wc-content">contenu</div>
    </div>
    <div class="contributors__item">
      <div class="contributors__item__header">
        <div class="wc-content contributors__item__title">
          <h3><button>Contribute to this site</button></h3>
        </div>
      </div>
      <div class="contributors__item__content wc-content">contenu</div>
    </div>
  </div>
</div>
{% endblock %}
