{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
{% include "shared/nav.html" %}
  <section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h1 class="headline-1">TODO: Contact</h1>
        <p>Et repellendus voluptatum nobis aut iure sint vel eaque. Nesciunt id architecto alias. Fugiat et quas explicabo. Aspernatur maiores explicabo aut. Autem autem quibusdam sit molestiae maiores blanditiis quis est. Ut laborum qui est dolorem itaque omnis sit incidunt.</p>
      </div>
    </article>
  </section>
{% endblock %}
