{% extends "layout.html" %}
{% block title %}CSS Fix Me{% endblock %}
{% block body %}
{% include "shared/nav.html" %}
  <main class="wc-UIContent" role="main">
    <section class="wc-UISection">
      <div class="wc-CSSFixme">
        <h1 class="wc-Title wc-Title--l">CSS Fix Me</h1>
        <div class="wc-CSSFixme-instruction">
          <div class="wc-CSSFixme-item">
            <strong>You:</strong> paste the CSS code
          </div>
          <div class="wc-CSSFixme-item">
            <strong>Us:</strong> add missing standard properties
          </div>
          <div class="wc-CSSFixme-item">
            <strong>Them:</strong> have a satisfied Web experience. Happy users.
          </div>
        </div>
        <div class="wc-CSSFixme-item">
          <textarea class="wc-Form-input r-all--1of1" style="height:20rem;">{{ csscode }}</textarea>
        </div>
        <div class="wc-CSSFixme-item">
          <label class="wc-block">
            <input type="checkbox" name="compact">Compact output (whitespace only after closing brace)
          </label>
        </div>
        <div class="wc-CSSFixme-item">
          <button type="button" class="wc-Button wc-Button--default" id="btn_do_fixup">Fix it!</button>
        </div>
        <div class="wc-CSSFixme-item">
          <div id="js-CSSFixme"></div>
        </div>
        <div class="wc-CSSFixme-item">
          <p>This tool attempts to fix non-standard CSS by adding standardised equivalents to all declarations that use <em>-webkit-</em>prefixed properties and values that have standardised equivalents. The standardised syntax is not always same as the -webkit- syntax, so getting everything right is a challenge. Please test this tool with various <em>-webkit-</em> prefixed CSS constructs and let us <a class="wc-Link" href="https://github.com/webcompat/css-fixme/issues">know</a> if you find problems.</p>
          <p>Note: some <em>-webkit-</em> prefixed properties do not (yet?) have standardised equivalents. This tool will deliberately not add pseudo-standard code on the assumption that the standards will one day match the current -webkit- implementation.</p>
          <p>This uses the <a class="wc-Link" href="https://github.com/reworkcss/rework">ReworkCSS</a> library for parsing and stringifying CSS.</p>
          <p>Paste CSS in this box to see what needs fixing:</p>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
{%- block extrascripts -%}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/cssfixme.min.js')|bust_cache }}"></script>
{%- else -%}
<script src="{{ url_for('static', filename='js/cssfixme.js') }}"></script>
{%- endif -%}
{%- endblock %}
