<div id="new-report" class="form {% if form.errors %}form-opened{% else %}form-closed{% endif %}">
  <div class="container">
  <form method="post" class="cf" action="/">
    <div class="row">
      <div class="form-group col-md-6 {% if form.url.errors %}has-error{% endif %}">
        {{ form.url.label }}
        {% if form.url.errors %}{% for error in form.url.errors %}
        <span class="help-inline bold">{{ error }}</span>
        {% endfor %}{% endif %}
        <span class="validation-wrapper">
          {{ form.url(class_='form-control required',
                      placeholder='e.g., http://www.example.com', required=True) }}
        </span>
      </div>
      <div class="form-group col-md-6 {% if form.summary.errors %}has-error{% endif %}">
        {{ form.summary.label }}{% if form.summary.errors %}{% for error in form.summary.errors %}
        <span class="help-inline bold">{{ error }}</span>
        {% endfor %}{% endif %}
        <span class="validation-wrapper">
          {{ form.summary(class_='form-control required',
                          placeholder='e.g., Website images are upside down', required=True) }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <p id="site-owner" class="label">Is this your site?</p>
        {% for subradio in form.site_owner %}
        <div class="radio-inline">
          {{ subradio.label }} {{ subradio }}
        </div>
        {% endfor %}
      </div>
      <div class="form-group col-md-6">
        <p class="label">What seems to be the trouble?</p>
        {% for subradio in form.problem_category %}
        <div class="radio">
          {{ subradio.label }} {{ subradio }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form.browser.label }} {{ form.browser(class_='form-control') }}
      </div>
      <div class="form-group col-md-6">
        {{ form.os.label }} {{ form.os(class_='form-control') }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        {{ form.description.label }} {{ form.description(class_='form-control', rows=7) }}
      </div>
    </div>
    <div class="row col-dm-12" aria-hidden="true">
      <div class="form-group col-md-12 {% if form.summary.errors %}has-error{% endif %}">
        {{ form.username.label }}{% if form.username.errors %}{% for error in form.username.errors %}
        <span class="help-inline bold">{{ error }}</span>
        {% endfor %}{% endif %}
        {{ form.username(class_='form-control') }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 submit">
          <button name="submit-type" value="github-auth-report" class="btn Button Button--default" id="submitgithub" type="submit">Report via Github</button>
      </div>
      <div class="col-md-6 submit">
          <button name="submit-type" value="github-proxy-report" class="btn Button Button--action" id="submitanon">Report Anonymously</button>
      </div>
    </div>
    <p class="divider" id="submitdiv">___</p>
  </form>
  </div>
</div>
