{%- extends "layout.html" -%}
{% block title %}Bug reporting for the web{% endblock %}
{%- block body -%}
{% include "nav/topbar.html" %}
<main role="main">
 	{% include "home-page/hero.html" %}
  	{% include "home-page/how-it-works.html" %}
  	{% include "home-page/join-us.html" %}
  	{% include "home-page/browse-issues.html" %}
</main>
{% endblock %}
{%- block extrascripts -%}
<script type="module" src="{{ url_for('static', filename='dist/index.js')|bust_cache }}"></script>
{%- if config.PRODUCTION or config.STAGING -%}
<script nomodule src="{{ url_for('static', filename='dist/index.es5.js')|bust_cache }}"></script>
{%- endif %}
{%- endblock %}
