{%- extends "layout.html" -%}
{%- block body -%}
<div id="hero">
<div id="feedback"><a href="https://github.com/webcompat/webcompat.com/issues?state=open">Give feedback on this site.</a></div>
  <div class="container">
    <div id="maintitle">
      <h1>Bug reporting <br>for the internet.</h1>
      <a id="report-bug" class="closed" href="{{ url_for("new_issue") }}">Report bug  <img id="arrow" src="../img/arrowright.png" alt="arrow"></a>
    </div>
  </div>
</div>
{% include "form.html" %}
<div class="container">
  <div id="howitworks">
    <h2>How It Works</h2>
    <div class="row" id="threesteps">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <span class="bignumber">1</span>
        <p>Report a bug for any website or browser.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <span class="bignumber">2</span>
        <p>Our team of volunteers diagnoses the bug.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <span class="bignumber">3</span>
        <p>We send a fix to the site owner or browser.</p>
      </div>
    </div>
  </div>

 <p class="divider" aria-hidden="true">___</p>

  <div id="join">
    <h2>Join The Team</h2>
    <p>Webcompat.com is a gathering place for the web compatibility community.  This site is a place to report bugs from any website across the web - whether you are a developer or not.  Started by the Mozilla Web Compatibility team, this initiative is a global task force on a mission to improve the web one bug at a time.  Join us!  Let&#39;s work together to make the web a better place to work and play. <a href="{{ url_for("about") }}">Learn More.</a></p>
    <p class="bold">Three Ways to Contribute \o/</p>
    <div class="row" id="threeways">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="../img/step1icon.png" alt="Report bugs">
        <p><a id="report-bug-link" href="{{ url_for("new_issue") }}">Report bugs</a></p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="../img/step2icon.png" alt="Diagnose bugs">
        <p><a href="http://webcompat.com/bugsahoy/?analysis=1">Diagnose bugs</a></p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="../img/step3icon.png" alt="Reach out to sites">
        <p><a href="http://webcompat.com/bugsahoy/?outreach=1">Reach out to sites</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}