{% extends "layout.html" %}
{% block body %}
  <div class="page page--issue-list IssueList">
  {% include "shared/nav.html" %}
    <div class="wc-content wc-content--body IssueList-filtering"></div>
    <div class="IssueList-search">
      <div class="wc-content">
        <form action="" method="post">
          <input type=="text" class="IssueList-search-form" placeholder="Search by keyword"/>
        </form>
      </div>
    </div>
    <div class="IssueList-sorting">
      <div class="wc-content">
        <div class="Dropdown wc-inline-block">
         <button class="Dropdown-toggle js-dropdown-toggle wc-bold"> Show 5 <span class="icon icon-chevron-down"></span></button>
          <ul class="Dropdown-content" aria-hidden="false">
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">10</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">20</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">50</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">100</a></li>
          </ul>
        </div>
        <div class="Dropdown wc-inline-block">
         <button class="Dropdown-toggle js-dropdown-toggle wc-bold"> Newest <span class="icon icon-chevron-down"></span></button>
          <ul class="Dropdown-content" aria-hidden="false">
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Oldest</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Most commented</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Least commented</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Recently updated</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Least updated</a></li>
            <li class="Dropdown-item"><a href="#" class="Dropdown-link">Earlier stage</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="IssueList-displayed">
      <div class="wc-content">
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
        <div class="issue-item issue--untriaged">
          <p class="issue-item-header">
            <a href="/issues/10"><span class="issue-item-count">Issue 10</span>: m;l,kn</a>
          </p>
          <p class="issue-item-metadata">Opened: <time>2014-08-01</time>, comments: 1</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
