{% extends "layout.html" %}
{% block body %}
  <div class="page page--issue">
  {% include "shared/nav.html" %}
    <div class="wc-content wc-content--body issue">
      <h2 class="issue__main_title">
      <script type="text/template" id="title-tmpl">
        <a class="issue__back" href="{{ url_for("index") }}" title="Home">
          <span class="icon icon-arrow-left"></span>
        </a>
        Issue <%= number %>: <%- title %>
      </script>
      </h2>
      <div class="issue__wrapper">
        <!-- Issue Date -->
        <div class="issue__create">
        <script type="text/template" id="metadata-tmpl">
          <div class="issue__state issue__state--<%= stateClass %>"><%= issueState %></div>
          <div class="issue__date">Opened <%= createdAt %> by
            <span class="issue__reporter">
              <a href="https://github.com/<%= reporter %>"><%= reporter %></a>
            </span>. <%= commentNumber %> comments
          </div>
        </script>
        </div>
        <div class="issue__details">
        <!-- Issue Info -->
        <script type="text/template" id="issue-info-tmpl">
          <%= body %>
        </script>
        </div>
        <!-- Issue Labels -->
        <div class="issue__label">
        <script type="text/template" id="issue-labels-tmpl">
          <span class="issue__label_item issue__label_item--title">Labels</span>
          {% if session.user_id and session.avatar_url %}
            <button class="issue__label--modify icon icon-plus"></button>
          {% endif %}
          <% _.each(labels, function(label) { %>
            <span class="issue__label_item" style="background-color:#<%=label.color%>">
              <%= label.name %>
            </span>
          <% }); %>
        </script>
        </div>
        <script type="text/template" id="label-editor-tmpl">
          <div class="label_editor label_editor--caret">
            <div class="label_editor__header">
              <input class="form-control label_editor__search" placeholder="filter label"><button class="label_editor__btn">Save &amp; Close</button>
            </div>
            <div class="label_list">
              <% _.each(labels, function(label) { %>
                <label class="label_item">
                  <span class="label_color" style="background-color:#<%=label.color%>">
                    <input class="label_checkbox" type="checkbox" name="<%= label.name %>" data-color="<%=label.color%>">
                  </span>
                  <span class="label_name"><%= label.name %></span>
                </label>
              <% }); %>
            </div>
          </div>
        </script>
        <!-- Issue Comments -->
        <div class="issue__comment">
          <script type="text/template" id="comment-tmpl">
            <div class="comment__avatar">
              <img src="<%= avatarUrl %>" alt="avatar <%= commenter %>"/>
            </div>
            <div class="comment__body comment__body--caret">
              <div class="comment__wrapper">
                <div class="comment__header">
                  <span class="comment__owner">
                    <a href="https://github.com/<%= commenter %>"><%= commenter %></a>
                  </span> commented <a href="#<%= commentLinkId %>"><%= createdAt %></a>
                </div>
                <div class="comment__content"><%= body %></div>
              </div>
            </div>
          </script>
        </div>

        {% if session.user_id and session.avatar_url %}
        <!-- Create issue comment -->
        <div class="comment comment--form" data-username={{ session.username }} data-avatar-url= {{ session.avatar_url }}>
          <div class="comment__avatar">
            <img class="" src="{{ session.avatar_url }}" alt="Avatar"/>
          </div>
          <div class="comment__body comment__body--caret">
            <div class="comment__drag">
              <!-- TODO(miket) <div class="comment__dd">Attach images by dragging &amp; dropping, <span class="comment__dd__label">selecting them</span> or pasting form the clipboad </div> -->
              <textarea class="comment__wrapper comment__text" placeholder="Leave a comment"></textarea>
            </div>
            <div class="comment__button">
              <!-- TODO(miket) <a class="Button Button--action" href="{{ url_for('index') }}">Close</a> -->
              <button value="comment" class="Button Button--default" type="submit">Comment</button>
            </div>
          </div>
        </div>
        {% else %}
        <p class="issue__login_link">Please <a href="{{ url_for('login') }}">login</a> to leave a comment or add/edit labels.</p>
        {% endif %}
       </div>
    </div>
  </div>
{% endblock %}
{% block extrascripts %}
<script>var issueNumber={{ number }};</script>
{%- if config.PRODUCTION %}
<script src="{{ url_for('static', filename='js/issues.min.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/labels.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/issues.js') }}"></script>
{%- endif %}
{% endblock %}
