{% extends "layout.html" %}
{% block body %}
<div class="wc-IssueList js-issue-page" data-username="{{ session.username }}">
  {% include "shared/nav.html" %}
  <main role="main">

    <div class="wc-Loader js-loader"></div>
    
    <div class="wc-content wc-content--body js-issuelist-filter">
      {% include "issue-list/issue-filter.html" %}
    </div>

    <div class="wc-IssueList-search js-issuelist-search">
      {% include "issue-list/issue-search.html" %}
    </div>

    <div class="wc-IssueList-sorting">
      {% include "issue-list/issue-sorting.html" %}
    </div>

    <div class="wc-IssueList-displayed">
      {% include "issue-list/issue-displayed.html" %}
    </div>

  </main>
</div>

<script type="text/template" id="dropdown-tmpl">
  <button type="button" class="wc-Dropdown-toggle js-dropdown-toggle">
     <h1 class="wc-Dropdown-label"><%= dropdownTitle %></h1> <span class="wc-Icon wc-Icon--chevron-down"></span>
  </button>
  <ul class="wc-Dropdown-content js-dropdown-options" aria-hidden="false">
    <% _.each(dropdownOptions, function(option) { %>
    <li class="wc-Dropdown-item">
      <a href="#" class="wc-Dropdown-link" data-params="<%= option.params %>">
        <%= option.title %>
      </a>
    </li>
    <% }); %>
  </ul>
</script>

{% endblock %}
{% block extrascripts %}
<script>var repoPath="{{config['ISSUES_REPO_URI']}}";</script>
{%- if config.PRODUCTION or config.DEVELOPMENT -%}
<script src="{{ url_for('static', filename='js/issue-list.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/models/issue.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/issue-list.js') }}"></script>
{%- endif %}
{% endblock %}
