{% extends "layout.html" %}
{% block title %}Issues{% endblock %}
{% block body %}
<div class="wc-SearchIssue js-SearchIssue" data-username="{{ session.username }}">
  {% include "nav/nav.html" %}
  <main role="main" data-repo-path="{{config['ISSUES_REPO_URI']}}">

    <div class="wc-Loader js-loader"></div>

    <section class="wc-UISection">
      <div class="wc-UIContent js-SearchIssue-filter">
        {% include "list-issue/search-issue-filter.html" %}
      </div>
    </section>

    <section>
      {% include "list-issue/search-issue-search-form.html" %}
    </section>

    <section class="wc-UISection wc-UISection--backgroundColor">
      <div class="wc-SearchIssue-sorting">
        {% include "list-issue/search-issue-sorting.html" %}
      </div>
      <div class="wc-UIContent js-list-issue">
        {% include "list-issue/issuelist-issue.jst" %}
      </div>
      <div class="wc-SearchIssue-sorting">
        <div class="wc-UIContent">
          {% include "web_modules/pagination.html" %}
        </div>
      </div>
    </section>

  </main>
</div>

{% endblock %}
{% block extrascripts %}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/issue-list.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/models/label-list.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/models/issue.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/mixins/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/issue-list.js') }}"></script>
{%- endif %}
{% endblock %}
