{% extends "layout.html" %}
{% block title %}Issues{% endblock %}
{% block body %}
<div class="js-SearchIssue" data-username="{{ session.username }}">
  {% include "nav/nav.html" %}
  <main role="main" data-repo-path="{{config['ISSUES_REPO_URI']}}">

    <!-- <div class="wc-Loader js-loader"></div> -->

    <section class="grid">
      <div class="js-SearchIssue-filter">
        {% include "list-issue/search-issue-filter.html" %}
      </div>
    </section>

    <section class="grid">
      <div class="grid-row sorting">
        <div class="grid-cell x1 js-SearchIssue-sorting">
          {% include "list-issue/issuelist-sorting.jst" %}
        </div>
        <div class="grid-cell x1 nav-right js-SearchForm">
          {% include "list-issue/issuelist-search.jst" %}
        </div>
        <div class="grid-cell x1 pagination">
          <div class="js-Pagination-controls">
            {% include "web_modules/pagination.html" %}
          </div>
        </div>
      </div>
      <div class="issues-list js-list-issue">
        {% include "list-issue/issuelist-issue.jst" %}
      </div>
      <div class="grid-row js-Pagination-controls">
        <div class="grid-cell x2">&nbsp;</div>
        <div class="grid-cell pagination x1">
          {% include "web_modules/pagination.html" %}
        </div>
      </div>
    </section>

  </main>
</div>

{% endblock %}
{% block extrascripts %}
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/issue-list.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/models/label-list.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/models/issue.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/mixins/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/issue-list.js') }}"></script>
{%- endif %}
{% endblock %}
