{%- extends "layout.html" -%}
{% block title %}New Issue{% endblock %}
{%- block body -%}
{% include "nav/topbar.html" %}
{% include "nav/new-issue-stepper.html" %}
<main role="main" class="grid">
  <section id="js-ReportForm" class="js-ReportForm grid">
    {% include "home-page/form.html" %}
  </section>
</main>
{% endblock %}
{%- block extrascripts -%}
{% if source and campaign %}
<script nonce={{nonce}}>
if (typeof ga == "function") {
  ga('set', 'campaignName', '{{campaign}}');
  ga('set', 'campaignSource', '{{source}}');
}
</script>
{% endif %}
{%- endblock %}
