{%- extends "layout.html" -%}

{% block extracss %}
<link href="{{ url_for('static', filename='css/src/issue-wizard.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}{{ pagetitle }}{% endblock %}
{%- block body -%}
{% include "nav/issue-wizard-stepper.html" %}
{% include "nav/topbar.html" %}
<main role="main" class="grid">
  <section id="js-ReportForm" class="js-ReportForm grid">
    {% include "issue-wizard-form.html" %}
  </section>
</main>
{% endblock %}

{%- block extrascripts -%}
<script src="{{ url_for('static', filename='dist/formv2.js')|bust_cache }}"></script>

{% if source and campaign %}
<script nonce={{nonce}}>
if (typeof ga == "function") {
  ga('set', 'campaignName', '{{campaign}}');
  ga('set', 'campaignSource', '{{source}}');
}
</script>
{% endif %}
{%- endblock %}
