{% extends "layout.html" %}
{% block extracss %}
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="new-report" class="page">
  <div class="container">
  <h2>Bug Report</h2>
  {% if form.errors %}
  <ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" class="cf" action="/issues/new">
    <div class="row">
      <div class="form-group col-md-6">
        {{ form.url.label }} {{ form.url(class_='form-control') }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <p class="label">Is this your site?</p>
        {% for subradio in form.site_owner %}
        <div class="radio-inline">
          {{ subradio.label }} {{ subradio }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <p class="label">What seems to be the trouble?</p>
        {% for subradio in form.problem_category %}
        <div class="radio">
          {{ subradio.label }} {{ subradio }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form.browser.label }} {{ form.browser(class_='form-control') }}
      </div>
      <div class="form-group col-md-6">
        {{ form.version.label }} {{ form.version(class_='form-control') }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        {{ form.summary.label }} {{ form.summary(class_='form-control') }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="description">How can we replicate this?</label>
        {{ form.version.description.label }} {{ form.description(class_='form-control', rows=6) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button id="button1" class="button" type="submit">Report Bug</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}