{% extends "layout.html" %}
{% block body %}
<form method="post" action="/">
 {{ form.url.label }} {{ form.url}}<hr>
 {{ form.site_owner.label }} {{ form.site_owner}}<hr>
 {{ form.problem_category.label }} {{ form.problem_category }}<hr>
 {{ form.browser.label }} {{ form.browser }}<hr>
 {{ form.version.label }} {{ form.version }}<hr>
 {{ form.problem.label }} {{ form.problem }}<hr>
 <label for="description">How can we replicate this?</label>
 {{ form.version.description.label }} {{ form.description }}<hr>
 <a href="#">Cancel</a>
<input type="submit">
</form>
{% endblock %}