{% extends "layout.html" %}
{% block body %}
<div class="page page--privacy">
{% include "shared/nav.html" %}
  <div class="maincontent container">
    <h2>Webcompat.com Privacy Policy</h2>
    <small>Last Updated: July 1, 2014</small>
    <h4>About Us</h4>
    <p><a href="http://www.webcompat.com">Webcompat.com</a> allows you to report web compatibility issues though a simple webform. Volunteers view the reports, identify solutions, and share the reports and solutions with the website admins. For more details see our <a href="about">About page</a>.</p>
    <h4>Public Reports</h4>
    <p>All reports are publicly accessible. Please do not include any confidential or personal information in the content of your report.</p>
    <h4>Reporting Anonymously</h4>
    <p>If you choose the anonymous option, the only information that we’ll receive is the content of your report.</p>
    <h4>Reporting via GitHub</h4>
    <p>If you choose the GitHub option, webcompat.com will receive your GitHub username and avatar.  You can revoke our access to this information at any time from the "Applications" section of your <a href="https://github.com/settings/profile">profile page</a>.</p>
    <h4>Cookies &amp; Analytics</h4>
    <p>If you log into our site using your GitHub user account, webcompat.com will use cookies to record your session information.  The cookie will expire when the session ends, i.e., when you click "logout".</p>
    <p>Webcompat.com also uses Google Analytics to track usage statistics.</p>
  </div>
</div>
{% endblock %}
