{% extends "layout.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block body %}
{% include "nav/nav.html" %}
  <section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h1 class="headline-1 heading">
            Webcompat.com Privacy Policy
        </h1>

        <small class="small">Last Updated: October 24, 2019</small>

        <h3 class="headline-2">About Us</h3>
        <p>
            <a href="./" title="go to the webcompat.com index page">Webcompat.com</a>
            allows you to report web compatibility issues though a simple webform. Volunteers view the reports, identify solutions, then share the reports and solutions with the website admins. For more details see our <a href="about" title="go to the about page">About page</a>.
        </p>
        </div>
    </article>
</section>
<section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h2 class="headline-1 heading">Reports</h2>
        <h3 class="headline-2 ">Public Reports</h3>
        <p>
            All reports are publicly accessible. Please do not include any confidential or personal information in the content of your report.
        </p>
        <p>
            If you choose to upload a screenshot or other image, it will be publicly accessible. Please do not include any confidential or personal information in the screenshot.
        </p>
        <p>
            The User Agent HTTP header that your browser sends will be recorded in the bug report, if you choose to report a bug, but is hidden by default.
        </p>

        <h3 class="headline-2 ">Browser and Site Information</h3>
        <p>
            If an issue is initiated via the built-in "Report Site Issue" feature of Firefox, certain details from the browser will be sent in your report. These include the values of some preferences that relate to content blocking or enabled capabilities, and any error messages or logs the web page is sending to the browser console. If you do not wish to send this information, do not file a report.
        </p>
        <p>
            Issues filed through the website directly, or via user-installed addons do not include this information.
        </p>

        <h3 class="headline-2">Reporting Anonymously</h3>
        <p>
            If you choose the anonymous option, the only information that we’ll receive is the content of your report.
        </p>

        <h3 class="headline-2">Reporting via GitHub</h3>
        <p>
            If you choose the GitHub option, webcompat.com will receive your GitHub username and avatar.  You can revoke our access to this information at any time from the <a href="https://github.com/settings/applications" title="link to Githubs application settings" target="_blank">"Applications" section of your profile page</a>.
        </p>
        </div>
    </article>
</section>
<section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h2 class="headline-1 heading">Logs, Cookies, &amp; Analytics</h2>
        <h3 class="headline-2">Website Logs</h3>
        <p>
            When a bug report is filed on webcompat.com we log your IP address, the time at which the bug was filed, and the URI of the bug report. This data may be used to investigate potential security issues and spam efforts. These logs are only kept for 14 days, after which they are deleted automatically.
        </p>

        <h3 class="headline-2">Cookies</h3>
        <p>
            If you log into our site using your GitHub user account, webcompat.com will use cookies to record your session information. The cookie will expire when the session ends, i.e., when you click "logout".
        </p>

        <p>
          To experiment with different improvements to the site, webcompat.com may use a cookie to serve alternative versions of the site to different users for the duration of an experiment. The experiment cookie will stay on your device until you delete it, or until it expires. The cookie contains only the experiment version you should receive and does not record or provide any personally identifiable information.
        </p>

        <p>If you have enabled <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track (DNT)</a> in your browser, we respect that preference and will not send experiment cookies.</p>

        <h3 class="headline-2">Analytics</h3>
        <p>Webcompat.com also uses Google Analytics to track usage statistics. <a href="https://support.google.com/analytics/answer/7667196#">User and event data will be deleted</a> from the Google Analtyics servers after 14 months.</p>

        <p>If you have enabled <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track (DNT)</a> in your browser, we respect that preference and will not send or collect analytics data.</p>
      </div>
    </article>
</section>
<section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h2 class="headline-1 heading">Contact</h2>
        <p>
            You can find all contact information on <a href="./contact" title="our contact page">our contact page</a>. These are public forums, so please minimize any personal information you choose to share.
        </p>
      </div>
    </article>
  </section>
{% endblock %}
