{% extends "layout.html" %}
{% block title %}Terms of Service{% endblock %}
{% block body %}
{% include "nav/nav.html" %}
  <section class="grid">
    <article class="grid-row">
      <div class="grid-cell x3">
        <h1 class="headline-1 heading">
            Webcompat.com Terms of Service
        </h1>

        <small class="small">Effective Date: January 14, 2020</small>
        <p>
            Webcompat.com is a Service that allows users to report web compatibility issues through a simple web form.
            Volunteers and employees of Mozilla view the reports, identify solutions, then share the reports and solutions
            with the website stewards, or escalate bugs to browser vendors.
            For more details, see our <a href="/about" title="about page">About page</a>.
        </p>
          <h3 class="headline-2" id="acceptable-use">Acceptable Use</h3>

          <p>
              Your use of the webcompat.com website and service must not violate any applicable laws, including copyright or trademark laws,
              export control or sanctions laws, or other laws. You are responsible for making sure that your use of the Service is in compliance
              with laws and any applicable regulations.
          </p>

          <p>
              Webcompat.com is sponsored and hosted by Mozilla, and as such, users are bound by the general
              <a href="https://www.mozilla.org/en-US/about/legal/acceptable-use/" title="Mozilla Conditions of Use">Mozilla Conditions of Use </a> as well as the
              <a href="https://www.mozilla.org/en-US/about/legal/terms/mozilla/" title="Mozilla Websites & Communications Terms of Use">Mozilla Websites & Communications Terms of Use</a>
          </p>
          <p>
              Some parts of webcompat.com are hosted on GitHub, and as such,
              users are bound by <a href="https://help.github.com/en/github/site-policy/github-terms-of-service#c-acceptable-use" title="GitHub Acceptable Use Policies">GitHub Acceptable Use Policies</a>.
          </p>

          <h3 class="headline-2">User Generated Content</h3>
          <p>
              You may create or upload User-Generated Content while using the webcompat.com service,
              but by doing so, you agree to be bound by the
              <a href="https://www.mozilla.org/en-US/about/legal/terms/mozilla/#446-content-submissions" title="Mozilla Websites & Communications Content Submission terms">
                  Mozilla Websites & Communications Content Submission terms
              </a>
              and <a href="https://help.github.com/en/github/site-policy/github-terms-of-service#d-user-generated-content" title="GitHub terms for User-Generated Content">
              GitHub terms for User-Generated Content</a>.
          </p>
          <p>
              We do not review before publication all User-Generated Content, except for anonymous bug reports, but we have the right (though not the obligation) to refuse
              or remove any User-Generated Content that, in our sole discretion, violates any of these terms or policies.
          </p>
          <h3 class="headline-2">Community Participation Guidelines</h3>
          <p>
              In addition to our own <a href="https://github.com/webcompat/webcompat.com/blob/master/CODE_OF_CONDUCT.md" title="our code of conduct">Code of Conduct</a>,
              it's useful to model interactions with other users of the webcompat.com service on the
              <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/" title="Mozilla Community Participation Guidelines">Mozilla Community Participation Guidelines</a>
              as well as the <a href="https://help.github.com/en/github/site-policy/github-community-guidelines" title="GitHub Community Participation Guidelines">GitHub Community Participation Guidelines</a>.
              Behavior that falls into the areas forbidden by either document is unwelcome and will result in further escalation.
          </p>
        </div>
    </article>
</section>
{% endblock %}
