{% extends "layout.html" %}
{% block body %}
{% include "shared/nav.html" %}
  <div class="wc-UISection">
    <main class="wc-UIContent" role="main">
      <h2>Thank you.</h2>
      <p>You're helping us make the web a better place to work and play.</p>
      {% if config['PRODUCTION'] %}
      <p>Check the status of your bug here: <a class="wc-Link" href="https://webcompat.com/issues/{{ number }}">https://webcompat.com/issues/{{ number }}</a></p>
      {% else %}
      <p>Check the status of your bug here: <a class="wc-Link" href="https://github.com/{{ config['ISSUES_REPO_URI'] }}/{{ number }}">https://github.com/{{ config['ISSUES_REPO_URI'] }}/{{ number }}</a></p>
      {% endif %}
      <p><a class="wc-Link" href="{{ url_for("index") }}">Return back home</a>.</p>
      <a class="wc-Button wc-Button--action" href="https://facebook.com/sharer/sharer.php?u={{ encoded_issue }}" target="_blank">Share on Facebook</a>
      <a class="wc-Button wc-Button--action" href="https://twitter.com/intent/tweet?text={{ encoded_text }}&url={{ encoded_issue }}&via=webcompat" target="_blank">Share on Twitter</a>
    </main>
  </div>
{% endblock %}
