<nav id="Nav" class="nav">
    <div class="nav-container  js-SearchBar">
        <ul class="nav-left">
            {%- if request.url_rule.endpoint == 'create_issue' %}

            <li class="nav-item">
                <a class="js-Navbar-link" href="/" title="Navigate to main page.">
                    <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
                        <title>Home</title>
                        <use href="#svg-home2">home</use>
                    </svg>
                    <span class="link-text">Home</span>
                </a>
            </li>
            {%- else %}
                {% include "addon-links.html" %}
            {%- endif %}
        </ul>
        <ul class="nav-right">
            <li class="nav-item">
                <button title="Search for an item.">
                    <svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
                        <use href="#search">Search</use>
                    </svg>
                    <span class="link-text">Search</span>
                </button>
            </li>
        </ul>

<!--
        <div class="wc-SearchBar js-SearchBar">
            <div class="wc-SearchBar-face wc-SearchBar-face&#45;&#45;front">
                    <div class="wc-Navbar-section">
                        <button class="r-ResetButton wc-Navbar-link js-SearchBarOpen">
                            <span class="wc-Navbar-link-icon wc-Icon wc-Icon&#45;&#45;search" aria-hidden="true"></span>
                            <span class="wc-Navbar-link-label">Search</span>
                        </button>
                        {% include "shared/shared-nav-links.html" %}
                    </div>
                </div>
            </div>
            <form class="wc-SearchBar-face wc-SearchBar-face&#45;&#45;back" method="get" action="/issues">
                <div class="wc-SearchBar-icon" aria-hidden="true">
                    <span class="wc-Navbar-link-icon wc-Icon wc-Icon&#45;&#45;search" aria-hidden="true"></span>
                </div>
                <input class="wc-SearchBar-input" name="q" placeholder="Search by keyword"/>
                <button class="r-ResetButton wc-SearchBar-icon wc-SearchBar-icon&#45;&#45;button js-SearchBarClose"
                        aria-hidden="true" type="button">
                    <span class="wc-Icon wc-Icon&#45;&#45;times"></span>
                </button>
            </form>
        </div>

    </div>-->
</nav>

<!--
<nav id="Nav" class="nav">
		<div class="nav-container">
			<ul class="nav-left">
			<li class="nav-item">
				<a href="index.html" title="Navigate to main page.">
					<svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
						<title>Home</title>
					  <use href="#home2">home</use>
					</svg>
					<span class="link-text">Home</span>
				</a>
			</li>
		</ul>
		<ul class="nav-right">
			<li class="nav-item">
				<a href="index.html" title="Search for an item.">
					<svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
					  <use href="#search">Search</use>
					</svg>
					<span class="link-text">Search</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="index.html" title="Contribute to our project.">
					<svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
					  <use href="#users">Contribute</use>
					</svg>
					<span class="link-text">Contribute</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="index.html" title="Take a look at all filed issues.">
					<svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
					  <use href="#list">All issues</use>
					</svg>
					<span class="link-text">All issues</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="index.html" title="Log in with your Github account.">
					<svg class="icon nav-icon" viewBox="0 0 30 30" role="presentation">
					  <use href="#arrow">Log in</use>
					</svg>
					<span class="link-text">Log in</span>
				</a>
			</li>
		</ul>
		</div>
	</nav>
	-->
