<header class="header">
  <nav class="wc-content">
    <div class="nav__section">{%- if browser == 'firefox' %}
      <a class="nav__link" href="https://addons.mozilla.org/en-US/firefox/addon/webcompatcom-reporter/">Download our Firefox Add-on</a>
      {%- elif browser == 'firefox mobile' -%}
      <a class="nav__link" href="addons.mozilla.org/en-US/android/addon/webcompatcom-mobile-reporter/">Download our Firefox for Android Add-on</a>
      {%- elif browser == 'chrome' -%}
      <a class="nav__link" href="https://chrome.google.com/webstore/detail/webcompatcom-reporter/ffnnhckjcpbbjlmgfjigknkoffakclol">Download our Chrome Extension</a>
      {%- elif browser == 'opera' -%}
      <a class="nav__link" href="https://addons.opera.com/en/extensions/details/webcompatcom-reporter/?display=en">Download our Opera Extension</a>
      {%- elif browser == 'safari' -%}
      <a class="nav__link" href="http://webcompat.com/addons/webcompat-reporter.safariextz">Download our Safari Extension</a>
      {% else %}
      <a class="nav__link" href="https://github.com/webcompat/webcompat.com/issues?state=open">Give Feedback</a>{%- endif -%}
    </div><!--
    --><div class="nav__section nav__section--right">
    {% if not session.user_id %}
      <a class="nav__link" href="{{ url_for('login') }}">Login</a>
    {% else %}
      <a class="nav__link" href="{{ url_for('logout') }}">Logout</a>
      {% if session.user_id and session.avatar_url %}
      <img class="nav__avatar" src=" {{ session.avatar_url }}s=40">
      {% endif %}
    {% endif %}
    </div>
  </nav>
</header>
