{% extends "layout.html" %}
{% block title %}{{user}}'s Activity{% endblock %}
{% block body %}
{% include "shared/nav.html" %}
<main role="main">
  <div class="wc-Loader js-loader"></div>
  <section class="wc-UISection">
    <div class="wc-UIContent">
      <h1 class="wc-Title wc-Title--l wc-ResetOffsetBottom js-username">{{user}}'s activity</h1>
    </div>
  </section>
  <section class="wc-UISection wc-UISection--backgroundColor js-list-issue">
    <div id="browse-issues-wrapper">
      {% include "user-activity/reported-by-user.html" %}
      {% include "user-activity/user-mentions.html" %}
    </div>
  </section>
</div>
{% endblock %}
{% block extrascripts %}
<script>var repoPath="{{config['ISSUES_REPO_URI']}}";</script>
{%- if config.PRODUCTION or config.STAGING -%}
<script src="{{ url_for('static', filename='js/user-activity.min.js')|bust_cache }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/lib/models/label-list.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/models/issue.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/mixins/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/user-activity.js') }}"></script>
{%- endif %}
{% endblock %}
