/** @define Navbar */

:root {
  --Navbar-fontSize: var(--base-fontSize);
  --Navbar-backgroundColor: var(--base-colorDark);
}

.wc-Navbar {
  font-size: var(--Navbar-fontSize);
  background-color: var(--Navbar-backgroundColor);
  padding: 1.25em 0.5em;
}
  .wc-Navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wc-Navbar-link,
  .wc-Navbar-linkDropdown {
    display: inline-block;
    color: #414042;
    font-weight:700;
    text-decoration:none;
    cursor: pointer;
  }
  .wc-Navbar-linkDropdown {
    display: block;
  }
    .wc-Navbar-link:hover {
      color: #fff;
    }
    .wc-Navbar-linkDropdown:hover {
      text-decoration: underline;
    }
    /* space between */
    .wc-Navbar-link + .wc-Navbar-link {
      margin-left:1em;
    }
    /* label */
    .wc-Navbar-link-label {
      display:inline-block;
      vertical-align:middle;
      margin-left:.3em;
    }
      @media all and (max-width: 36.25em) {
        .wc-Navbar-link-label {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
      }
    /*icon */
    .wc-Navbar-link-icon {
      font-size:1.2em;
    }
  /* avatar */
  .wc-Navbar-avatar {
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: .3em;
  }

  /* link download addon browser */
  .wc-Navbar-linkDownload-label {
    vertical-align: middle;
  }

  @media all and (max-width: 30em) {
    .wc-Navbar-linkDownload-label-word {
      display: none;
    }
  }

  @media all and (min-width: 30em) {
    .wc-Navbar-linkDownload-icon {
        display: none;
    }
  }
