<script type="text/template" id="comment-tmpl">
  <div class="wc-Comment-body wc-Comment-body--caret">
    <div class="wc-Comment-wrapper">
      <div class="wc-Comment-header">
        <div class="wc-Comment-owner">
          <div class="wc-Comment-owner-avatar">
            <img src="<%= avatarUrl %>" alt="<%= commenter %>">
          </div>
          <div class="wc-Comment-owner-name js-Comment-owner">
            <a class="wc-Link" href="https://github.com/<%= commenter %>"><%= commenter %></a>
          </div>
        </div>
        <div>
          <a class="wc-Link" href="#<%= commentLinkId %>"><%= createdAt %></a>
        </div>
      </div>
      <div class="wc-Comment-content js-Comment-content">
        <div class="wc-Markdown">
          <%= body %>
        </div>
      </div>
    </div>
  </div>
</script>
