<script type="text/template" id="issue-labels-tmpl">
  <span class="wc-Label wc-Label--large">Labels</span>
  {% if session.user_id and session.avatar_url %}
  <span class="wc-Issue-labelEditor js-Issue-labelEditor">
    <button class="wc-LabelEditorLauncher r-ResetButton wc-Icon wc-Icon--gear js-LabelEditorLauncher" aria-hidden="true">
      <span class="wc-Accessibility">Edit Labels</span></button>
  </span>
  {% endif %}
   <span class="js-Label-list">
  <% _.each(labels, function(label) { %>
    <a
  href="/issues?q=label:<%= label.remoteName %>"
  class="wc-Labels js-Label"
  data-remotename="<%= label.remoteName %>"
  title="Labels : <%= label.name %>"
  style="background-color:#<%=label.color%>"
    > <%= label.name %> </a>
  <% }); %>
  </span>
</script>

{% include "web_modules/label-editor.html" %}
