<script type="text/template">
<% _.each(milestones, function(milestone) { %>
  <span class="wc-Label wc-Label--badge js-Milestone"
        style="background-color:#<%=milestone.color%>">
    <%= milestone.name %>
  </span>
<% }); %>
</script>
