<div class="wc-Comment wc-Comment--form js-comment-form" data-username="{{ session.username }}" data-avatar-url="{{ session.avatar_url }}">
  <div class="wc-Comment-avatar">
    <img class="" src="{{ session.avatar_url }}" alt="Avatar"/>
  </div>
  <div class="wc-Comment-body wc-Comment-body--caret">
  <label for="wc-Comment-text" class="wc-Accessibility">Comment Text</label>
    <textarea id="Comment-text" class="wc-Comment-wrapper js-comment-text" placeholder="Leave a comment"></textarea>
    <div class="wc-Form-group js-ImageUploadView">
      <script type="text/template" id="upload-input-tmpl">
        <form>
          <label class="wc-UploadForm" for="image">
            <div class="wc-Form-upload-wrapper">
              <span class="wc-UploadForm-icon" aria-hidden="true">
                <span class="wc-Icon wc-Icon--cloud-upload"></span>
              </span>
              <label class="wc-UploadForm-label">Attach a screenshot image</label>
              <input accept=".jpe,.jpg,.jpeg,.gif,.png,.bmp" class="wc-ButtonUpload js-buttonUpload" id="image" name="image" type="file">
            </div>
          </div>
        </form>
      </script>
    </div>
    <div class="wc-Loader js-loader"></div>
    <div class="wc-Comment-button">
      <button class="wc-Button wc-Button--action js-issue-state-button">
        <script type="text/template" id="state-button-tmpl">
        <%= state %>
        </script>
      </button>
      <button value="comment" class="wc-Button wc-Button--default js-issue-comment-button" type="submit">Comment</button>
    </div>
  </div>
</div>
