<aside class="wc-Issue-aside">
  <div class="wc-Issue-information wc-Issue-information--fullWidth">
    <header class="wc-Issue-information-header wc-Issue-information-header--needstriage">
      <div>Needs Triage</div>
      <div>#398</div>
    </header>
    <div class="wc-Issue-information-content">
      <h1 class="wc-Issue-title js-Issue-title">
         youtube.com - desktop site instead of mobile site
      </h1>
    </div>
    <div class="wc-Issue-information-content">
      <div>Opened: 2016-05-26</div>
      <div>
        Repoter:
        <span class="wc-Issue-reporter">
          <a class="wc-Link" href="https://github.com/">webcompat</a>
        </span>
      </div>
      <div>Comments: 11</div>
    </div>
    <div class="wc-Issue-information-content">
      <div class="wc-Issue-labels js-Issue-labels">
        {% include "issue/issue-labels.html" %}
      </div>
    </div>
  </div>
</aside>
