<script type="text/template">
  <h4>Thanks for reporting an issue!</h4>
  <p>You're helping us make the web a better place to work and play.</p>
  <p>Tell your friends about the bug you just filed:</p>
  <a class="wc-Button wc-Button--action"
     href="https://twitter.com/intent/tweet?text=<%- encodeURIComponent("I just filed a bug on the internet:") %>&url=<%- encodeURIComponent("https://webcompat.com/issues/") %><%= number %>&via=webcompat"
     target="_blank">Share on Twitter</a>
  <a class="wc-Button wc-Button--action"
     href="https://facebook.com/sharer/sharer.php?u=<%- encodeURIComponent("https://webcompat.com/issues/") %><%= number %>"
     target="_blank">Share on Facebook</a>
</script>
