{%- if request.url_rule.endpoint == 'create_issue' %}
  <h1 class="headline-1">Report Site Issue</h1>
{%- endif %}

<form
  action="/issues/new"
  class="form grid-row"
  enctype="multipart/form-data"
  method="post"
  novalidate
>
  <div class="grid-cell">
    <div class="form-text form-element js-Form-group">
      <div class="js-Form-information">
        {{ form.url.label(class_='form-label form-required') }}
        {% if form.url.errors %}
          {% for error in form.url.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {{ form.url(class_='form-field text-field required',
         placeholder='e.g. https://example.com',
         required=True, type='url', pattern='') }}
         <span class="form-input-validation error"></span>
    </div>
    <div class="form-radio form-element js-Form-group">
      <div class="js-Form-information">
        <label class="form-label form-required" for="problem_category">Type of bug</label>
        {% if form.problem_category.errors %}
          {% for error in form.problem_category.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>

      {% for subradio in form.problem_category %}
        {{ subradio(class_='input-radio') }}
        {{ subradio.label(class_='form-label label-radio') }}
      {% endfor %}
    </div>
    <div class="form-text form-element js-Form-group">
      <div class="js-Form-information">
        {{ form.description.label(class_='form-label form-required') }}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>

      {{ form.description(class_='form-field text-field required',
         placeholder="e.g. The video doesn't play",
         required=True) }}
      <span class="form-input-validation error"></span>
    </div>
    <div class="form-text form-element js-Form-group">
      {{ form.steps_reproduce.label(class_='form-label') }}
      {{ form.steps_reproduce(class_='form-field text-field',
         rows=3,
         placeholder="Please be as detailed as possible.") }}
    </div>
  </div>
  <div class="grid-cell form-element-bottom">
    <div class="form-text form-element js-Form-group">
      {{ form.browser.label(class_='form-label') }}
      {{ form.browser(class_='form-field text-field') }}
      <span class="form-input-validation check"></span>
      {{ form.os(class_='form-field text-field') }}
      <span class="form-input-validation check"></span>
    </div>
    <div class="form-radio form-element js-Form-group">
      <div class="js-Form-information">
        {{ form.browser_test.label(class_='form-label') }}
        {% if form.browser_test.errors %}
          {% for error in form.browser_test.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% for subradio in form.browser_test %}
        {{ subradio(class_='input-radio') }}
        {{ subradio.label(class_='form-label label-radio') }}
      {% endfor %}
    </div>
    <div class="form-upload js-image-upload js-Form-group">
        {{ form.image(class_='form-input input-upload', accept='.jpe,.jpg,.jpeg,.gif,.png,.bmp', id='image') }}
        <div class="label-icon label-upload js-label-upload">
          <svg class="icon icon-big" role="presentation" title="Upload Screenshot">
            <use class="icon-upload" href="#svg-plus">Upload Screenshot</use>
          </svg>
          <small class="label-icon-message">Upload screenshot</small>
        </div>

        <div class="label-icon label-remove is-hidden js-remove-upload">
          <svg class="icon icon-big" role="presentation" title="Remove Screenshot">
            <use class="icon-remove" href="#svg-x">Remove Screenshot</use>
          </svg>
          <small class="label-icon-message">Remove screenshot</small>
        </div>

        
        <div class="label-icon label-error is-hidden js-error-upload">
          <svg class="icon icon-big" role="presentation" title="An error occoured">
            <use class="icon-error" href="#svg-warning">An error occoured</use>
          </svg>
          {% if form.image.errors %}
            {% for error in form.image.errors %}
              <small class="label-icon-message">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
    </div>

    <div class="form-button form-element js-Form-group">
      <button
        class="button button-third js-Button"
        id="submitanon"
        name="submit-type"
        type="submit"
        value="github-proxy-report"
      >
        Report Anonymously
      </button>
      <button
        class="button button-primary right js-Button"
        id="submitgithub"
        name="submit-type"
        type="submit"
        value="github-auth-report"
      >
        {% if session.username %}Report as {{ session.username }}{% else %}Report via GitHub{% endif %}
      </button>
    </div>
    <div class="is-hidden" aria-hidden="true">
      <div class="form-text form-element js-Form-group">
        {{ form.username.label(class_='form-label') }}
        {% if form.username.errors %}
          {% for error in form.username.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
        {{ form.username(class_='u-formInput') }}
      </div>
    </div>
  
  {{ form.hidden_tag() }}
</form>
