{%- if request.url_rule.endpoint == 'create_issue' %}
  <h1 class="headline-1">Report Site Issue</h1>
{%- endif %}

<form
  action="/issues/new"
  class="form grid-row js-loader loader"
  enctype="multipart/form-data"
  method="post"
  novalidate
>
  <div class="grid-cell">
    <div class="form-text form-element js-Form-group">
      <div class="js-Form-information form-label-message">
        {{ form.url.label(class_='form-label') }}
        {% if form.url.errors %}
          {% for error in form.url.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {{ form.url(class_='form-field text-field required',
         placeholder='e.g. https://example.com',
         required=True, type='url', pattern='') }}
         <span class="form-input-validation check error"></span>
    </div>
    <div class="form-radio form-element js-Form-group">
      <div class="js-Form-information form-label-message">
        <label class="form-label" for="problem_category">Type of bug (mandatory)</label>
        {% if form.problem_category.errors %}
          {% for error in form.problem_category.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>

      {% for subradio in form.problem_category %}
        {{ subradio(class_='input-radio') }}
        {{ subradio.label(class_='form-label label-radio') }}
      {% endfor %}
    </div>
    <div class="form-text form-element js-Form-group">
      <div class="js-Form-information form-label-message">
        {{ form.description.label(class_='form-label') }}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>

      {{ form.description(class_='form-field text-field required',
         placeholder="e.g. The video doesn't play",
         required=True) }}
      <span class="form-input-validation check error"></span>
    </div>
    <div class="form-text form-element js-Form-group">
      {{ form.steps_reproduce.label(class_='form-label') }}
      {{ form.steps_reproduce(class_='form-field text-field js-autogrow-field',
         rows=3,
         placeholder="Please be as detailed as possible.") }}
    </div>
  </div>
  <div class="grid-cell form-element-bottom">
    <div class="form-text form-element js-Form-group">
      {{ form.browser.label(class_='form-label') }}
      {{ form.browser(class_='form-field text-field') }}
      <span class="form-input-validation check"></span>
    </div>
    <div class="form-text form-element js-Form-group">
      {{ form.os(class_='form-field text-field') }}
      <span class="form-input-validation check js-bug-form-os"></span>
    </div>
    <div class="form-radio form-element js-Form-group">
      <div class="js-Form-information form-label-message">
        {{ form.browser_test.label(class_='form-label') }}
        {% if form.browser_test.errors %}
          {% for error in form.browser_test.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% for subradio in form.browser_test %}
        {{ subradio(class_='input-radio') }}
        {{ subradio.label(class_='form-label label-radio') }}
      {% endfor %}
    </div>
    <div class="form-upload form-element js-image-upload js-Form-group">
        {{ form.image(class_='form-input input-upload', accept='.jpe,.jpg,.jpeg,.gif,.png,.bmp', id='image') }}
        <div class="label-icon label-upload js-label-upload">
          <svg class="icon icon-big" role="presentation" title="Upload Screenshot">
            <use class="icon-upload" xlink:href="#svg-plus">Upload Screenshot</use>
          </svg>
          <small class="label-icon-message">Upload screenshot</small>
        </div>

        <div class="label-icon label-remove is-hidden js-remove-upload">
          <svg class="icon" role="presentation" title="Remove Screenshot">
            <use class="icon-remove" xlink:href="#svg-x">Remove Screenshot</use>
          </svg>
        </div>

        <div class="label-icon label-error is-hidden js-error-upload">
          <svg class="icon icon-big" role="presentation" title="An error occoured">
            <use class="icon-error" xlink:href="#svg-warning">An error occoured</use>
          </svg>
          {% if form.image.errors %}
            {% for error in form.image.errors %}
              <small class="label-icon-message">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
    </div>
    {% if not session.username %}
    <div class="form-text js-Form-group">
      <div class="js-Form-information form-label-message">
        {{ form.contact.label(class_='form-label') }}
        {% if form.contact.errors %}
          {% for error in form.contact.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {{ form.contact(class_='form-field text-field',
         placeholder='GitHub nickname',
         pattern='^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$') }}
         <span class="form-input-validation check error js-bug-form-contact"></span>
    </div>
    {% endif %}
    <div class="form-button form-button-multiple form-element js-Form-group js-report-buttons">
      <div class="button-wrapper js-Button-wrapper">
        <button
          class="button button-secondary js-Button"
          id="submitanon"
          type="submit"
          name="github-proxy-report"
        >
          Report Anonymously
        </button>
      </div>
      <div class="button-wrapper js-Button-wrapper">
        <button
          class="button button-primary right js-Button"
          id="submitgithub"
          type="submit"
          name="github-auth-report"
        >
          {% if session.username %}Report as {{ session.username }}{% else %}Report via GitHub{% endif %}
        </button>
      </div>
    </div>
    <div class="form-text-privacy ">
      All information included in this report will be publicly visible.
      <a href="https://webcompat.com/privacy">Learn More</a>
    </div>
    <div class="is-hidden" aria-hidden="true">
      <div class="form-text form-element js-Form-group">
        {{ form.username.label(class_='form-label') }}
        {% if form.username.errors %}
          {% for error in form.username.errors %}
            <small class="form-message-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
        {{ form.username(class_='u-formInput') }}
      </div>
    </div>

  {{ form.hidden_tag() }}
</form>
