<section class="hero-section color-first-bg">
  <article class="hero-text">
      <h1 class="hero-claim highlight">Bug reporting <br> for the web.</h1>
      <button id="js-ReportBug" type="button" class="button button-hero is-closed" href="{{ url_for("index") }}">
        Report bug
      <svg class="icon-middle" role="presentation" aria-role="hide">
        <title>circle-right</title>
          <use class="button-icon-hero" href="#svg-circle-right">Report bug</use>
      </svg>
      </button>
    </article>
    <aside class="hero-illustration">
      <svg class="hero-illustration-bulb" role="presentation" viewBox="0 0 160 447" aria-role="hide">
        <title>bulb_nobug</title>
        <use href="#svg-bulb_nobug">bulb</use>
      </svg>

      <svg class="hero-illustration-bug bug-animated" role="presentation" viewBox="0 0 47 65" aria-role="hide">
        <title>bulb</title>
        <use href="#svg-bulb">bug</use>
      </svg>
    </aside>
</section>
