<section class="hero-section grid color-first-bg">
  <article class="hero-text">
      <h1 class="hero-claim highlight js-hero-title">Bug reporting <br> for the web.</h1>
      <button id="js-ReportBug" type="button" class="button button-hero is-closed">
        Report bug
      <svg class="icon-middle" role="presentation" aria-hidden="true">
          <use class="button-icon-hero" xlink:href="#svg-circle-right" />
      </svg>
      </button>
    </article>
    <aside class="hero-illustration">
      <svg class="hero-illustration-bulb" role="presentation" viewBox="0 0 160 447" aria-hidden="true">
        <use xlink:href="#svg-bulb" />
      </svg>
      <svg class="hero-illustration-bug bug-animated" role="presentation" viewBox="0 0 47 65" aria-hidden="true">
        <use xlink:href="#svg-bug-animated" />
      </svg>
    </aside>
</section>
