<div class="wc-Hero">
  <div class="wc-UIContent">
    <div class="wc-Hero-wrapper">
      <div class="wc-Hero-textHome ">
        <h1 class="wc-Title wc-Title--xl">
            <span class="wc-Hero-title js-Hero-title">Bug reporting <br>for the internet.</span>
        </h1>
        <a id="js-ReportBug"
           class="wc-Hero-link is-closed"
           href="{{ url_for("index") }}"
        >
          Report bug
          <span class="wc-Hero-link-icon wc-Hero-link-icon--default" aria-hidden="true">
            <span class="wc-Icon wc-Icon--arrow-right"></span>
          </span>
          <span class="wc-Hero-link-icon wc-Hero-link-icon--active" aria-hidden="true">
            <span class="wc-Icon wc-Icon--arrow-down"></span>
          </span>
        </a>
      </div>
        {# TODO - we removed outdated images - include "shared/LightbulbwithBug.svg" #}
    </div>
  </div>
</div>
