<section class="hero-tile grid">
  <div class="grid-row">
    <ul class="tiles tiles-x3 x3">
      <li class="tile-item">
        <h3 class="headline-2 heading">
          <a href="./contributors/report-bug" class="tile-item-link" title="Report a bug">
            Report bugs
          </a>
        </h3>
      </li>

      <li class="tile-item">
        <h3 class="headline-2 heading">
          <a href="./contributors/reproduce-bug" class="tile-item-link" title="Fix a bug">
            Fix bugs
          </a>
        </h3>
      </li>

      <li class="tile-item">
        <h3 class="headline-2 heading">
          <a href="./contributors/site-outreach" class="tile-item-link" title="Reach out to sites and vendors">
            Reach out
          </a>
        </h3>
      </li>

      <li class="tile-item">
        <h3 class="headline-2 heading">
          <a href="./contributors/build-tools" class="tile-item-link" title="Help us to build tools">
            Build tools
          </a>
        </h3>
      </li>

      <li class="tile-item">
        <h3 class="headline-2 heading">
          <a href="./contributors/organize-webcompat-events" class="tile-item-link" title="Spread the word about the importance of web compatibility">
            Spread the word
          </a>
        </h3>
      </li>

      <li class="tile-item">
        <p>
          There are so many  <br />
          other ways to contribute. <br />
          Please <a href="./contact" title="Let us know about your idea.">let us know</a>,  <br />
          if you have ideas!
        </p>
      </li>
    </ul>
  </div>
</section>
