<section class="wc-UISection">
  <div class="wc-UIContent">
    <h2 class="wc-Title wc-Title--l">
      <a id="thanks">
        Thanks
      </a>
    </h2>
    <p class="wc-Thanks-p">Thanks to <a class="wc-Link" href="https://www.browserstack.com" title="Learn more about BrowserStack" target="_blank">BrowserStack</a> for providing the infrastructure that allows us to test in real browsers.
    <div class="wc-Thanks-logo">
      <a class="wc-Link" href="https://www.browserstack.com" title="Learn more about BrowserStack" target="_blank"><span class="wc-Browserstack"></span></a>
    </div>
</p>
  </div>
</section>
