<section class="wc-UISection">
  <div class="wc-UIContent">
    <h2 class="wc-Title wc-Title--l">How It Works</h2>
    <div class="wc-Threesteps">
      <div class="r-Grid r-Grid--withGutter">
        <div class="r-Grid-cell r-all--4of12 r-maxM--12of12">
          <div class="wc-Threesteps-item">
             <span class="wc-Threesteps-item-number">1</span>
             <p class="wc-Threesteps-item-text">Report a bug for any website or browser.</p>
          </div>
        </div>
        <div class="r-Grid-cell r-all--4of12 r-maxM--12of12">
          <div class="wc-Threesteps-item">
            <span class="wc-Threesteps-item-number">2</span>
            <p class="wc-Threesteps-item-text">Our team of volunteers diagnoses the bug.</p>
          </div>
        </div>
        <div class="r-Grid-cell r-all--4of12 r-maxM--12of12">
          <div class="wc-Threesteps-item">
            <span class="wc-Threesteps-item-number">3</span>
            <p class="wc-Threesteps-item-text">We send a fix to the site owner or browser.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
